Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @CH3CHO, @gengleilei, @SpecialYang, @WeixinX, @007gzs, @NameHaibinZhang, @2456868764, @Xunzhuo

CODEOWNERS:

/api @johnlanni @CH3CHO
/envoy @gengleilei @johnlanni
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @CH3CHO
/plugins @johnlanni @WeixinX @CH3CHO
/plugins/wasm-rust @007gzs
/registry @NameHaibinZhang @2456868764 @johnlanni
/test @Xunzhuo @2456868764 @CH3CHO
/tools @johnlanni @Xunzhuo @2456868764

update README
  plugins/wasm-go/extensions/ai-statistics/README.md
Owners: @johnlanni, @WeixinX, @CH3CHO

support ai proxy for cohere (#960) (#1328)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/provider/cohere.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

support ai proxy for cohere (#960) (#1328)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/provider/cohere.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

support ai proxy for cohere (#960) (#1328)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/provider/cohere.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

Fix bugs and verify removal of cache setting
  plugins/wasm-go/extensions/ai-cache/cache/provider.go
  plugins/wasm-go/extensions/ai-cache/config/config.go
  plugins/wasm-go/extensions/ai-cache/core.go
  plugins/wasm-go/extensions/ai-cache/main.go
  plugins/wasm-go/extensions/ai-cache/util.go
  plugins/wasm-go/extensions/ai-cache/vector/dashvector.go
  plugins/wasm-go/extensions/ai-cache/vector/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

fix bugs and update logic as requested
  plugins/wasm-go/extensions/ai-cache/core.go
  plugins/wasm-go/extensions/ai-cache/embedding/dashscope.go
  plugins/wasm-go/extensions/ai-cache/vector/dashvector.go
  plugins/wasm-go/extensions/ai-cache/vector/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

修复conversion_test单元测试
  pkg/ingress/kube/gateway/istio/context.go
  pkg/ingress/kube/gateway/istio/conversion.go
  pkg/ingress/kube/gateway/istio/conversion_test.go
  pkg/ingress/kube/gateway/istio/testdata/invalid.status.yaml.golden
  pkg/ingress/kube/gateway/istio/testdata/invalid.yaml
  pkg/ingress/kube/gateway/istio/testdata/invalid.yaml.golden
Owners: @SpecialYang, @johnlanni, @CH3CHO

chore: 🤖 [frontend-gray] 优化代码风格和命名
  plugins/wasm-go/extensions/frontend-gray/config/config.go
  plugins/wasm-go/extensions/frontend-gray/main.go
  plugins/wasm-go/extensions/frontend-gray/util/utils.go
  plugins/wasm-go/extensions/frontend-gray/util/utils_test.go
Owners: @johnlanni, @WeixinX, @CH3CHO

docs: ✏️ [frontend-gray] userStickyMaxAge 字段为int 类型
  plugins/wasm-go/extensions/frontend-gray/README.md
Owners: @johnlanni, @WeixinX, @CH3CHO

[frontend-gray] Increase gray types according to the ratio-weight gray (#1291)
  plugins/wasm-go/extensions/frontend-gray/README.md
  plugins/wasm-go/extensions/frontend-gray/config/config.go
  plugins/wasm-go/extensions/frontend-gray/envoy.yaml
  plugins/wasm-go/extensions/frontend-gray/main.go
  plugins/wasm-go/extensions/frontend-gray/util/utils.go
  plugins/wasm-go/extensions/frontend-gray/util/utils_test.go
Owners: @johnlanni, @WeixinX, @CH3CHO

[frontend-gray] Increase gray types according to the ratio-weight gray (#1291)
  plugins/wasm-go/extensions/frontend-gray/README.md
  plugins/wasm-go/extensions/frontend-gray/config/config.go
  plugins/wasm-go/extensions/frontend-gray/envoy.yaml
  plugins/wasm-go/extensions/frontend-gray/main.go
  plugins/wasm-go/extensions/frontend-gray/util/utils.go
  plugins/wasm-go/extensions/frontend-gray/util/utils_test.go
Owners: @johnlanni, @WeixinX, @CH3CHO

[frontend-gray] Increase gray types according to the ratio-weight gray (#1291)
  plugins/wasm-go/extensions/frontend-gray/README.md
  plugins/wasm-go/extensions/frontend-gray/config/config.go
  plugins/wasm-go/extensions/frontend-gray/envoy.yaml
  plugins/wasm-go/extensions/frontend-gray/main.go
  plugins/wasm-go/extensions/frontend-gray/util/utils.go
  plugins/wasm-go/extensions/frontend-gray/util/utils_test.go
Owners: @johnlanni, @WeixinX, @CH3CHO

extract consts
  plugins/wasm-go/extensions/ai-statistics/main.go
Owners: @johnlanni, @WeixinX, @CH3CHO

feat: add annotation for mirror svc (#1121)
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/mirror.go
  pkg/ingress/kube/annotations/mirror_test.go
  pkg/ingress/kube/util/util.go
  plugins/wasm-go/extensions/oidc/go.mod
  test/e2e/conformance/base/manifests.yaml
  test/e2e/conformance/tests/httproute-mirror-target-service.go
  test/e2e/conformance/tests/httproute-mirror-target-service.yaml
Owners: @SpecialYang, @johnlanni, @CH3CHO, @WeixinX, @Xunzhuo, @2456868764

feat: add annotation for mirror svc (#1121)
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/mirror.go
  pkg/ingress/kube/annotations/mirror_test.go
  pkg/ingress/kube/util/util.go
  plugins/wasm-go/extensions/oidc/go.mod
  test/e2e/conformance/base/manifests.yaml
  test/e2e/conformance/tests/httproute-mirror-target-service.go
  test/e2e/conformance/tests/httproute-mirror-target-service.yaml
Owners: @SpecialYang, @johnlanni, @CH3CHO, @WeixinX, @Xunzhuo, @2456868764

feat: add annotation for mirror svc (#1121)
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/mirror.go
  pkg/ingress/kube/annotations/mirror_test.go
  pkg/ingress/kube/util/util.go
  plugins/wasm-go/extensions/oidc/go.mod
  test/e2e/conformance/base/manifests.yaml
  test/e2e/conformance/tests/httproute-mirror-target-service.go
  test/e2e/conformance/tests/httproute-mirror-target-service.yaml
Owners: @SpecialYang, @johnlanni, @CH3CHO, @WeixinX, @Xunzhuo, @2456868764

optimize
  plugins/wasm-go/extensions/ai-statistics/main.go
Owners: @johnlanni, @WeixinX, @CH3CHO

parse config optimize
  plugins/wasm-go/extensions/ai-statistics/main.go
Owners: @johnlanni, @WeixinX, @CH3CHO

feat: create podmonitor cr in helm chart (#1157)
  helm/core/templates/_helpers.tpl
  helm/core/templates/_pod.tpl
  helm/core/templates/daemonset.yaml
  helm/core/templates/deployment.yaml
  helm/core/templates/podmonitor.yaml
  helm/core/values.yaml
Owners: none

feat: create podmonitor cr in helm chart (#1157)
  helm/core/templates/_helpers.tpl
  helm/core/templates/_pod.tpl
  helm/core/templates/daemonset.yaml
  helm/core/templates/deployment.yaml
  helm/core/templates/podmonitor.yaml
  helm/core/values.yaml
Owners: none

feat: create podmonitor cr in helm chart (#1157)
  helm/core/templates/_helpers.tpl
  helm/core/templates/_pod.tpl
  helm/core/templates/daemonset.yaml
  helm/core/templates/deployment.yaml
  helm/core/templates/podmonitor.yaml
  helm/core/values.yaml
Owners: none

add istio workload sds
  helm/core/templates/_pod.tpl
Owners: none

optimize
  plugins/wasm-go/extensions/ai-security-guard/main.go
Owners: @johnlanni, @WeixinX, @CH3CHO

Update README.md
  plugins/wasm-go/extensions/ai-agent/README.md
Owners: @johnlanni, @WeixinX, @CH3CHO

Update README.md
  plugins/wasm-go/extensions/ai-agent/README.md
Owners: @johnlanni, @WeixinX, @CH3CHO

Update README.md
  plugins/wasm-go/extensions/ai-agent/README.md
Owners: @johnlanni, @WeixinX, @CH3CHO

Update README.md
  plugins/wasm-go/extensions/ai-agent/README.md
Owners: @johnlanni, @WeixinX, @CH3CHO

Update README.md
  plugins/wasm-go/extensions/ai-agent/README.md
Owners: @johnlanni, @WeixinX, @CH3CHO

Update README.md
  plugins/wasm-go/extensions/ai-agent/README.md
Owners: @johnlanni, @WeixinX, @CH3CHO

update
  plugins/wasm-go/extensions/ai-security-guard/README-en.md
  plugins/wasm-go/extensions/ai-security-guard/README.md
  plugins/wasm-go/extensions/ai-security-guard/main.go
Owners: @johnlanni, @WeixinX, @CH3CHO

remove original config
  plugins/wasm-go/extensions/ai-security-guard/main.go
Owners: @johnlanni, @WeixinX, @CH3CHO

update README
  plugins/wasm-go/extensions/ai-security-guard/README.md
  plugins/wasm-go/extensions/ai-security-guard/README_EN.md
  plugins/wasm-go/extensions/ai-security-guard/main.go
Owners: @johnlanni, @WeixinX, @CH3CHO

update README
  plugins/wasm-go/extensions/ai-statistics/README.md
  plugins/wasm-go/extensions/ai-statistics/README_EN.md
Owners: @johnlanni, @WeixinX, @CH3CHO

add advanced usage
  plugins/wasm-go/extensions/ai-statistics/README.md
Owners: @johnlanni, @WeixinX, @CH3CHO

fix: when there is a non-ip IPAddr in Eureka, delete it to avoid a failure in EDS
  registry/eureka/client/http_client.go
Owners: @NameHaibinZhang, @2456868764, @johnlanni

support doubao
  plugins/wasm-go/extensions/ai-proxy/provider/doubao.go
Owners: @johnlanni, @WeixinX, @CH3CHO

update README
  plugins/wasm-go/extensions/ai-proxy/README.md
Owners: @johnlanni, @WeixinX, @CH3CHO

add istio workload sds (#1332)
  helm/core/templates/_pod.tpl
Owners: none

add istio workload sds (#1332)
  helm/core/templates/_pod.tpl
Owners: none

add istio workload sds (#1332)
  helm/core/templates/_pod.tpl
Owners: none
