Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @CH3CHO, @gengleilei, @SpecialYang, @WeixinX, @007gzs, @NameHaibinZhang, @2456868764, @Xunzhuo

CODEOWNERS:

/api @johnlanni @CH3CHO
/envoy @gengleilei @johnlanni
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @CH3CHO
/plugins @johnlanni @WeixinX @CH3CHO
/plugins/wasm-rust @007gzs
/registry @NameHaibinZhang @2456868764 @johnlanni
/test @Xunzhuo @2456868764 @CH3CHO
/tools @johnlanni @Xunzhuo @2456868764

merge with main
  pkg/ingress/kube/util/util.go
Owners: @SpecialYang, @johnlanni, @CH3CHO

merge with main
  pkg/ingress/kube/util/util.go
Owners: @SpecialYang, @johnlanni, @CH3CHO

update react template, add multi-round dialogue support, add streaming mode support #1309
  plugins/wasm-go/extensions/ai-agent/config.go
  plugins/wasm-go/extensions/ai-agent/main.go
  plugins/wasm-go/extensions/ai-agent/promptTpl/prompt.go
Owners: @johnlanni, @WeixinX, @CH3CHO

feat: Add links to Higress related repositories to README files
  README.md
  README_EN.md
Owners: none

feat: Add links to Higress related repositories to README files (#1312)
  README.md
  README_EN.md
Owners: none

feat: Add links to Higress related repositories to README files (#1312)
  README.md
  README_EN.md
Owners: none

feat: Add links to Higress related repositories to README files (#1312)
  README.md
  README_EN.md
Owners: none

Modify code normality, modify README
  plugins/wasm-go/extensions/ai-agent/README.md
  plugins/wasm-go/extensions/ai-agent/README_EN.md
  plugins/wasm-go/extensions/ai-agent/config.go
  plugins/wasm-go/extensions/ai-agent/main.go
Owners: @johnlanni, @WeixinX, @CH3CHO

feat: Support status sync for Gateway API resources
  pkg/ingress/kube/gateway/controller.go
  pkg/ingress/kube/gateway/istio/context.go
  pkg/ingress/kube/gateway/istio/controller.go
  pkg/ingress/kube/gateway/istio/conversion_test.go
Owners: @SpecialYang, @johnlanni, @CH3CHO

feat: Support status sync for Gateway API resources
  pkg/ingress/kube/gateway/controller.go
  pkg/ingress/kube/gateway/istio/context.go
Owners: @SpecialYang, @johnlanni, @CH3CHO

Optimize query flow logic (not fully tested)
  plugins/wasm-go/extensions/ai-cache/core.go
  plugins/wasm-go/extensions/ai-cache/main.go
  plugins/wasm-go/extensions/ai-cache/util.go
  plugins/wasm-go/extensions/ai-cache/vector/dashvector.go
  plugins/wasm-go/extensions/ai-cache/vector/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

修复ResolveGatewayInstances端口匹配逻辑
  pkg/ingress/kube/gateway/istio/context.go
  pkg/ingress/kube/gateway/istio/conversion_test.go
  pkg/ingress/kube/gateway/istio/testdata/invalid.status.yaml.golden
Owners: @SpecialYang, @johnlanni, @CH3CHO

modify README
  plugins/wasm-go/extensions/ai-agent/README.md
  plugins/wasm-go/extensions/ai-agent/README_EN.md
Owners: @johnlanni, @WeixinX, @CH3CHO

modify README
  plugins/wasm-go/extensions/ai-agent/README_EN.md
Owners: @johnlanni, @WeixinX, @CH3CHO

ai-agent插件新版本 (#1311)
  plugins/wasm-go/extensions/ai-agent/README.md
  plugins/wasm-go/extensions/ai-agent/README_EN.md
  plugins/wasm-go/extensions/ai-agent/config.go
  plugins/wasm-go/extensions/ai-agent/main.go
  plugins/wasm-go/extensions/ai-agent/promptTpl/prompt.go
Owners: @johnlanni, @WeixinX, @CH3CHO

ai-agent插件新版本 (#1311)
  plugins/wasm-go/extensions/ai-agent/README.md
  plugins/wasm-go/extensions/ai-agent/README_EN.md
  plugins/wasm-go/extensions/ai-agent/config.go
  plugins/wasm-go/extensions/ai-agent/main.go
  plugins/wasm-go/extensions/ai-agent/promptTpl/prompt.go
Owners: @johnlanni, @WeixinX, @CH3CHO

ai-agent插件新版本 (#1311)
  plugins/wasm-go/extensions/ai-agent/README.md
  plugins/wasm-go/extensions/ai-agent/README_EN.md
  plugins/wasm-go/extensions/ai-agent/config.go
  plugins/wasm-go/extensions/ai-agent/main.go
  plugins/wasm-go/extensions/ai-agent/promptTpl/prompt.go
Owners: @johnlanni, @WeixinX, @CH3CHO

add bailian support
  plugins/wasm-go/extensions/ai-proxy/main.go
  plugins/wasm-go/extensions/ai-proxy/provider/bailian.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

change implementation
  plugins/wasm-go/extensions/ai-proxy/provider/bailian.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
  plugins/wasm-go/extensions/ai-proxy/provider/qwen.go
Owners: @johnlanni, @WeixinX, @CH3CHO

ext auth plugin support set service host
  plugins/wasm-go/extensions/ext-auth/README.md
  plugins/wasm-go/extensions/ext-auth/README_EN.md
  plugins/wasm-go/extensions/ext-auth/config.go
Owners: @johnlanni, @WeixinX, @CH3CHO

implementation v3
  plugins/wasm-go/extensions/ai-proxy/main.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
  plugins/wasm-go/extensions/ai-proxy/provider/qwen.go
Owners: @johnlanni, @WeixinX, @CH3CHO

update README
  plugins/wasm-go/extensions/ai-proxy/README.md
Owners: @johnlanni, @WeixinX, @CH3CHO

update README
  plugins/wasm-go/extensions/ai-proxy/README.md
Owners: @johnlanni, @WeixinX, @CH3CHO

update README
  plugins/wasm-go/extensions/ai-proxy/README.md
Owners: @johnlanni, @WeixinX, @CH3CHO

add bailian support (#1319)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/main.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
  plugins/wasm-go/extensions/ai-proxy/provider/qwen.go
Owners: @johnlanni, @WeixinX, @CH3CHO

add bailian support (#1319)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/main.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
  plugins/wasm-go/extensions/ai-proxy/provider/qwen.go
Owners: @johnlanni, @WeixinX, @CH3CHO

add bailian support (#1319)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/main.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
  plugins/wasm-go/extensions/ai-proxy/provider/qwen.go
Owners: @johnlanni, @WeixinX, @CH3CHO

ext auth plugin support set service host (#1320)
  plugins/wasm-go/extensions/ext-auth/README.md
  plugins/wasm-go/extensions/ext-auth/README_EN.md
  plugins/wasm-go/extensions/ext-auth/config.go
Owners: @johnlanni, @WeixinX, @CH3CHO

ext auth plugin support set service host (#1320)
  plugins/wasm-go/extensions/ext-auth/README.md
  plugins/wasm-go/extensions/ext-auth/README_EN.md
  plugins/wasm-go/extensions/ext-auth/config.go
Owners: @johnlanni, @WeixinX, @CH3CHO

ext auth plugin support set service host (#1320)
  plugins/wasm-go/extensions/ext-auth/README.md
  plugins/wasm-go/extensions/ext-auth/README_EN.md
  plugins/wasm-go/extensions/ext-auth/config.go
Owners: @johnlanni, @WeixinX, @CH3CHO

chore: 🤖 优化CR中提出的问题
  plugins/wasm-go/extensions/frontend-gray/README.md
  plugins/wasm-go/extensions/frontend-gray/config/config.go
  plugins/wasm-go/extensions/frontend-gray/envoy.yaml
  plugins/wasm-go/extensions/frontend-gray/main.go
  plugins/wasm-go/extensions/frontend-gray/util/utils.go
  plugins/wasm-go/extensions/frontend-gray/util/utils_test.go
Owners: @johnlanni, @WeixinX, @CH3CHO

support ai proxy for cohere (#960)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/provider/cohere.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

fix based on recommendation (#960)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/provider/cohere.go
Owners: @johnlanni, @WeixinX, @CH3CHO

stash
  plugins/wasm-go/extensions/ai-proxy/provider/doubao.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

update README
  plugins/wasm-go/extensions/ai-statistics/README.md
Owners: @johnlanni, @WeixinX, @CH3CHO

Update README.md
  plugins/wasm-go/extensions/ext-auth/README.md
Owners: @johnlanni, @WeixinX, @CH3CHO

Update README.md
  plugins/wasm-go/extensions/ext-auth/README.md
Owners: @johnlanni, @WeixinX, @CH3CHO

Update README.md
  plugins/wasm-go/extensions/ext-auth/README.md
Owners: @johnlanni, @WeixinX, @CH3CHO

update
  plugins/wasm-go/extensions/ai-statistics/README.md
  plugins/wasm-go/extensions/ai-statistics/main.go
Owners: @johnlanni, @WeixinX, @CH3CHO

update README
  plugins/wasm-go/extensions/ai-statistics/README.md
Owners: @johnlanni, @WeixinX, @CH3CHO
