Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

optimize makefile for buildx
  Makefile.core.mk
  docker/docker.mk
Owners: none

feat: Update get-higress.sh to include descriptions of file storage
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

feat: Update tags of gateway and pilot images to 1.1.1
  Makefile.core.mk
  helm/core/values.yaml
Owners: none

feat: Update get-higress.sh to include descriptions of file storage (#492)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

feat: Update get-higress.sh to include descriptions of file storage (#492)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

feat: Update get-higress.sh to include descriptions of file storage (#492)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

feat: Update tags of gateway and pilot images to 1.1.1 (#493)
  Makefile.core.mk
  helm/core/values.yaml
Owners: none

feat: Update tags of gateway and pilot images to 1.1.1 (#493)
  Makefile.core.mk
  helm/core/values.yaml
Owners: none

feat: Update tags of gateway and pilot images to 1.1.1 (#493)
  Makefile.core.mk
  helm/core/values.yaml
Owners: none

optimize makefile for buildx (#489)
  Makefile.core.mk
  docker/docker.mk
Owners: none

optimize makefile for buildx (#489)
  Makefile.core.mk
  docker/docker.mk
Owners: none

optimize makefile for buildx (#489)
  Makefile.core.mk
  docker/docker.mk
Owners: none

add consul cluster
  plugins/wasm-go/pkg/wrapper/cluster_wrapper.go
Owners: @johnlanni

feat: Update image tag management mechanisms 1. Use tag values in values.yaml as an override 2. Use .Chart.AppVersion as the default image tag
  helm/core/templates/controller-deployment.yaml
  helm/core/values.yaml
Owners: none

feat: Update image tag management mechanisms (#495)
  helm/core/templates/controller-deployment.yaml
  helm/core/values.yaml
Owners: none

feat: Update image tag management mechanisms (#495)
  helm/core/templates/controller-deployment.yaml
  helm/core/values.yaml
Owners: none

feat: Update image tag management mechanisms (#495)
  helm/core/templates/controller-deployment.yaml
  helm/core/values.yaml
Owners: none

add consul cluster (#494)
  plugins/wasm-go/pkg/wrapper/cluster_wrapper.go
Owners: @johnlanni

add consul cluster (#494)
  plugins/wasm-go/pkg/wrapper/cluster_wrapper.go
Owners: @johnlanni

add consul cluster (#494)
  plugins/wasm-go/pkg/wrapper/cluster_wrapper.go
Owners: @johnlanni

Kingress Comments
  pkg/ingress/config/ingress_config.go
  pkg/ingress/config/kingress_config.go
  pkg/ingress/kube/kingress/controller.go
  pkg/ingress/kube/kingress/controller_test.go
  pkg/ingress/kube/kingress/resources/names/doc.go
  pkg/ingress/kube/kingress/resources/names/names.go
  pkg/ingress/kube/kingress/resources/names/names_test.go
  pkg/ingress/kube/kingress/resources/util.go
  pkg/kube/client.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Delete goold.mod
  goold.mod
Owners: none

Delete kingress_config.go.zip
  pkg/ingress/config/kingress_config.go.zip
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: annotation example
  pkg/cmd/hgctl/plugin/types/annotation.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add command 'hgctl plugin init'
  pkg/cmd/hgctl/plugin/init/init.go
  pkg/cmd/hgctl/plugin/init/templates.go
  pkg/cmd/hgctl/plugin/plugin.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Update kind-load-image.sh
  tools/hack/kind-load-image.sh
Owners: @johnlanni, @Xunzhuo

Delete plugins/wasm-go/extensions/qwen-proxy directory
  plugins/wasm-go/extensions/qwen-proxy/Dockerfile
  plugins/wasm-go/extensions/qwen-proxy/README.md
  plugins/wasm-go/extensions/qwen-proxy/go.mod
  plugins/wasm-go/extensions/qwen-proxy/go.sum
  plugins/wasm-go/extensions/qwen-proxy/main.go
Owners: @johnlanni

Update ingress_config.go
  pkg/ingress/config/ingress_config.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

添加WasmPluginsJwtAuth E2E
  test/e2e/conformance/tests/jwt-auth.go
  test/e2e/conformance/tests/jwt-auth.yaml
Owners: @Xunzhuo

添加e2e_test cases列表
  test/e2e/e2e_test.go
Owners: @Xunzhuo

A plugin that implements token parsing and authentication function based on wasm-go (#485)
  plugins/wasm-go/extensions/jwt-auth/README.md
  plugins/wasm-go/extensions/jwt-auth/VERSION
  plugins/wasm-go/extensions/jwt-auth/go.mod
  plugins/wasm-go/extensions/jwt-auth/go.sum
  plugins/wasm-go/extensions/jwt-auth/main.go
  test/e2e/conformance/tests/jwt-auth.go
  test/e2e/conformance/tests/jwt-auth.yaml
  test/e2e/e2e_test.go
Owners: @johnlanni, @Xunzhuo

A plugin that implements token parsing and authentication function based on wasm-go (#485)
  plugins/wasm-go/extensions/jwt-auth/README.md
  plugins/wasm-go/extensions/jwt-auth/VERSION
  plugins/wasm-go/extensions/jwt-auth/go.mod
  plugins/wasm-go/extensions/jwt-auth/go.sum
  plugins/wasm-go/extensions/jwt-auth/main.go
  test/e2e/conformance/tests/jwt-auth.go
  test/e2e/conformance/tests/jwt-auth.yaml
  test/e2e/e2e_test.go
Owners: @johnlanni, @Xunzhuo

A plugin that implements token parsing and authentication function based on wasm-go (#485)
  plugins/wasm-go/extensions/jwt-auth/README.md
  plugins/wasm-go/extensions/jwt-auth/VERSION
  plugins/wasm-go/extensions/jwt-auth/go.mod
  plugins/wasm-go/extensions/jwt-auth/go.sum
  plugins/wasm-go/extensions/jwt-auth/main.go
  test/e2e/conformance/tests/jwt-auth.go
  test/e2e/conformance/tests/jwt-auth.yaml
  test/e2e/e2e_test.go
Owners: @johnlanni, @Xunzhuo

feat: Update get-higress.sh 1. Support arm64 platforms 2. Update the description of file config URL 3. Exclude test folder when decompressing the install package
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

feat: update get-higress.sh (#500)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

feat: update get-higress.sh (#500)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

feat: update get-higress.sh (#500)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

feat: add option
  pkg/cmd/hgctl/plugin/option/option.go
  pkg/cmd/hgctl/plugin/option/template.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

refactor: 'hgctl plugin build'
  pkg/cmd/hgctl/plugin/build/build.go
  pkg/cmd/hgctl/plugin/build/templates.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: 'hgctl plugin build': fix 'config' and something else
  go.mod
  go.sum
  pkg/cmd/hgctl/plugin/build/build.go
  pkg/cmd/hgctl/plugin/option/option.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo
