Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

optimize rds (#655)
  envoy/1.20/patches/envoy/20231124-rds-optimize.patch
Owners: @gengleilei, @johnlanni, @Lynskylate

optimize rds (#655)
  envoy/1.20/patches/envoy/20231124-rds-optimize.patch
Owners: @gengleilei, @johnlanni, @Lynskylate

fix x-ca-timestamp validate (#653)
  plugins/wasm-cpp/extensions/hmac_auth/plugin.cc
Owners: @johnlanni

fix x-ca-timestamp validate (#653)
  plugins/wasm-cpp/extensions/hmac_auth/plugin.cc
Owners: @johnlanni

fix x-ca-timestamp validate (#653)
  plugins/wasm-cpp/extensions/hmac_auth/plugin.cc
Owners: @johnlanni

Testing (#1)
  .github/workflows/build-and-test.yaml
  plugins/wasm-go/extensions/key-auth/go.mod
  plugins/wasm-go/extensions/key-auth/go.sum
  plugins/wasm-go/extensions/key-auth/keyauth.yaml
  plugins/wasm-go/extensions/key-auth/main.go
  test/e2e/conformance/tests/go-wasm-key-auth.go
Owners: @johnlanni, @Xunzhuo

revert unittest yaml
  .github/workflows/build-and-test.yaml
Owners: none

revert unittest yaml
  .github/workflows/build-and-test.yaml
Owners: none

Fix bug for when Http2Rpc been delete or addupdate need to push xds server.
  pkg/ingress/config/ingress_config.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add gzip in configmap
  pkg/ingress/kube/configmap/config.go
  pkg/ingress/kube/configmap/controller.go
  pkg/ingress/kube/configmap/gzip.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: only when tracing.enable is true, need validate tracing provider number
  pkg/ingress/kube/configmap/tracing.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix struct gzip envoy filter
  pkg/ingress/kube/configmap/gzip.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Fix bug for when Http2Rpc been delete or addupdate need to push xds server (#657)
  pkg/ingress/config/ingress_config.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Fix bug for when Http2Rpc been delete or addupdate need to push xds server (#657)
  pkg/ingress/config/ingress_config.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Fix bug for when Http2Rpc been delete or addupdate need to push xds server (#657)
  pkg/ingress/config/ingress_config.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

optimize ci
  .github/workflows/build-and-test-plugin.yaml
  .github/workflows/build-and-test.yaml
Owners: none

optimize ci (#659)
  .github/workflows/build-and-test-plugin.yaml
  .github/workflows/build-and-test.yaml
Owners: none

optimize ci (#659)
  .github/workflows/build-and-test-plugin.yaml
  .github/workflows/build-and-test.yaml
Owners: none

optimize ci (#659)
  .github/workflows/build-and-test-plugin.yaml
  .github/workflows/build-and-test.yaml
Owners: none

fix gzip default values
  pkg/ingress/kube/configmap/gzip.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

optimize import
  pkg/ingress/kube/configmap/gzip.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

chanage global config to struct
  plugins/wasm-go/extensions/basic-auth/main.go
  plugins/wasm-go/extensions/key-auth/main.go
Owners: @johnlanni

add oauth go-wasm plugin
  plugins/wasm-go/extensions/oauth/README.md
  plugins/wasm-go/extensions/oauth/VERSION
  plugins/wasm-go/extensions/oauth/go.mod
  plugins/wasm-go/extensions/oauth/go.sum
  plugins/wasm-go/extensions/oauth/main.go
  test/e2e/conformance/tests/go-wasm-oauth-basic.go
  test/e2e/conformance/tests/go-wasm-oauth-basic.yaml
  test/e2e/conformance/tests/go-wasm-oauth-empty-consumer.go
  test/e2e/conformance/tests/go-wasm-oauth-empty-consumer.yaml
  test/e2e/conformance/tests/go-wasm-oauth-expired-token.go
  test/e2e/conformance/tests/go-wasm-oauth-expired-token.yaml
  test/e2e/conformance/tests/go-wasm-oauth-route-auth.go
  test/e2e/conformance/tests/go-wasm-oauth-route-auth.yaml
Owners: @johnlanni, @Xunzhuo

prompt profile configmap edit command after finishing install and upgrade
  pkg/cmd/hgctl/installer/installer_k8s.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

modify higress profile configmap name
  pkg/cmd/hgctl/installer/profile_store.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

update struct documentation
  plugins/wasm-go/extensions/key-auth/main.go
Owners: @johnlanni

feat: store profile to configmap or home dir and merge profiles to select when upgrade and uninstall (#649)
  pkg/cmd/hgctl/helm/common.go
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/higress.go
  pkg/cmd/hgctl/installer/installer_docker.go
  pkg/cmd/hgctl/installer/installer_k8s.go
  pkg/cmd/hgctl/installer/profile_store.go
  pkg/cmd/hgctl/installer/standalone.go
  pkg/cmd/hgctl/kubernetes/client.go
  pkg/cmd/hgctl/uninstall.go
  pkg/cmd/hgctl/upgrade.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: store profile to configmap or home dir and merge profiles to select when upgrade and uninstall (#649)
  pkg/cmd/hgctl/helm/common.go
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/higress.go
  pkg/cmd/hgctl/installer/installer_docker.go
  pkg/cmd/hgctl/installer/installer_k8s.go
  pkg/cmd/hgctl/installer/profile_store.go
  pkg/cmd/hgctl/installer/standalone.go
  pkg/cmd/hgctl/kubernetes/client.go
  pkg/cmd/hgctl/uninstall.go
  pkg/cmd/hgctl/upgrade.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: store profile to configmap or home dir and merge profiles to select when upgrade and uninstall (#649)
  pkg/cmd/hgctl/helm/common.go
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/higress.go
  pkg/cmd/hgctl/installer/installer_docker.go
  pkg/cmd/hgctl/installer/installer_k8s.go
  pkg/cmd/hgctl/installer/profile_store.go
  pkg/cmd/hgctl/installer/standalone.go
  pkg/cmd/hgctl/kubernetes/client.go
  pkg/cmd/hgctl/uninstall.go
  pkg/cmd/hgctl/upgrade.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

revert global ruleSet
  plugins/wasm-go/extensions/basic-auth/main.go
  plugins/wasm-go/extensions/key-auth/main.go
Owners: @johnlanni

Update build-and-test-plugin.yaml
  .github/workflows/build-and-test-plugin.yaml
Owners: none

Update build-and-test-plugin.yaml
  .github/workflows/build-and-test-plugin.yaml
Owners: none

Update build-and-test-plugin.yaml
  .github/workflows/build-and-test-plugin.yaml
Owners: none

bugfix: Avoid printing error messages when repair commands do not exist
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

bugfix: Avoid printing error messages when repair commands do not exist
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Update build-and-test-plugin.yaml
  .github/workflows/build-and-test-plugin.yaml
Owners: none

Update build-and-test-plugin.yaml
  .github/workflows/build-and-test-plugin.yaml
Owners: none

Update build-and-test-plugin.yaml
  .github/workflows/build-and-test-plugin.yaml
Owners: none

avoid printing error messages cannot open browser
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

avoid printing error messages cannot open browser
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo
