Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo

add gc-test plugin (#597)
  plugins/wasm-go/extensions/gc-test/README.md
  plugins/wasm-go/extensions/gc-test/VERSION
  plugins/wasm-go/extensions/gc-test/go.mod
  plugins/wasm-go/extensions/gc-test/go.sum
  plugins/wasm-go/extensions/gc-test/main.go
Owners: @johnlanni

fix: Fix local image building targets
  Makefile.core.mk
Owners: none

cds use fallback cluster
  istio/1.12/patches/istio/20231024-cds-add-fallback.patch
Owners: @SpecialYang, @johnlanni

cds use fallback cluster (#600)
  istio/1.12/patches/istio/20231024-cds-add-fallback.patch
Owners: @SpecialYang, @johnlanni

cds use fallback cluster (#600)
  istio/1.12/patches/istio/20231024-cds-add-fallback.patch
Owners: @SpecialYang, @johnlanni

cds use fallback cluster (#600)
  istio/1.12/patches/istio/20231024-cds-add-fallback.patch
Owners: @SpecialYang, @johnlanni

Update Makefile.core.mk
  Makefile.core.mk
Owners: none

Update Makefile.core.mk
  Makefile.core.mk
Owners: none

Update Makefile.core.mk
  Makefile.core.mk
Owners: none

fix fallback envoy version check bug (#441)
  test/e2e/conformance/tests/httproute-default-backend.go
  test/e2e/conformance/tests/httproute-default-backend.yaml
Owners: @Xunzhuo

fix fallback envoy version check bug (#441)
  test/e2e/conformance/tests/httproute-default-backend.go
  test/e2e/conformance/tests/httproute-default-backend.yaml
Owners: @Xunzhuo

fix fallback envoy version check bug (#441)
  test/e2e/conformance/tests/httproute-default-backend.go
  test/e2e/conformance/tests/httproute-default-backend.yaml
Owners: @Xunzhuo

fix bug
  plugins/wasm-go/extensions/oidc/README.md
  plugins/wasm-go/extensions/oidc/main.go
  plugins/wasm-go/extensions/oidc/oc/Config.go
  plugins/wasm-go/extensions/oidc/oc/Provide.go
  plugins/wasm-go/extensions/oidc/oc/exchange.go
  plugins/wasm-go/extensions/oidc/oc/verifer.go
Owners: @johnlanni

fix hmac auth
  plugins/wasm-cpp/extensions/hmac_auth/plugin.cc
  plugins/wasm-cpp/extensions/hmac_auth/plugin_test.cc
Owners: @johnlanni

fix hmac auth (#603)
  plugins/wasm-cpp/extensions/hmac_auth/plugin.cc
  plugins/wasm-cpp/extensions/hmac_auth/plugin_test.cc
Owners: @johnlanni

fix hmac auth (#603)
  plugins/wasm-cpp/extensions/hmac_auth/plugin.cc
  plugins/wasm-cpp/extensions/hmac_auth/plugin_test.cc
Owners: @johnlanni

fix hmac auth (#603)
  plugins/wasm-cpp/extensions/hmac_auth/plugin.cc
  plugins/wasm-cpp/extensions/hmac_auth/plugin_test.cc
Owners: @johnlanni

fix: Fix local image building targets (#599)
  Makefile.core.mk
Owners: none

fix: Fix local image building targets (#599)
  Makefile.core.mk
Owners: none

fix: Fix local image building targets (#599)
  Makefile.core.mk
Owners: none

update key auth config
  plugins/wasm-go/extensions/key-auth/README.md
  plugins/wasm-go/extensions/key-auth/README_EN.md
  plugins/wasm-go/extensions/key-auth/common/consumer.go
  plugins/wasm-go/extensions/key-auth/common/consumer_test.go
  plugins/wasm-go/extensions/key-auth/common/routerule.go
  plugins/wasm-go/extensions/key-auth/go.mod
  plugins/wasm-go/extensions/key-auth/go.sum
  plugins/wasm-go/extensions/key-auth/keyauth.yaml
  plugins/wasm-go/extensions/key-auth/main.go
Owners: @johnlanni

diff with oauth2-proxy
  plugins/wasm-go/extensions/oidc/doc/Oidc.md
Owners: @johnlanni

update e2e unittest case
  test/e2e/conformance/tests/go-wasm-key-auth.go
  test/e2e/conformance/tests/go-wasm-key-auth.yaml
Owners: @Xunzhuo

fix: Change variable visibility and naming
  pkg/cmd/hgctl/plugin/build/templates.go
  pkg/cmd/hgctl/plugin/config/templates.go
  pkg/cmd/hgctl/plugin/init/templates.go
  pkg/cmd/hgctl/plugin/install/asker.go
  pkg/cmd/hgctl/plugin/option/template.go
  pkg/cmd/hgctl/plugin/test/templates.go
  pkg/cmd/hgctl/plugin/types/model_parser.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: Fix image building targets
  Makefile.core.mk
  docker/docker.mk
  tools/hack/build-pilot.sh
  tools/hack/prebuild.sh
Owners: @johnlanni, @Xunzhuo

Move submodules to its respective folders
  .gitmodules
Owners: none

add installation for higress standalone in local docker environment
  go.mod
  pkg/cmd/hgctl/dashboard.go
  pkg/cmd/hgctl/helm/common.go
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/installer.go
  pkg/cmd/hgctl/installer/installer_docker.go
  pkg/cmd/hgctl/installer/installer_k8s.go
  pkg/cmd/hgctl/installer/standalone.go
  pkg/cmd/hgctl/installer/standalone_agent.go
  pkg/cmd/hgctl/manifest.go
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-docker.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
  pkg/cmd/hgctl/uninstall.go
  pkg/cmd/hgctl/upgrade.go
  pkg/cmd/hgctl/util/http_fetcher.go
  pkg/cmd/hgctl/util/util.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix dashboard cmd to support kubeconfig with persistent flags
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix go.mod
  go.mod
Owners: none

fix error
  plugins/wasm-go/extensions/oidc/README.md
  plugins/wasm-go/extensions/oidc/doc/Oidc.md
  plugins/wasm-go/extensions/oidc/go.mod
  plugins/wasm-go/extensions/oidc/go.sum
  plugins/wasm-go/extensions/oidc/main.go
  plugins/wasm-go/extensions/oidc/oc/Config.go
  plugins/wasm-go/extensions/oidc/oc/Provide.go
  plugins/wasm-go/extensions/oidc/oc/Util.go
  plugins/wasm-go/extensions/oidc/oc/cookie.go
  plugins/wasm-go/extensions/oidc/oc/encryption.go
  plugins/wasm-go/extensions/oidc/oc/exchange.go
  plugins/wasm-go/extensions/oidc/oc/jwks.go
  plugins/wasm-go/extensions/oidc/oc/verifer.go
  test/e2e/conformance/tests/go-wasm-oidc.yaml
Owners: @johnlanni, @Xunzhuo

change
  plugins/wasm-go/extensions/oidc/oc/Provide.go
Owners: @johnlanni

fix error
  plugins/wasm-go/extensions/oidc/main.go
  test/e2e/conformance/tests/go-wasm-oidc.yaml
Owners: @johnlanni, @Xunzhuo

fix error
  plugins/wasm-go/extensions/jwt-auth/doc/Oidc.md
  plugins/wasm-go/extensions/jwt-auth/doc/auth0_0.png
  plugins/wasm-go/extensions/jwt-auth/doc/auth0_1.png
  plugins/wasm-go/extensions/jwt-auth/doc/keyclocak_0.png
  plugins/wasm-go/extensions/jwt-auth/doc/keyclocak_1.png
  plugins/wasm-go/extensions/jwt-auth/doc/keyclocak_2.png
  plugins/wasm-go/extensions/jwt-auth/doc/keyclocak_3.png
  plugins/wasm-go/extensions/jwt-auth/doc/oath_2.png
  plugins/wasm-go/extensions/jwt-auth/doc/okta_1.png
  plugins/wasm-go/extensions/jwt-auth/doc/okta_2.png
  plugins/wasm-go/extensions/jwt-auth/doc/okta_3.png
  plugins/wasm-go/extensions/jwt-auth/doc/okta_4.png
  plugins/wasm-go/extensions/oidc/README.md
  plugins/wasm-go/extensions/oidc/main.go
  plugins/wasm-go/extensions/oidc/oc/config.go
  plugins/wasm-go/extensions/oidc/oc/provider.go
  plugins/wasm-go/extensions/oidc/oc/util.go
  test/e2e/conformance/tests/go-wasm-oidc.yaml
Owners: @johnlanni, @Xunzhuo

fix error
  plugins/wasm-go/extensions/oidc_copy/doc/Oidc.md
  plugins/wasm-go/extensions/oidc_copy/doc/auth0_0.png
  plugins/wasm-go/extensions/oidc_copy/doc/auth0_1.png
  plugins/wasm-go/extensions/oidc_copy/doc/keyclocak_0.png
  plugins/wasm-go/extensions/oidc_copy/doc/keyclocak_1.png
  plugins/wasm-go/extensions/oidc_copy/doc/keyclocak_2.png
  plugins/wasm-go/extensions/oidc_copy/doc/keyclocak_3.png
  plugins/wasm-go/extensions/oidc_copy/doc/oath_2.png
  plugins/wasm-go/extensions/oidc_copy/doc/okta_1.png
  plugins/wasm-go/extensions/oidc_copy/doc/okta_2.png
  plugins/wasm-go/extensions/oidc_copy/doc/okta_3.png
  plugins/wasm-go/extensions/oidc_copy/doc/okta_4.png
Owners: @johnlanni

fix error
  plugins/wasm-go/extensions/oidc/doc/Oidc.md
  plugins/wasm-go/extensions/oidc/doc/auth0_0.png
  plugins/wasm-go/extensions/oidc/doc/auth0_1.png
  plugins/wasm-go/extensions/oidc/doc/keyclocak_0.png
  plugins/wasm-go/extensions/oidc/doc/keyclocak_1.png
  plugins/wasm-go/extensions/oidc/doc/keyclocak_2.png
  plugins/wasm-go/extensions/oidc/doc/keyclocak_3.png
  plugins/wasm-go/extensions/oidc/doc/oath_2.png
  plugins/wasm-go/extensions/oidc/doc/okta_1.png
  plugins/wasm-go/extensions/oidc/doc/okta_2.png
  plugins/wasm-go/extensions/oidc/doc/okta_3.png
  plugins/wasm-go/extensions/oidc/doc/okta_4.png
Owners: @johnlanni

change log level
  plugins/wasm-go/extensions/oidc/main.go
  plugins/wasm-go/extensions/oidc/oc/provider.go
Owners: @johnlanni

fix error
  test/e2e/conformance/tests/go-wasm-oidc.yaml
Owners: @Xunzhuo

fix timeout
  test/e2e/conformance/tests/go-wasm-oidc.yaml
Owners: @Xunzhuo

fix timeout
  test/e2e/conformance/tests/go-wasm-oidc.yaml
Owners: @Xunzhuo

Fix local image building targets
  .gitignore
  Makefile.core.mk
  tools/hack/build-envoy.sh
  tools/hack/build-istio-image.sh
  tools/hack/build-istio-pilot.sh
  tools/hack/prebuild.sh
  tools/hack/setup-istio-env.sh
Owners: @johnlanni, @Xunzhuo
