Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo

fix args
  pkg/cmd/server.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: go mod tidy
  plugins/wasm-go/extensions/chatgpt-azure-director/go.sum
Owners: @johnlanni

fix args (#434)
  pkg/cmd/server.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix args (#434)
  pkg/cmd/server.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix args (#434)
  pkg/cmd/server.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

enable PILOT_FILTER_GATEWAY_CLUSTER_CONFIG (#433)
  helm/core/templates/controller-deployment.yaml
Owners: none

enable PILOT_FILTER_GATEWAY_CLUSTER_CONFIG (#433)
  helm/core/templates/controller-deployment.yaml
Owners: none

enable PILOT_FILTER_GATEWAY_CLUSTER_CONFIG (#433)
  helm/core/templates/controller-deployment.yaml
Owners: none

add consul configration in mcpbridge pb
  api/networking/v1/mcp_bridge.proto
Owners: @johnlanni

add consul registry
  go.mod
  go.sum
  registry/consul/watcher.go
  registry/reconcile/reconcile.go
Owners: @NameHaibinZhang, @johnlanni

add generate api code
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/mcp_bridge.pb.go
Owners: @johnlanni

add consul watcher
  registry/consul/watcher.go
Owners: @NameHaibinZhang, @johnlanni

add generate api code
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/mcp_bridge.pb.go
Owners: @johnlanni

add consul configration in mcpbridge pb
  api/networking/v1/mcp_bridge.proto
Owners: @johnlanni

fix go mod path in waf plugin
  plugins/wasm-go/extensions/waf/go.mod
Owners: @johnlanni

fix go mod path in waf plugin (#440)
  plugins/wasm-go/extensions/waf/go.mod
Owners: @johnlanni

fix go mod path in waf plugin (#440)
  plugins/wasm-go/extensions/waf/go.mod
Owners: @johnlanni

fix go mod path in waf plugin (#440)
  plugins/wasm-go/extensions/waf/go.mod
Owners: @johnlanni

fix fallback evnoy version check bug
  istio/1.12/patches/istio/20230716-fix-fallback-bug.patch
  test/e2e/conformance/tests/httproute-default-backend.go
  test/e2e/conformance/tests/httproute-default-backend.yaml
  test/e2e/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Xunzhuo

update default backend e2e testing file
  test/e2e/conformance/tests/httproute-default-backend.go
  test/e2e/conformance/tests/httproute-default-backend.yaml
  test/e2e/e2e_test.go
Owners: @Xunzhuo

feat: support use docker image to build cpp wasmplugin at local
  plugins/wasm-cpp/Dockerfile
  plugins/wasm-cpp/Makefile
Owners: @johnlanni

fix lock bug
  registry/consul/watcher.go
Owners: @NameHaibinZhang, @johnlanni

add license
  registry/consul/watcher.go
Owners: @NameHaibinZhang, @johnlanni

fix import
  registry/reconcile/reconcile.go
Owners: @NameHaibinZhang, @johnlanni

feat: support make build cpp wasmplugin and do e2e test
  Makefile.core.mk
  plugins/wasm-cpp/README.md
  plugins/wasm-cpp/README_EN.md
  test/README.md
  test/e2e/conformance/tests/cpp-key_auth.go
  test/e2e/conformance/tests/cpp-key_auth.yaml
  test/e2e/conformance/tests/cpp-request_block.go
  test/e2e/conformance/tests/cpp-request_block.yaml
  test/e2e/e2e_test.go
  tools/hack/build-wasm-plugins.sh
Owners: @johnlanni, @Xunzhuo

fix: fix kubetype-gen for http2rpc wrong plural value issue
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  client/pkg/apis/networking/v1/types.gen.go
Owners: @johnlanni

feat: add higress base image
  Makefile.core.mk
  docker/Dockerfile.base
  docker/docker.mk
Owners: none

feat: add higress base image (#423)
  Makefile.core.mk
  docker/Dockerfile.base
  docker/docker.mk
Owners: none

feat: add higress base image (#423)
  Makefile.core.mk
  docker/Dockerfile.base
  docker/docker.mk
Owners: none

feat: add higress base image (#423)
  Makefile.core.mk
  docker/Dockerfile.base
  docker/docker.mk
Owners: none

fix: fix kubetype-gen for http2rpc wrong plural value issue (#447)
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  client/pkg/apis/networking/v1/types.gen.go
Owners: @johnlanni

fix: fix kubetype-gen for http2rpc wrong plural value issue (#447)
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  client/pkg/apis/networking/v1/types.gen.go
Owners: @johnlanni

fix: fix kubetype-gen for http2rpc wrong plural value issue (#447)
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  client/pkg/apis/networking/v1/types.gen.go
Owners: @johnlanni

fix: change the e2e_test file param name start with lowercase
  Makefile.core.mk
  test/e2e/e2e_test.go
Owners: @Xunzhuo

Wasm cpp bazel (#446)
  Makefile.core.mk
  plugins/wasm-cpp/Dockerfile
  plugins/wasm-cpp/Makefile
  plugins/wasm-cpp/README.md
  plugins/wasm-cpp/README_EN.md
  test/README.md
  test/e2e/conformance/tests/cpp-key_auth.go
  test/e2e/conformance/tests/cpp-key_auth.yaml
  test/e2e/conformance/tests/cpp-request_block.go
  test/e2e/conformance/tests/cpp-request_block.yaml
  test/e2e/e2e_test.go
  tools/hack/build-wasm-plugins.sh
Owners: @johnlanni, @Xunzhuo

Wasm cpp bazel (#446)
  Makefile.core.mk
  plugins/wasm-cpp/Dockerfile
  plugins/wasm-cpp/Makefile
  plugins/wasm-cpp/README.md
  plugins/wasm-cpp/README_EN.md
  test/README.md
  test/e2e/conformance/tests/cpp-key_auth.go
  test/e2e/conformance/tests/cpp-key_auth.yaml
  test/e2e/conformance/tests/cpp-request_block.go
  test/e2e/conformance/tests/cpp-request_block.yaml
  test/e2e/e2e_test.go
  tools/hack/build-wasm-plugins.sh
Owners: @johnlanni, @Xunzhuo

Wasm cpp bazel (#446)
  Makefile.core.mk
  plugins/wasm-cpp/Dockerfile
  plugins/wasm-cpp/Makefile
  plugins/wasm-cpp/README.md
  plugins/wasm-cpp/README_EN.md
  test/README.md
  test/e2e/conformance/tests/cpp-key_auth.go
  test/e2e/conformance/tests/cpp-key_auth.yaml
  test/e2e/conformance/tests/cpp-request_block.go
  test/e2e/conformance/tests/cpp-request_block.yaml
  test/e2e/e2e_test.go
  tools/hack/build-wasm-plugins.sh
Owners: @johnlanni, @Xunzhuo

add auth option for registry
  pkg/ingress/config/ingress_config.go
  registry/auth_option.go
  registry/consul/watcher.go
  registry/nacos/v2/watcher.go
  registry/nacos/watcher.go
  registry/reconcile/reconcile.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

modify mcpbridge proto
  api/networking/v1/mcp_bridge.proto
Owners: @johnlanni

update proto gen
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/mcp_bridge.pb.go
Owners: @johnlanni
