Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo

support fallback cluster with gateway api
  Makefile.core.mk
  istio/1.12/patches/istio/20231008-gateway-fallback.patch
Owners: @SpecialYang, @johnlanni

Suppport fallback cluster (#575)
  Makefile.core.mk
  envoy/1.20/patches/envoy/20231008-fallback-origin-cluster.patch
  istio/1.12/patches/istio/20231008-gateway-fallback.patch
Owners: @gengleilei, @johnlanni, @Lynskylate, @SpecialYang

Suppport fallback cluster (#575)
  Makefile.core.mk
  envoy/1.20/patches/envoy/20231008-fallback-origin-cluster.patch
  istio/1.12/patches/istio/20231008-gateway-fallback.patch
Owners: @gengleilei, @johnlanni, @Lynskylate, @SpecialYang

Suppport fallback cluster (#575)
  Makefile.core.mk
  envoy/1.20/patches/envoy/20231008-fallback-origin-cluster.patch
  istio/1.12/patches/istio/20231008-gateway-fallback.patch
Owners: @gengleilei, @johnlanni, @Lynskylate, @SpecialYang

add new envoy tar
  Makefile.core.mk
  VERSION
Owners: none

add new envoy tar (#576)
  Makefile.core.mk
  VERSION
Owners: none

add new envoy tar (#576)
  Makefile.core.mk
  VERSION
Owners: none

add new envoy tar (#576)
  Makefile.core.mk
  VERSION
Owners: none

add istio&envoy image tag
  Makefile.core.mk
Owners: none

add istio&envoy image tag (#578)
  Makefile.core.mk
Owners: none

add istio&envoy image tag (#578)
  Makefile.core.mk
Owners: none

add istio&envoy image tag (#578)
  Makefile.core.mk
Owners: none

Update httproute-default-backend.go
  test/e2e/conformance/tests/httproute-default-backend.go
Owners: @Xunzhuo

Delete istio/1.12/patches/istio/20230716-fix-fallback-bug.patch
  istio/1.12/patches/istio/20230716-fix-fallback-bug.patch
Owners: @SpecialYang, @johnlanni

Update httproute-default-backend.go
  test/e2e/conformance/tests/httproute-default-backend.go
Owners: @Xunzhuo

fix: Add back URI rewrite support via regex
  pkg/ingress/kube/annotations/rewrite.go
  pkg/ingress/kube/annotations/rewrite_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Update httproute-default-backend.go
  test/e2e/conformance/tests/httproute-default-backend.go
Owners: @Xunzhuo

fix: Re-generate files from wasm.proto
  api/extensions/v1alpha1/wasm.pb.go
  api/extensions/v1alpha1/wasm_deepcopy.gen.go
  api/extensions/v1alpha1/wasm_json.gen.go
Owners: @johnlanni

fix: No update prompt if the target folder contains an unconfigured Higress instance
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

fix: No update prompt if the target folder contains an unconfigured Higress instance (#583)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

fix: No update prompt if the target folder contains an unconfigured Higress instance (#583)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

fix: No update prompt if the target folder contains an unconfigured Higress instance (#583)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

security: Remove GitHub PAT from code samples
  plugins/wasm-go/extensions/de-graphql/README.md
Owners: @johnlanni

security: Remove GitHub PAT from code samples (#584)
  plugins/wasm-go/extensions/de-graphql/README.md
Owners: @johnlanni

security: Remove GitHub PAT from code samples (#584)
  plugins/wasm-go/extensions/de-graphql/README.md
Owners: @johnlanni

security: Remove GitHub PAT from code samples (#584)
  plugins/wasm-go/extensions/de-graphql/README.md
Owners: @johnlanni

Add interface
  plugins/wasm-go/extensions/oidc/doc/Oidc.md
  plugins/wasm-go/extensions/oidc/doc/auth0_0.png
  plugins/wasm-go/extensions/oidc/doc/auth0_1.png
  plugins/wasm-go/extensions/oidc/doc/keyclocak_0.png
  plugins/wasm-go/extensions/oidc/doc/keyclocak_1.png
  plugins/wasm-go/extensions/oidc/doc/keyclocak_2.png
  plugins/wasm-go/extensions/oidc/doc/keyclocak_3.png
  plugins/wasm-go/extensions/oidc/doc/oath_2.png
  plugins/wasm-go/extensions/oidc/doc/okta_1.png
  plugins/wasm-go/extensions/oidc/doc/okta_2.png
  plugins/wasm-go/extensions/oidc/doc/okta_3.png
  plugins/wasm-go/extensions/oidc/doc/okta_4.png
  plugins/wasm-go/extensions/oidc/main.go
  plugins/wasm-go/extensions/oidc/oc/Config.go
  plugins/wasm-go/extensions/oidc/oc/Provide.go
  plugins/wasm-go/extensions/oidc/oc/Provider.go
  plugins/wasm-go/extensions/oidc/oc/Util.go
  plugins/wasm-go/extensions/oidc/oc/exchange.go
  plugins/wasm-go/extensions/oidc/oc/jwks.go
  plugins/wasm-go/extensions/oidc/oc/ocUtil.go
  plugins/wasm-go/extensions/oidc/oc/verifer.go
Owners: @johnlanni

delete
  test/e2e/conformance/tests/go-wasm-oidc.yaml
Owners: @Xunzhuo

change plugin version
  test/e2e/conformance/tests/go-wasm-oidc.yaml
Owners: @Xunzhuo

add key auth plugin
  plugins/wasm-go/extensions/key-auth/README.md
  plugins/wasm-go/extensions/key-auth/VERSION
  plugins/wasm-go/extensions/key-auth/go.mod
  plugins/wasm-go/extensions/key-auth/go.sum
  plugins/wasm-go/extensions/key-auth/keyauth.yaml
  plugins/wasm-go/extensions/key-auth/main.go
Owners: @johnlanni

fix valid
  plugins/wasm-go/extensions/key-auth/main.go
Owners: @johnlanni

replace with higress-group/nottinygc
  plugins/wasm-go/go.mod
  plugins/wasm-go/go.sum
Owners: @johnlanni

replace with higress-group/nottinygc (#588)
  plugins/wasm-go/go.mod
  plugins/wasm-go/go.sum
Owners: @johnlanni

replace with higress-group/nottinygc (#588)
  plugins/wasm-go/go.mod
  plugins/wasm-go/go.sum
Owners: @johnlanni

replace with higress-group/nottinygc (#588)
  plugins/wasm-go/go.mod
  plugins/wasm-go/go.sum
Owners: @johnlanni

fix: Fix something
  pkg/cmd/hgctl/plugin/build/build.go
  pkg/cmd/hgctl/plugin/init/templates.go
  pkg/cmd/hgctl/plugin/install/asker.go
  pkg/cmd/hgctl/plugin/install/install.go
  pkg/cmd/hgctl/plugin/option/option.go
  pkg/cmd/hgctl/plugin/option/template.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add gc-test plugin
  plugins/wasm-go/extensions/gc-test/README.md
  plugins/wasm-go/extensions/gc-test/VERSION
  plugins/wasm-go/extensions/gc-test/go.mod
  plugins/wasm-go/extensions/gc-test/go.sum
  plugins/wasm-go/extensions/gc-test/main.go
Owners: @johnlanni

show memstats in response
  plugins/wasm-go/extensions/gc-test/README.md
  plugins/wasm-go/extensions/gc-test/main.go
Owners: @johnlanni

add gc-test plugin (#597)
  plugins/wasm-go/extensions/gc-test/README.md
  plugins/wasm-go/extensions/gc-test/VERSION
  plugins/wasm-go/extensions/gc-test/go.mod
  plugins/wasm-go/extensions/gc-test/go.sum
  plugins/wasm-go/extensions/gc-test/main.go
Owners: @johnlanni

add gc-test plugin (#597)
  plugins/wasm-go/extensions/gc-test/README.md
  plugins/wasm-go/extensions/gc-test/VERSION
  plugins/wasm-go/extensions/gc-test/go.mod
  plugins/wasm-go/extensions/gc-test/go.sum
  plugins/wasm-go/extensions/gc-test/main.go
Owners: @johnlanni
