Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @CH3CHO, @gengleilei, @SpecialYang, @rinfx, @erasernoob, @wydream, @007gzs, @jizhuozhi, @Erica177, @2456868764, @Xunzhuo

Update go-wasm-ai-proxy.go
  test/e2e/conformance/tests/go-wasm-ai-proxy.go
Owners: @Xunzhuo, @2456868764, @CH3CHO

fix: fix the mod version conflicts issue between hgctl and golang-filter
  hgctl/go.mod
  hgctl/go.sum
Owners: none

feat: implement the add service logic
  hgctl/pkg/agent/mcp.go
  hgctl/pkg/agent/services/client.go
  hgctl/pkg/agent/services/service.go
Owners: none

feat: implement mcp add logic
  hgctl/pkg/agent/mcp.go
  hgctl/pkg/agent/services/service.go
Owners: none

fix: fix no publish in http
  hgctl/pkg/agent/mcp.go
Owners: none

add some debug code
  hgctl/pkg/agent/mcp.go
  hgctl/pkg/agent/services/service.go
  hgctl/pkg/agent/types.go
Owners: none

feature: support secret reference for Redis password in MCP Server
  docs/architecture.md
  pkg/ingress/kube/configmap/mcp_server.go
  pkg/ingress/kube/configmap/mcp_server_test.go
  plugins/golang-filter/mcp-server/servers/higress/higress-api/README.md
  plugins/golang-filter/mcp-server/servers/higress/higress-api/README_en.md
Owners: @SpecialYang, @johnlanni, @CH3CHO, @rinfx, @erasernoob

test: add e2e test for MCP Redis secret resolution
  test/e2e/conformance/tests/configmap-mcp-redis-secret.go
  test/e2e/conformance/tests/configmap-mcp-redis-secret.yaml
Owners: @Xunzhuo, @2456868764, @CH3CHO

feat(ingress): support custom parameter names for MCP SSE stateful sessions
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/annotations/loadbalance.go
Owners: @SpecialYang, @johnlanni, @CH3CHO

feat: Add traffic-editor Wasm plugin
  plugins/wasm-go/extensions/traffic-editor/README.md
  plugins/wasm-go/extensions/traffic-editor/README_EN.md
  plugins/wasm-go/extensions/traffic-editor/VERSION
  plugins/wasm-go/extensions/traffic-editor/config.go
  plugins/wasm-go/extensions/traffic-editor/docker-compose.yaml
  plugins/wasm-go/extensions/traffic-editor/go.mod
  plugins/wasm-go/extensions/traffic-editor/go.sum
  plugins/wasm-go/extensions/traffic-editor/http.go
  plugins/wasm-go/extensions/traffic-editor/main.go
  plugins/wasm-go/extensions/traffic-editor/main_test.go
  plugins/wasm-go/extensions/traffic-editor/pkg/command.go
  plugins/wasm-go/extensions/traffic-editor/pkg/command_test.go
  plugins/wasm-go/extensions/traffic-editor/pkg/condition.go
  plugins/wasm-go/extensions/traffic-editor/pkg/condition_test.go
  plugins/wasm-go/extensions/traffic-editor/pkg/context.go
  plugins/wasm-go/extensions/traffic-editor/pkg/context_test.go
  plugins/wasm-go/extensions/traffic-editor/pkg/mock_test.go
  plugins/wasm-go/extensions/traffic-editor/pkg/ref.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

[bugfix] sometimes bedrock EventStream chunk is not complete
  plugins/wasm-go/extensions/ai-proxy/provider/bedrock.go
Owners: @rinfx, @wydream, @johnlanni

fix: Optimization of Rate Limiting Logic for Cluster, AI Token and WASM Plugin (#2997)
  plugins/wasm-go/extensions/ai-token-ratelimit/main.go
  plugins/wasm-go/extensions/ai-token-ratelimit/main_test.go
  plugins/wasm-go/extensions/cluster-key-rate-limit/main.go
  plugins/wasm-go/extensions/cluster-key-rate-limit/main_test.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix: Optimization of Rate Limiting Logic for Cluster, AI Token and WASM Plugin (#2997)
  plugins/wasm-go/extensions/ai-token-ratelimit/main.go
  plugins/wasm-go/extensions/ai-token-ratelimit/main_test.go
  plugins/wasm-go/extensions/cluster-key-rate-limit/main.go
  plugins/wasm-go/extensions/cluster-key-rate-limit/main_test.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix: Optimization of Rate Limiting Logic for Cluster, AI Token and WASM Plugin (#2997)
  plugins/wasm-go/extensions/ai-token-ratelimit/main.go
  plugins/wasm-go/extensions/ai-token-ratelimit/main_test.go
  plugins/wasm-go/extensions/cluster-key-rate-limit/main.go
  plugins/wasm-go/extensions/cluster-key-rate-limit/main_test.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

[bugfix] sometimes bedrock EventStream chunk is not complete (#3010)
  plugins/wasm-go/extensions/ai-proxy/provider/bedrock.go
Owners: @rinfx, @wydream, @johnlanni

[bugfix] sometimes bedrock EventStream chunk is not complete (#3010)
  plugins/wasm-go/extensions/ai-proxy/provider/bedrock.go
Owners: @rinfx, @wydream, @johnlanni

[bugfix] sometimes bedrock EventStream chunk is not complete (#3010)
  plugins/wasm-go/extensions/ai-proxy/provider/bedrock.go
Owners: @rinfx, @wydream, @johnlanni

fix(jsonrpc-converter): Use raw JSON instead of incorrect JSON string formatting (#2988)
  plugins/wasm-go/extensions/jsonrpc-converter/main.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix(jsonrpc-converter): Use raw JSON instead of incorrect JSON string formatting (#2988)
  plugins/wasm-go/extensions/jsonrpc-converter/main.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix(jsonrpc-converter): Use raw JSON instead of incorrect JSON string formatting (#2988)
  plugins/wasm-go/extensions/jsonrpc-converter/main.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix: enhance CI workflow for wasm plugin unit test (#2980)
  .github/workflows/wasm-plugin-unit-test.yml
Owners: none

fix: enhance CI workflow for wasm plugin unit test (#2980)
  .github/workflows/wasm-plugin-unit-test.yml
Owners: none

fix: enhance CI workflow for wasm plugin unit test (#2980)
  .github/workflows/wasm-plugin-unit-test.yml
Owners: none

test for wasm unit test(should not merged)
  plugins/wasm-go/extensions/ai-agent/main.go
  plugins/wasm-go/extensions/ai-json-resp/main.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

feat: add istiod/envoy debug api
  plugins/golang-filter/mcp-server/config.go
  plugins/golang-filter/mcp-server/servers/higress/higress-ops/README.md
  plugins/golang-filter/mcp-server/servers/higress/higress-ops/README_en.md
  plugins/golang-filter/mcp-server/servers/higress/higress-ops/client.go
  plugins/golang-filter/mcp-server/servers/higress/higress-ops/server.go
  plugins/golang-filter/mcp-server/servers/higress/higress-ops/tools/envoy.go
  plugins/golang-filter/mcp-server/servers/higress/higress-ops/tools/istiod.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix: use default namespace when PasswordSecret namespace is empty
  pkg/ingress/kube/configmap/mcp_server.go
  pkg/ingress/kube/configmap/mcp_server_test.go
Owners: @SpecialYang, @johnlanni, @CH3CHO

feat(ingress): support custom parameter names for MCP SSE stateful sessions (#3008)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/annotations/loadbalance.go
Owners: @SpecialYang, @johnlanni, @CH3CHO

feat(ingress): support custom parameter names for MCP SSE stateful sessions (#3008)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/annotations/loadbalance.go
Owners: @SpecialYang, @johnlanni, @CH3CHO

feat(ingress): support custom parameter names for MCP SSE stateful sessions (#3008)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/annotations/loadbalance.go
Owners: @SpecialYang, @johnlanni, @CH3CHO

feat: Add nginx to higress migration MCP server
  nginx-migration-mcp/QUICKSTART.md
  nginx-migration-mcp/README.md
  nginx-migration-mcp/config-example.json
  nginx-migration-mcp/config.go
  nginx-migration-mcp/environment.sample
  nginx-migration-mcp/go.mod
  nginx-migration-mcp/http-server.go
  nginx-migration-mcp/http-server.sh
  nginx-migration-mcp/main.go
  nginx-migration-mcp/mcp-bridge-config.json
  nginx-migration-mcp/mcp-config.json
  nginx-migration-mcp/mcp-http-bridge.go
  nginx-migration-mcp/mcp-server-config.json
  nginx-migration-mcp/setup.sh
  plugins/golang-filter/mcp-server/servers/higress/client.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/go.mod
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/mcp-client-config.json
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/server.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/standalone_server.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/llm_enhanced.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/openai_client.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/test_cases.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

feat: add istiod/envoy debug api
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/mcp_server.go
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/service.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

feat: add istiod/envoy debug api
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/mcp_server.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

[bugfix] one chunk has many events
  plugins/wasm-go/extensions/ai-security-guard/README.md
  plugins/wasm-go/extensions/ai-security-guard/main.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

groq add responses capability
  plugins/wasm-go/extensions/ai-proxy/provider/groq.go
Owners: @rinfx, @wydream, @johnlanni

groq add responses capability
  plugins/wasm-go/extensions/ai-proxy/provider/groq.go
Owners: @rinfx, @wydream, @johnlanni

feat: impl nginx migration mcp server
  nginx-migration-mcp/QUICKSTART.md
  nginx-migration-mcp/README.md
  nginx-migration-mcp/config-example.json
  nginx-migration-mcp/config.go
  nginx-migration-mcp/environment.sample
  nginx-migration-mcp/go.mod
  nginx-migration-mcp/http-server.go
  nginx-migration-mcp/http-server.sh
  nginx-migration-mcp/main.go
  nginx-migration-mcp/mcp-bridge-config.json
  nginx-migration-mcp/mcp-config.json
  nginx-migration-mcp/mcp-http-bridge.go
  nginx-migration-mcp/mcp-server-config.json
  nginx-migration-mcp/setup.sh
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/.keep
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/Makefile
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/QUICKSTART.md
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/cmd/standalone/main.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/go.mod
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/integration/mcptools/context.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/integration/mcptools/lua_tools.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/integration/mcptools/nginx_tools.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/integration/server.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/internal/standalone/config.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/internal/standalone/server.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/internal/standalone/types.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/mcp-client-config.json
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/mcp-tools.json
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/server.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/standalone_server.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/lua_converter.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/mcp_tools.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/migration.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/migration_test.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/plugin_migration.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/plugin_migration_test.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/test_cases.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

chore: fix a client.go typo
  plugins/golang-filter/mcp-server/servers/higress/client.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/Makefile
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/cmd/standalone/main.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/go.mod
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/integration/mcptools/lua_tools.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/integration/mcptools/nginx_tools.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/internal/standalone/server.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/internal/standalone/types.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

add: add a tool_chain with host's LLM support to handle complex task.
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/integration/mcptools/lua_tools.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/integration/mcptools/tool_chain.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/integration/server.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/internal/standalone/server.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/mcp-tools.json
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/mcp_tools.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/tool_chain.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

chore: refine MCP server logic
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/Makefile
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/QUICKSTART.md
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/README.md
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/cmd/standalone/main.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/integration/mcptools/lua_tools.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/integration/mcptools/nginx_tools.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/integration/mcptools/tool_chain.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/internal/standalone/server.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/mcp-tools.json
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/mcp_tools.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/tool_chain.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

#1736Implement cloudflare e2e test case (#2998)
  test/e2e/conformance/tests/go-wasm-ai-proxy.go
  test/e2e/conformance/tests/go-wasm-ai-proxy.yaml
Owners: @Xunzhuo, @2456868764, @CH3CHO

CODEOWNERS:

/api @johnlanni @CH3CHO
/envoy @gengleilei @johnlanni
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @CH3CHO
/plugins @johnlanni @CH3CHO @rinfx @erasernoob
/plugins/wasm-go/extensions/ai-proxy @rinfx @wydream @johnlanni
/plugins/wasm-rust @007gzs @jizhuozhi
/registry @Erica177 @2456868764 @johnlanni
/test @Xunzhuo @2456868764 @CH3CHO
/tools @johnlanni @Xunzhuo @2456868764
