Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo

opt: hgctl dashboard/completion optimize (#677)
  pkg/cmd/hgctl/completion.go
  pkg/cmd/hgctl/config_retriever.go
  pkg/cmd/hgctl/config_test.go
  pkg/cmd/hgctl/dashboard.go
  pkg/cmd/hgctl/kubernetes/port-forwarder.go
  pkg/cmd/hgctl/root.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

opt: hgctl dashboard/completion optimize (#677)
  pkg/cmd/hgctl/completion.go
  pkg/cmd/hgctl/config_retriever.go
  pkg/cmd/hgctl/config_test.go
  pkg/cmd/hgctl/dashboard.go
  pkg/cmd/hgctl/kubernetes/port-forwarder.go
  pkg/cmd/hgctl/root.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

opt: hgctl dashboard/completion optimize (#677)
  pkg/cmd/hgctl/completion.go
  pkg/cmd/hgctl/config_retriever.go
  pkg/cmd/hgctl/config_test.go
  pkg/cmd/hgctl/dashboard.go
  pkg/cmd/hgctl/kubernetes/port-forwarder.go
  pkg/cmd/hgctl/root.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add csrf plugin
  plugins/wasm-go/extensions/csrf/VERSION
  plugins/wasm-go/extensions/csrf/go.mod
  plugins/wasm-go/extensions/csrf/go.sum
  plugins/wasm-go/extensions/csrf/main.go
  plugins/wasm-go/extensions/csrf/main_test.go
Owners: @johnlanni

update
  plugins/wasm-go/extensions/csrf/main.go
  plugins/wasm-go/extensions/csrf/main_test.go
  test/e2e/conformance/tests/go-wasm-csrf.go
  test/e2e/conformance/tests/go-wasm-csrf.yaml
Owners: @johnlanni, @Xunzhuo

fix gateway name (#672)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/config/ingress_config_test.go
  pkg/ingress/config/kingress_config.go
  pkg/ingress/config/kingress_config_test.go
  pkg/ingress/kube/common/tool.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  pkg/ingress/kube/kingress/controller.go
  test/e2e/conformance/tests/httproute-hostname-same-namespace.go
  test/e2e/conformance/tests/httproute-hostname-same-namespace.yaml
  test/e2e/conformance/tests/httproute-https-without-sni.go
  test/e2e/conformance/tests/httproute-https-without-sni.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix gateway name (#672)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/config/ingress_config_test.go
  pkg/ingress/config/kingress_config.go
  pkg/ingress/config/kingress_config_test.go
  pkg/ingress/kube/common/tool.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  pkg/ingress/kube/kingress/controller.go
  test/e2e/conformance/tests/httproute-hostname-same-namespace.go
  test/e2e/conformance/tests/httproute-hostname-same-namespace.yaml
  test/e2e/conformance/tests/httproute-https-without-sni.go
  test/e2e/conformance/tests/httproute-https-without-sni.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix gateway name (#672)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/config/ingress_config_test.go
  pkg/ingress/config/kingress_config.go
  pkg/ingress/config/kingress_config_test.go
  pkg/ingress/kube/common/tool.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  pkg/ingress/kube/kingress/controller.go
  test/e2e/conformance/tests/httproute-hostname-same-namespace.go
  test/e2e/conformance/tests/httproute-hostname-same-namespace.yaml
  test/e2e/conformance/tests/httproute-https-without-sni.go
  test/e2e/conformance/tests/httproute-https-without-sni.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add windows build
  Makefile.core.mk
Owners: none

feat: add windows build (#691)
  Makefile.core.mk
Owners: none

feat: add windows build (#691)
  Makefile.core.mk
Owners: none

feat: add windows build (#691)
  Makefile.core.mk
Owners: none

add authenticated
  plugins/wasm-go/extensions/csrf/main.go
Owners: @johnlanni

add unittest
  test/e2e/conformance/tests/go-wasm-csrf.go
Owners: @Xunzhuo

Revert "feat: add windows build (#691)"
  Makefile.core.mk
Owners: none

Revert "feat: add windows build" (#692)
  Makefile.core.mk
Owners: none

Revert "feat: add windows build" (#692)
  Makefile.core.mk
Owners: none

Revert "feat: add windows build" (#692)
  Makefile.core.mk
Owners: none

compatible with nginx.ingress.kubernetes.io/canary-by-header-pattern annotation
  pkg/ingress/kube/annotations/canary.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

change jwt-auth name
  plugins/wasm-go/extensions/simple-jwt-auth/README.md
  plugins/wasm-go/extensions/simple-jwt-auth/VERSION
  plugins/wasm-go/extensions/simple-jwt-auth/go.mod
  plugins/wasm-go/extensions/simple-jwt-auth/go.sum
  plugins/wasm-go/extensions/simple-jwt-auth/main.go
  test/e2e/conformance/tests/go-wasm-jwt-auth.go
  test/e2e/conformance/tests/go-wasm-jwt-auth.yaml
Owners: @johnlanni, @Xunzhuo

jwt-auth plugin name to sample-jwt-auth
  test/e2e/conformance/tests/go-wasm-simple-jwt-auth.go
  test/e2e/conformance/tests/go-wasm-simple-jwt-auth.yaml
Owners: @Xunzhuo

Change jwt-auth plugin name to simple-jwt-auth (#698)
  plugins/wasm-go/extensions/simple-jwt-auth/README.md
  plugins/wasm-go/extensions/simple-jwt-auth/VERSION
  plugins/wasm-go/extensions/simple-jwt-auth/go.mod
  plugins/wasm-go/extensions/simple-jwt-auth/go.sum
  plugins/wasm-go/extensions/simple-jwt-auth/main.go
  test/e2e/conformance/tests/go-wasm-simple-jwt-auth.go
  test/e2e/conformance/tests/go-wasm-simple-jwt-auth.yaml
Owners: @johnlanni, @Xunzhuo

Change jwt-auth plugin name to simple-jwt-auth (#698)
  plugins/wasm-go/extensions/simple-jwt-auth/README.md
  plugins/wasm-go/extensions/simple-jwt-auth/VERSION
  plugins/wasm-go/extensions/simple-jwt-auth/go.mod
  plugins/wasm-go/extensions/simple-jwt-auth/go.sum
  plugins/wasm-go/extensions/simple-jwt-auth/main.go
  test/e2e/conformance/tests/go-wasm-simple-jwt-auth.go
  test/e2e/conformance/tests/go-wasm-simple-jwt-auth.yaml
Owners: @johnlanni, @Xunzhuo

Change jwt-auth plugin name to simple-jwt-auth (#698)
  plugins/wasm-go/extensions/simple-jwt-auth/README.md
  plugins/wasm-go/extensions/simple-jwt-auth/VERSION
  plugins/wasm-go/extensions/simple-jwt-auth/go.mod
  plugins/wasm-go/extensions/simple-jwt-auth/go.sum
  plugins/wasm-go/extensions/simple-jwt-auth/main.go
  test/e2e/conformance/tests/go-wasm-simple-jwt-auth.go
  test/e2e/conformance/tests/go-wasm-simple-jwt-auth.yaml
Owners: @johnlanni, @Xunzhuo

feat: add global-option setting in configmap
  pkg/ingress/kube/configmap/config.go
  pkg/ingress/kube/configmap/controller.go
  pkg/ingress/kube/configmap/global.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add e2e test for canary header pattern
  test/e2e/conformance/tests/httproute-canary-header.go
  test/e2e/conformance/tests/httproute-canary-header.yaml
Owners: @Xunzhuo

feat: Update data plane service matching logic
  pkg/ingress/kube/gateway/controller.go
  pkg/ingress/kube/gateway/istio/controller.go
  pkg/ingress/kube/gateway/istio/conversion.go
  pkg/ingress/kube/gateway/istio/conversion_test.go
  pkg/ingress/kube/gateway/istio/model.go
  pkg/ingress/kube/gateway/istio/testdata/invalid.yaml.golden
  pkg/ingress/kube/gateway/istio/testdata/serviceentry.yaml.golden
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: Support keeping labels and annotations by converting Gateway configs to xDS resources
  pkg/bootstrap/server.go
  pkg/bootstrap/server_test.go
  pkg/cmd/server.go
  pkg/ingress/config/ingress_config_test.go
  pkg/ingress/config/kingress_config_test.go
  pkg/ingress/mcp/generator.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Fix "The sharedIndexInformer has started, run more than once is not allowed" warnings
  pkg/ingress/kube/configmap/controller.go
  pkg/ingress/kube/controller/model.go
  pkg/ingress/kube/http2rpc/controller.go
  pkg/ingress/kube/mcpbridge/controller.go
  pkg/ingress/kube/secret/controller.go
  pkg/ingress/kube/wasmplugin/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Update the base image used when building pilot and gateway images
  Makefile.core.mk
  tools/hack/build-istio-image.sh
Owners: @johnlanni, @Xunzhuo

add gzip unit test
  pkg/ingress/kube/configmap/gzip_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add request-validation plugin
  plugins/wasm-go/extensions/request-validation/go.mod
  plugins/wasm-go/extensions/request-validation/go.sum
  plugins/wasm-go/extensions/request-validation/main.go
  plugins/wasm-go/extensions/request-validation/validation/array_validation.go
  plugins/wasm-go/extensions/request-validation/validation/enum_validation.go
  plugins/wasm-go/extensions/request-validation/validation/int_range_validation.go
  plugins/wasm-go/extensions/request-validation/validation/regex_validation.go
  plugins/wasm-go/extensions/request-validation/validation/string_length_validation.go
Owners: @johnlanni

add unit test for global.go
  pkg/ingress/kube/configmap/global.go
  pkg/ingress/kube/configmap/global_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix import
  pkg/ingress/kube/configmap/global_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

bug: shorthand `l` repeated
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

merge three envoy filter file to one
  pkg/ingress/kube/configmap/global.go
  pkg/ingress/kube/configmap/global_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix import
  pkg/ingress/kube/configmap/global.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

define idleTimeout to uint32
  pkg/ingress/kube/configmap/global.go
  pkg/ingress/kube/configmap/global_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: optimize transformer
  plugins/wasm-go/extensions/transformer/main.go
  plugins/wasm-go/extensions/transformer/utils.go
  test/e2e/conformance/tests/go-wasm-transformer.yaml
Owners: @johnlanni, @Xunzhuo

bug: shorthand `l` repeated (#702)
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo
