Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

fix ci
  pkg/ingress/kube/configmap/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add makefile
  Makefile.core.mk
Owners: none

update deepCopyGlobal
  pkg/ingress/kube/configmap/global.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix ci
  pkg/ingress/kube/configmap/global_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

e2e test opt
  test/e2e/conformance/tests/go-wasm-sni-misdirect.go
  test/e2e/conformance/tests/httproute-downstream-encryption.go
  test/e2e/conformance/tests/httproute-https-without-sni.go
  test/e2e/conformance/utils/flags/flags.go
  test/e2e/conformance/utils/suite/suite.go
  test/e2e/e2e_test.go
Owners: @Xunzhuo

fix ci
  Makefile.core.mk
  test/e2e/conformance/tests/go-wasm-sni-misdirect.go
  test/e2e/conformance/tests/httproute-downstream-encryption.go
  test/e2e/conformance/tests/httproute-https-without-sni.go
  test/e2e/conformance/utils/flags/flags.go
  test/e2e/conformance/utils/kubernetes/apply.go
  test/e2e/conformance/utils/suite/suite.go
  test/e2e/e2e_test.go
Owners: @Xunzhuo

update go version
  .github/workflows/build-image-and-push.yaml
Owners: none

update go version
  .github/workflows/build-image-and-push.yaml
Owners: none

update go version
  .github/workflows/build-image-and-push.yaml
Owners: none

reset go version
  .github/workflows/build-image-and-push.yaml
Owners: none

reset go version
  .github/workflows/build-image-and-push.yaml
Owners: none

reset go version
  .github/workflows/build-image-and-push.yaml
Owners: none

close #590
  plugins/wasm-go/extensions/bot-detect/README.md
  plugins/wasm-go/extensions/bot-detect/README_EN.md
  plugins/wasm-go/extensions/bot-detect/VERSION
  plugins/wasm-go/extensions/bot-detect/botdetect.yaml
  plugins/wasm-go/extensions/bot-detect/config/bot_detect_config.go
  plugins/wasm-go/extensions/bot-detect/config/bot_detect_config_test.go
  plugins/wasm-go/extensions/bot-detect/go.mod
  plugins/wasm-go/extensions/bot-detect/main.go
Owners: @johnlanni

try run ci again
  test/e2e/conformance/utils/suite/suite.go
Owners: @Xunzhuo

try run ci again
  test/e2e/conformance/utils/suite/suite.go
Owners: @Xunzhuo

try run ci again
  test/e2e/conformance/utils/suite/suite.go
Owners: @Xunzhuo

feat: support req&resp body check
  test/e2e/conformance/base/manifests.yaml
  test/e2e/conformance/tests/go-wasm-request-block.go
  test/e2e/conformance/tests/go-wasm-transformer.go
  test/e2e/conformance/tests/go-wasm-transformer.yaml
  test/e2e/conformance/utils/http/http.go
  test/e2e/conformance/utils/roundtripper/roundtripper.go
Owners: @Xunzhuo

fix: cancel checking http methods
  test/e2e/conformance/utils/http/http.go
Owners: @Xunzhuo

fix: cancel checking http methods
  test/e2e/conformance/utils/roundtripper/roundtripper.go
Owners: @Xunzhuo

try run ci again
  test/e2e/conformance/utils/suite/suite.go
Owners: @Xunzhuo

support update multi-arch images
  .github/workflows/build-image-and-push.yaml
  .gitmodules
  Makefile.core.mk
Owners: none

add devcontainer for wasm-go plugin
  plugins/wasm-go/.devcontainer/Dockerfile
  plugins/wasm-go/.devcontainer/devcontainer.json
  plugins/wasm-go/.devcontainer/gen_config.py
  plugins/wasm-go/Makefile
Owners: @johnlanni

tmp test
  Makefile.core.mk
Owners: none

bugfix: modify `route` to `cors`
  pkg/ingress/kube/configmap/gzip.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

enhance srds
  envoy/1.20/patches/envoy/20240104-enhance-srds.patch
  envoy/1.20/patches/go-control-plane/20240104-enhance-srds.patch
  istio/1.12/patches/istio/20240104-enhance-srds.patch
Owners: @gengleilei, @johnlanni, @Lynskylate, @SpecialYang

feat: add debug mode for higress
  pkg/cmd/root.go
  pkg/cmd/server.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix bug with recover command
  pkg/cmd/server.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo
