Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo

support configuration domain suffix (#460) (#463)
  helm/core/templates/controller-deployment.yaml
  pkg/ingress/kube/util/util.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

support configuration domain suffix (#460) (#463)
  helm/core/templates/controller-deployment.yaml
  pkg/ingress/kube/util/util.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

update nottinygc to v0.3.0
  plugins/wasm-go/go.mod
  plugins/wasm-go/go.sum
Owners: @johnlanni

update nottinygc to v0.3.0 (#467)
  plugins/wasm-go/go.mod
  plugins/wasm-go/go.sum
Owners: @johnlanni

update nottinygc to v0.3.0 (#467)
  plugins/wasm-go/go.mod
  plugins/wasm-go/go.sum
Owners: @johnlanni

update nottinygc to v0.3.0 (#467)
  plugins/wasm-go/go.mod
  plugins/wasm-go/go.sum
Owners: @johnlanni

refactor: 'hgctl plugin build': create a dir named types
  pkg/cmd/hgctl/plugin/build/build.go
  pkg/cmd/hgctl/plugin/types/annotation.go
  pkg/cmd/hgctl/plugin/types/marshal.go
  pkg/cmd/hgctl/plugin/types/meta.go
  pkg/cmd/hgctl/plugin/types/schema.go
  pkg/cmd/hgctl/plugin/types/usage.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add command 'hgctl plugin test'
  go.mod
  go.sum
  pkg/cmd/hgctl/docker/compose.go
  pkg/cmd/hgctl/plugin/build/build.go
  pkg/cmd/hgctl/plugin/plugin.go
  pkg/cmd/hgctl/plugin/test/clean.go
  pkg/cmd/hgctl/plugin/test/create.go
  pkg/cmd/hgctl/plugin/test/ls.go
  pkg/cmd/hgctl/plugin/test/start.go
  pkg/cmd/hgctl/plugin/test/stop.go
  pkg/cmd/hgctl/plugin/test/templates.go
  pkg/cmd/hgctl/plugin/test/test.go
  pkg/cmd/hgctl/plugin/types/common.go
  pkg/cmd/hgctl/plugin/types/meta.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Update Dockerfile.base
  docker/Dockerfile.base
Owners: none

fix: Read service count returned from the list instead of the Count field
  registry/nacos/v2/watcher.go
  registry/nacos/watcher.go
Owners: @NameHaibinZhang, @johnlanni

fix: Read service count returned from the list instead of the Count field (#476)
  registry/nacos/v2/watcher.go
  registry/nacos/watcher.go
Owners: @NameHaibinZhang, @johnlanni

fix: Read service count returned from the list instead of the Count field (#476)
  registry/nacos/v2/watcher.go
  registry/nacos/watcher.go
Owners: @NameHaibinZhang, @johnlanni

fix: Read service count returned from the list instead of the Count field (#476)
  registry/nacos/v2/watcher.go
  registry/nacos/watcher.go
Owners: @NameHaibinZhang, @johnlanni

fix: update 'isAllCatch' fucntion
  pkg/ingress/kube/common/tool.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: routing priorities are not working properly
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/common/tool.go
  pkg/ingress/kube/ingressv1/controller.go
  test/e2e/conformance/tests/httproute-same-host-and-path.go
  test/e2e/conformance/tests/httproute-same-host-and-path.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

kingress
  go.sum
  go的副本.mod
  pkg/ingress/config/kingress_config.go
  pkg/ingress/config/kingress_config.go.zip
  pkg/ingress/kube/common/controller.go
  pkg/ingress/kube/common/model.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingress/controller_test.go
  pkg/ingress/kube/kingress.zip
  pkg/ingress/kube/kingress/controller.go
  pkg/ingress/kube/kingress/controller_test.go
  pkg/ingress/kube/kingress/resources/doc.go
  pkg/ingress/kube/kingress/resources/names/doc.go
  pkg/ingress/kube/kingress/resources/names/names.go
  pkg/ingress/kube/kingress/resources/names/names_test.go
  pkg/ingress/kube/kingress/resources/util.go
  pkg/ingress/kube/kingress/resources/virtual_service.go
  pkg/ingress/kube/kingress/resources/virtual_service_test.go
  pkg/kube/client.go
  plugins/wasm-go/extensions/qwen-proxy/Dockerfile
  plugins/wasm-go/extensions/qwen-proxy/README.md
  plugins/wasm-go/extensions/qwen-proxy/go.mod
  plugins/wasm-go/extensions/qwen-proxy/go.sum
  plugins/wasm-go/extensions/qwen-proxy/main.go
  plugins/wasm-go/extensions/waf/go.mod
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

kingress
  goold.mod
Owners: none

fix: routing priorities are not working properly (#472)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/common/tool.go
  pkg/ingress/kube/ingressv1/controller.go
  test/e2e/conformance/tests/httproute-same-host-and-path.go
  test/e2e/conformance/tests/httproute-same-host-and-path.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: routing priorities are not working properly (#472)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/common/tool.go
  pkg/ingress/kube/ingressv1/controller.go
  test/e2e/conformance/tests/httproute-same-host-and-path.go
  test/e2e/conformance/tests/httproute-same-host-and-path.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: routing priorities are not working properly (#472)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/common/tool.go
  pkg/ingress/kube/ingressv1/controller.go
  test/e2e/conformance/tests/httproute-same-host-and-path.go
  test/e2e/conformance/tests/httproute-same-host-and-path.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: hgctl plugin test: add license header
  pkg/cmd/hgctl/docker/compose.go
  pkg/cmd/hgctl/plugin/test/clean.go
  pkg/cmd/hgctl/plugin/test/create.go
  pkg/cmd/hgctl/plugin/test/ls.go
  pkg/cmd/hgctl/plugin/test/start.go
  pkg/cmd/hgctl/plugin/test/stop.go
  pkg/cmd/hgctl/plugin/test/templates.go
  pkg/cmd/hgctl/plugin/test/test.go
  pkg/cmd/hgctl/plugin/types/common.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

rel: Prepare for release v1.1.1
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

feat: add command 'hgctl plugin config'
  pkg/cmd/hgctl/kubernetes/dynamic-cli.go
  pkg/cmd/hgctl/kubernetes/wasmplugin.go
  pkg/cmd/hgctl/plugin/config/config.go
  pkg/cmd/hgctl/plugin/config/create.go
  pkg/cmd/hgctl/plugin/config/edit.go
  pkg/cmd/hgctl/plugin/plugin.go
  pkg/cmd/hgctl/plugin/test/create.go
  pkg/cmd/hgctl/plugin/test/templates.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Revert pilot back to 1.1.0
  helm/core/values.yaml
Owners: none

基于wasm-go实现了Token解析认证功能的插件
  plugins/wasm-go/extensions/jwt-auth/README.md
  plugins/wasm-go/extensions/jwt-auth/VERSION
  plugins/wasm-go/extensions/jwt-auth/go.mod
  plugins/wasm-go/extensions/jwt-auth/go.sum
  plugins/wasm-go/extensions/jwt-auth/main.go
Owners: @johnlanni

rel: Prepare for release v1.1.1 (#477)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

rel: Prepare for release v1.1.1 (#477)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

rel: Prepare for release v1.1.1 (#477)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

kingress
  pkg/ingress/config/ingress_config_test.go
  pkg/ingress/config/kingress_config.go
  pkg/ingress/config/kingress_config_test.go
  pkg/ingress/kube/ingress/controller_test.go
  pkg/ingress/kube/kingress/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

kingress@20230811
  pkg/ingress/config/kingress_config_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

support mulit arch image
  .github/workflows/build-image-and-push.yaml
  Makefile.core.mk
  docker/Dockerfile.higress
  docker/docker.mk
  istio/1.12/patches/istio/20230811-hack-mulit-arch.patch
Owners: @SpecialYang, @johnlanni

fix typo
  istio/1.12/patches/istio/20230811-hack-multi-arch.patch
Owners: @SpecialYang, @johnlanni

check unsupported protocol
  registry/eureka/client/plan.go
  registry/eureka/watcher.go
Owners: @NameHaibinZhang, @johnlanni

kingress0814
  pkg/ingress/config/kingress_config_test.go
  pkg/ingress/kube/kingress/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: support eureka registry (#464)
  Makefile.core.mk
  go.mod
  go.sum
  registry/eureka/client/http_client.go
  registry/eureka/client/plan.go
  registry/eureka/client/struct.go
  registry/eureka/watcher.go
  registry/reconcile/reconcile.go
  test/e2e/conformance/base/manifests.yaml
  test/e2e/conformance/tests/httproute-eureka-registry.go
  test/e2e/conformance/tests/httproute-eureka-registry.yaml
  test/e2e/e2e_test.go
Owners: @NameHaibinZhang, @johnlanni, @Xunzhuo

feat: support eureka registry (#464)
  Makefile.core.mk
  go.mod
  go.sum
  registry/eureka/client/http_client.go
  registry/eureka/client/plan.go
  registry/eureka/client/struct.go
  registry/eureka/watcher.go
  registry/reconcile/reconcile.go
  test/e2e/conformance/base/manifests.yaml
  test/e2e/conformance/tests/httproute-eureka-registry.go
  test/e2e/conformance/tests/httproute-eureka-registry.yaml
  test/e2e/e2e_test.go
Owners: @NameHaibinZhang, @johnlanni, @Xunzhuo

feat: support eureka registry (#464)
  Makefile.core.mk
  go.mod
  go.sum
  registry/eureka/client/http_client.go
  registry/eureka/client/plan.go
  registry/eureka/client/struct.go
  registry/eureka/watcher.go
  registry/reconcile/reconcile.go
  test/e2e/conformance/base/manifests.yaml
  test/e2e/conformance/tests/httproute-eureka-registry.go
  test/e2e/conformance/tests/httproute-eureka-registry.yaml
  test/e2e/e2e_test.go
Owners: @NameHaibinZhang, @johnlanni, @Xunzhuo

Update Dockerfile.base (#473)
  docker/Dockerfile.base
Owners: none

Update Dockerfile.base (#473)
  docker/Dockerfile.base
Owners: none

Update Dockerfile.base (#473)
  docker/Dockerfile.base
Owners: none
