Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

feat: support rewrite config after `parse_rule_config` invoked (#401)
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni

feat: support rewrite config after `parse_rule_config` invoked (#401)
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni

feat: support rewrite config after `parse_rule_config` invoked (#401)
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni

update build-wasm-plugins.sh
  tools/hack/build-wasm-plugins.sh
Owners: @johnlanni, @Xunzhuo

update build-wasm-plugins.sh
  tools/hack/build-wasm-plugins.sh
Owners: @johnlanni, @Xunzhuo

update build-wasm-plugins.sh
  tools/hack/build-wasm-plugins.sh
Owners: @johnlanni, @Xunzhuo

change default settings
  plugins/wasm-go/extensions/waf/local/docker-compose.yaml
  plugins/wasm-go/extensions/waf/wasmplugin/plugin.go
Owners: @johnlanni

feat: Support dubbo group for http2rpc
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  helm/core/crds/customresourcedefinitions.gen.yaml
  pkg/ingress/config/ingress_config.go
  test/ingress/conformance/base/manifests.yaml
  test/ingress/conformance/tests/httproute-http2rpc.go
  test/ingress/conformance/tests/httproute-http2rpc.yaml
  test/ingress/conformance/utils/suite/suite.go
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo

support gateway in other ns
  helm/core/values.yaml
Owners: none

adjust
  helm/core/values.yaml
Owners: none

feat: Support dubbo group for http2rpc (#404)
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  helm/core/crds/customresourcedefinitions.gen.yaml
  pkg/ingress/config/ingress_config.go
  test/ingress/conformance/base/manifests.yaml
  test/ingress/conformance/tests/httproute-http2rpc.go
  test/ingress/conformance/tests/httproute-http2rpc.yaml
  test/ingress/conformance/utils/suite/suite.go
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo

feat: Support dubbo group for http2rpc (#404)
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  helm/core/crds/customresourcedefinitions.gen.yaml
  pkg/ingress/config/ingress_config.go
  test/ingress/conformance/base/manifests.yaml
  test/ingress/conformance/tests/httproute-http2rpc.go
  test/ingress/conformance/tests/httproute-http2rpc.yaml
  test/ingress/conformance/utils/suite/suite.go
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo

feat: Support dubbo group for http2rpc (#404)
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  helm/core/crds/customresourcedefinitions.gen.yaml
  pkg/ingress/config/ingress_config.go
  test/ingress/conformance/base/manifests.yaml
  test/ingress/conformance/tests/httproute-http2rpc.go
  test/ingress/conformance/tests/httproute-http2rpc.yaml
  test/ingress/conformance/utils/suite/suite.go
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo

support gateway in other ns (#405)
  helm/core/values.yaml
Owners: none

support gateway in other ns (#405)
  helm/core/values.yaml
Owners: none

support gateway in other ns (#405)
  helm/core/values.yaml
Owners: none

feat: `get_match_config` returns with rule_id for stateful plugins
  plugins/wasm-rust/extensions/say-hello/src/lib.rs
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni

feat: `get_match_config` returns with rule_id for stateful plugins
  plugins/wasm-rust/extensions/say-hello/src/lib.rs
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni

feat: `get_match_config` returns with rule_id for stateful plugins
  plugins/wasm-rust/extensions/say-hello/src/lib.rs
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni

add tracing config in higress-config configmap
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/configmap/config.go
  pkg/ingress/kube/configmap/controller.go
  pkg/ingress/kube/configmap/tracing.go
  pkg/ingress/kube/util/util.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

refactor higress configmap controller
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/configmap/config.go
  pkg/ingress/kube/configmap/controller.go
  pkg/ingress/kube/configmap/tracing.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix constructEnvoyFilters log info
  pkg/ingress/kube/configmap/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add log info
  pkg/ingress/kube/configmap/config.go
  pkg/ingress/kube/configmap/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add xdsupdater push when configmap is updated
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/configmap/config.go
  pkg/ingress/kube/configmap/controller.go
  pkg/ingress/kube/configmap/tracing.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add tracing in higress-config configmap (#409)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/configmap/config.go
  pkg/ingress/kube/configmap/controller.go
  pkg/ingress/kube/configmap/tracing.go
  pkg/ingress/kube/util/util.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add tracing in higress-config configmap (#409)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/configmap/config.go
  pkg/ingress/kube/configmap/controller.go
  pkg/ingress/kube/configmap/tracing.go
  pkg/ingress/kube/util/util.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add tracing in higress-config configmap (#409)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/configmap/config.go
  pkg/ingress/kube/configmap/controller.go
  pkg/ingress/kube/configmap/tracing.go
  pkg/ingress/kube/util/util.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: `get_match_config` returns with rule_id for stateful plugins (#406)
  plugins/wasm-rust/extensions/say-hello/src/lib.rs
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni

feat: `get_match_config` returns with rule_id for stateful plugins (#406)
  plugins/wasm-rust/extensions/say-hello/src/lib.rs
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni

feat: `get_match_config` returns with rule_id for stateful plugins (#406)
  plugins/wasm-rust/extensions/say-hello/src/lib.rs
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni

deepcopy tracing configuration and fix code format
  pkg/ingress/kube/configmap/tracing.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

deepcopy tracing configuration and fix code format (#411)
  pkg/ingress/kube/configmap/tracing.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

deepcopy tracing configuration and fix code format (#411)
  pkg/ingress/kube/configmap/tracing.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

deepcopy tracing configuration and fix code format (#411)
  pkg/ingress/kube/configmap/tracing.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

update version to 1.1.0
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/core/values.yaml
  helm/higress/Chart.yaml
Owners: none

update helm chart.lock
  helm/higress/Chart.lock
Owners: none

Add files via upload
  plugins/wasm-go/chatgpt-proxy/README.md
  plugins/wasm-go/chatgpt-proxy/VERSION
  plugins/wasm-go/chatgpt-proxy/go.mod
  plugins/wasm-go/chatgpt-proxy/go.sum
  plugins/wasm-go/chatgpt-proxy/main.go
Owners: @johnlanni

fix data race
  pkg/ingress/kube/ingress/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Delete plugins/wasm-go/chatgpt-proxy directory
  plugins/wasm-go/chatgpt-proxy/README.md
  plugins/wasm-go/chatgpt-proxy/VERSION
  plugins/wasm-go/chatgpt-proxy/go.mod
  plugins/wasm-go/chatgpt-proxy/go.sum
  plugins/wasm-go/chatgpt-proxy/main.go
Owners: @johnlanni

Add files via upload
  plugins/wasm-go/extensions/chatgpt-proxy/README.md
  plugins/wasm-go/extensions/chatgpt-proxy/go.mod
  plugins/wasm-go/extensions/chatgpt-proxy/go.sum
  plugins/wasm-go/extensions/chatgpt-proxy/main.go
  plugins/wasm-go/extensions/chatgpt-proxy/main.wasm
Owners: @johnlanni

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo
