Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

extend register function for OnHttpStreamDone
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
Owners: @johnlanni

extend wasm go sdk with OnHttpStreamDone (#325)
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
Owners: @johnlanni

extend wasm go sdk with OnHttpStreamDone (#325)
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
Owners: @johnlanni

docs: fix some plugin READMEs
  plugins/wasm-cpp/extensions/jwt_auth/README.md
  plugins/wasm-cpp/extensions/jwt_auth/README_EN.md
  plugins/wasm-cpp/extensions/key_rate_limit/README.md
  plugins/wasm-cpp/extensions/key_rate_limit/README_EN.md
Owners: @johnlanni

docs: fix some plugin READMEs (#327)
  plugins/wasm-cpp/extensions/jwt_auth/README.md
  plugins/wasm-cpp/extensions/jwt_auth/README_EN.md
  plugins/wasm-cpp/extensions/key_rate_limit/README.md
  plugins/wasm-cpp/extensions/key_rate_limit/README_EN.md
Owners: @johnlanni

docs: fix some plugin READMEs (#327)
  plugins/wasm-cpp/extensions/jwt_auth/README.md
  plugins/wasm-cpp/extensions/jwt_auth/README_EN.md
  plugins/wasm-cpp/extensions/key_rate_limit/README.md
  plugins/wasm-cpp/extensions/key_rate_limit/README_EN.md
Owners: @johnlanni

feat: Add some notes to the higress-console.o11y.enabled property
  helm/higress/README.md
Owners: none

compatiable with tinygo 0.25
  plugins/wasm-go/pkg/wrapper/http_wrapper.go
Owners: @johnlanni

compatiable with tinygo 0.25 (#330)
  plugins/wasm-go/pkg/wrapper/http_wrapper.go
Owners: @johnlanni

compatiable with tinygo 0.25 (#330)
  plugins/wasm-go/pkg/wrapper/http_wrapper.go
Owners: @johnlanni

support wasm route cluster
  plugins/wasm-go/extensions/de-graphql/config/degraphql_config.go
  plugins/wasm-go/extensions/de-graphql/envoy.yaml
  plugins/wasm-go/extensions/de-graphql/go.mod
  plugins/wasm-go/extensions/de-graphql/main.go
  plugins/wasm-go/pkg/wrapper/cluster_wrapper.go
Owners: @johnlanni

update readme
  plugins/wasm-go/extensions/waf/README.md
Owners: @johnlanni

change upstream serviceSource from RouteCluster information and update docs
  plugins/wasm-go/extensions/de-graphql/README.md
  plugins/wasm-go/extensions/de-graphql/config/degraphql_config.go
  plugins/wasm-go/extensions/de-graphql/envoy.yaml
  plugins/wasm-go/extensions/de-graphql/go.mod
  plugins/wasm-go/extensions/de-graphql/graphql.yaml
  plugins/wasm-go/extensions/de-graphql/main.go
  plugins/wasm-go/pkg/wrapper/cluster_wrapper.go
Owners: @johnlanni

get upstream serviceSource from RouteCluster information and update docs (#337)
  plugins/wasm-go/extensions/de-graphql/README.md
  plugins/wasm-go/extensions/de-graphql/config/degraphql_config.go
  plugins/wasm-go/extensions/de-graphql/envoy.yaml
  plugins/wasm-go/extensions/de-graphql/go.mod
  plugins/wasm-go/extensions/de-graphql/graphql.yaml
  plugins/wasm-go/extensions/de-graphql/main.go
  plugins/wasm-go/pkg/wrapper/cluster_wrapper.go
Owners: @johnlanni

get upstream serviceSource from RouteCluster information and update docs (#337)
  plugins/wasm-go/extensions/de-graphql/README.md
  plugins/wasm-go/extensions/de-graphql/config/degraphql_config.go
  plugins/wasm-go/extensions/de-graphql/envoy.yaml
  plugins/wasm-go/extensions/de-graphql/go.mod
  plugins/wasm-go/extensions/de-graphql/graphql.yaml
  plugins/wasm-go/extensions/de-graphql/main.go
  plugins/wasm-go/pkg/wrapper/cluster_wrapper.go
Owners: @johnlanni

feat: Refactor skywalking configuration structure 1. Combine all configuration properties into a single object 2. Only enable skywalking feature when enabled is true and service.address is not empty.
  helm/core/templates/_helpers.tpl
  helm/core/templates/configmap.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
Owners: none

Fix up
  helm/core/templates/_helpers.tpl
Owners: none

feat: Implement using Wasm Plugin
  plugins/wasm-go/extensions/rewrite/README.md
  plugins/wasm-go/extensions/rewrite/VERSION
  plugins/wasm-go/extensions/rewrite/docker-compose.yaml
  plugins/wasm-go/extensions/rewrite/envoy.yaml
  plugins/wasm-go/extensions/rewrite/go.mod
  plugins/wasm-go/extensions/rewrite/go.sum
  plugins/wasm-go/extensions/rewrite/main.go
  plugins/wasm-go/extensions/rewrite/rewrite.yaml
  plugins/wasm-go/extensions/rewrite/rewriter/rewriter.go
Owners: @johnlanni

fix: Add License and fix something wrong
  plugins/wasm-go/extensions/rewrite/README.md
  plugins/wasm-go/extensions/rewrite/main.go
  plugins/wasm-go/extensions/rewrite/rewriter/rewriter.go
Owners: @johnlanni

e2e:add test for ssl redirect annotations
  test/ingress/conformance/tests/httproute-force-redirect-https.go
  test/ingress/conformance/tests/httproute-force-redirect-https.yaml
  test/ingress/conformance/tests/httproute-redirct-as-https.yaml
  test/ingress/conformance/tests/httproute-redirect-as-https.go
  test/ingress/e2e_test.go
Owners: @Xunzhuo

e2e:add test for ssl redirect annotations (#341)
  test/ingress/conformance/tests/httproute-force-redirect-https.go
  test/ingress/conformance/tests/httproute-force-redirect-https.yaml
  test/ingress/conformance/tests/httproute-redirct-as-https.yaml
  test/ingress/conformance/tests/httproute-redirect-as-https.go
  test/ingress/e2e_test.go
Owners: @Xunzhuo

e2e:add test for ssl redirect annotations (#341)
  test/ingress/conformance/tests/httproute-force-redirect-https.go
  test/ingress/conformance/tests/httproute-force-redirect-https.yaml
  test/ingress/conformance/tests/httproute-redirct-as-https.yaml
  test/ingress/conformance/tests/httproute-redirect-as-https.go
  test/ingress/e2e_test.go
Owners: @Xunzhuo

feat: Refactor skywalking configuration structure (#333)
  helm/core/templates/_helpers.tpl
  helm/core/templates/configmap.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
Owners: none

feat: Refactor skywalking configuration structure (#333)
  helm/core/templates/_helpers.tpl
  helm/core/templates/configmap.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
Owners: none

e2e: rename some cases name to make it sync with others
  test/ingress/conformance/tests/httproute-force-redirect-https.go
  test/ingress/conformance/tests/httproute-redirect-as-https.go
Owners: @Xunzhuo

e2e: rename some cases name to make it sync with others
  test/ingress/conformance/tests/httproute-force-redirect-https.go
  test/ingress/conformance/tests/httproute-redirect-as-https.go
Owners: @Xunzhuo

e2e: rename some cases name to make it sync with others (#344)
  test/ingress/conformance/tests/httproute-force-redirect-https.go
  test/ingress/conformance/tests/httproute-redirect-as-https.go
Owners: @Xunzhuo

e2e: rename some cases name to make it sync with others (#344)
  test/ingress/conformance/tests/httproute-force-redirect-https.go
  test/ingress/conformance/tests/httproute-redirect-as-https.go
Owners: @Xunzhuo

fix: e2e refers
  test/ingress/e2e_test.go
Owners: @Xunzhuo

fix: e2e refers
  test/ingress/conformance/tests/httproute-force-redirect-https.go
  test/ingress/conformance/tests/httproute-redirect-as-https.go
Owners: @Xunzhuo

update version to 1.0.0
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

Add goproxy environment variable for build-image
  plugins/wasm-go/Makefile
Owners: @johnlanni

fix e2e
  test/ingress/e2e_test.go
Owners: @Xunzhuo

Add goproxy environment variable for build-image (#347)
  plugins/wasm-go/Makefile
Owners: @johnlanni

Add goproxy environment variable for build-image (#347)
  plugins/wasm-go/Makefile
Owners: @johnlanni

update version to 1.0.0 (#348)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
  test/ingress/e2e_test.go
Owners: @Xunzhuo

update version to 1.0.0 (#348)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
  test/ingress/e2e_test.go
Owners: @Xunzhuo

init plugin cors
  plugins/wasm-go/extensions/cors/README.md
  plugins/wasm-go/extensions/cors/VERSION
  plugins/wasm-go/extensions/cors/config/cors_config.go
  plugins/wasm-go/extensions/cors/config/cors_config_test.go
  plugins/wasm-go/extensions/cors/cors.yaml
  plugins/wasm-go/extensions/cors/envoy.yaml
  plugins/wasm-go/extensions/cors/go.mod
  plugins/wasm-go/extensions/cors/go.sum
  plugins/wasm-go/extensions/cors/main.go
Owners: @johnlanni

fix code style and bug
  plugins/wasm-go/extensions/cors/README.md
  plugins/wasm-go/extensions/cors/config/cors_config.go
  plugins/wasm-go/extensions/cors/config/cors_config_test.go
  plugins/wasm-go/extensions/cors/main.go
Owners: @johnlanni

update readme
  plugins/wasm-go/extensions/cors/README.md
Owners: @johnlanni

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo
