Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo

add local env setup shell for higress
  tools/hack/local-env-setup.sh
Owners: @johnlanni, @Xunzhuo

Use env variables to suppress the logic of watching MutatingWebhookConfiguration
  helm/core/templates/controller-deployment.yaml
  istio/1.12/patches/istio/20230603-unwatch-webhook.patch
Owners: @SpecialYang, @johnlanni

fix: Fix some compatibility issues related to older versions of K8s (#363)
  helm/core/.helmignore
  helm/core/crds/customresourcedefinitions.gen_lt1.16.yaml
  helm/core/templates/controller-deployment.yaml
  pkg/ingress/kube/ingress/status.go
  pkg/ingress/kube/ingressv1/status.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: Fix some compatibility issues related to older versions of K8s (#363)
  helm/core/.helmignore
  helm/core/crds/customresourcedefinitions.gen_lt1.16.yaml
  helm/core/templates/controller-deployment.yaml
  pkg/ingress/kube/ingress/status.go
  pkg/ingress/kube/ingressv1/status.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: Fix some compatibility issues related to older versions of K8s (#363)
  helm/core/.helmignore
  helm/core/crds/customresourcedefinitions.gen_lt1.16.yaml
  helm/core/templates/controller-deployment.yaml
  pkg/ingress/kube/ingress/status.go
  pkg/ingress/kube/ingressv1/status.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feature: E2E framework supports testing wasm plugins
  .gitignore
  Makefile.core.mk
  helm/core/templates/deployment.yaml
  test/README.md
  test/ingress/conformance/tests/request-block.go
  test/ingress/conformance/tests/request-block.yaml
  test/ingress/e2e_test.go
  tools/hack/build-wasm-plugins.sh
  tools/hack/create-cluster.sh
Owners: @Xunzhuo, @johnlanni

Add ingress-wasmplugin-test to CI flow
  .github/workflows/build-and-test.yaml
Owners: none

feature: e2e framework supports testing wasm plugins (#369)
  .github/workflows/build-and-test.yaml
  .gitignore
  Makefile.core.mk
  helm/core/templates/deployment.yaml
  test/README.md
  test/ingress/conformance/tests/request-block.go
  test/ingress/conformance/tests/request-block.yaml
  test/ingress/e2e_test.go
  tools/hack/build-wasm-plugins.sh
  tools/hack/create-cluster.sh
Owners: @Xunzhuo, @johnlanni

feature: e2e framework supports testing wasm plugins (#369)
  .github/workflows/build-and-test.yaml
  .gitignore
  Makefile.core.mk
  helm/core/templates/deployment.yaml
  test/README.md
  test/ingress/conformance/tests/request-block.go
  test/ingress/conformance/tests/request-block.yaml
  test/ingress/e2e_test.go
  tools/hack/build-wasm-plugins.sh
  tools/hack/create-cluster.sh
Owners: @Xunzhuo, @johnlanni

feature: e2e framework supports testing wasm plugins (#369)
  .github/workflows/build-and-test.yaml
  .gitignore
  Makefile.core.mk
  helm/core/templates/deployment.yaml
  test/README.md
  test/ingress/conformance/tests/request-block.go
  test/ingress/conformance/tests/request-block.yaml
  test/ingress/e2e_test.go
  tools/hack/build-wasm-plugins.sh
  tools/hack/create-cluster.sh
Owners: @Xunzhuo, @johnlanni

feat: add wasm-rust sdk with `say-hello` simple extension
  plugins/wasm-rust/Cargo.lock
  plugins/wasm-rust/Cargo.toml
  plugins/wasm-rust/extensions/say-hello/Cargo.lock
  plugins/wasm-rust/extensions/say-hello/Cargo.toml
  plugins/wasm-rust/extensions/say-hello/src/lib.rs
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni

feat: support only build one plugin to testing specified WasmPlugin
  test/README.md
  tools/hack/build-wasm-plugins.sh
Owners: @Xunzhuo, @johnlanni

Update build-wasm-plugins.sh
  tools/hack/build-wasm-plugins.sh
Owners: @johnlanni, @Xunzhuo

Generated http2rpc CRD resource files.
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  api/networking/v1/http_2_rpc_deepcopy.gen.go
  api/networking/v1/http_2_rpc_json.gen.go
  client/pkg/apis/networking/v1/register.gen.go
  client/pkg/apis/networking/v1/types.gen.go
  client/pkg/apis/networking/v1/zz_generated.deepcopy.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/fake/fake_http2rpc.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/fake/fake_networking_client.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/generated_expansion.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/http2rpc.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/networking_client.gen.go
  client/pkg/informers/externalversions/generic.gen.go
  client/pkg/informers/externalversions/networking/v1/http2rpc.gen.go
  client/pkg/informers/externalversions/networking/v1/interface.gen.go
  client/pkg/listers/networking/v1/expansion_generated.gen.go
  client/pkg/listers/networking/v1/http2rpc.gen.go
Owners: @johnlanni

Implement Http2Rpc envoyFilter Converter
  pkg/ingress/config/ingress_config.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Add Http2Rpc Annotation Parser
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/http2rpc.go
  pkg/ingress/kube/annotations/http2rpc_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Add Http2Rpc Controller to HigressConfig
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/http2rpc/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Add e2e test for http2rpc
  Makefile.core.mk
  api/kubernetes/customresourcedefinitions.gen.yaml
  helm/core/crds/customresourcedefinitions.gen.yaml
  helm/core/templates/controller-clusterrole.yaml
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/annotations/http2rpc.go
  test/ingress/conformance/base/manifests.yaml
  test/ingress/conformance/tests/httproute-http2rpc.go
  test/ingress/conformance/tests/httproute-http2rpc.yaml
  test/ingress/e2e_test.go
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo

Fix redundant single quotation mark
  pkg/ingress/config/ingress_config.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Use dubbo and grpc service properties to replease routeType
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  helm/core/crds/customresourcedefinitions.gen.yaml
  pkg/ingress/config/ingress_config.go
  test/ingress/conformance/tests/httproute-http2rpc.yaml
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo

Get dubbo-serveice-version from CRD property and make e2e test case passed
  Makefile.core.mk
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  helm/core/crds/customresourcedefinitions.gen.yaml
  pkg/ingress/config/ingress_config.go
  test/ingress/conformance/tests/httproute-http2rpc.go
  test/ingress/conformance/tests/httproute-http2rpc.yaml
  test/ingress/conformance/utils/http/http.go
  tools/hack/docker-pull-image.sh
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo

change the http method and param source type
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  helm/core/crds/customresourcedefinitions.gen.yaml
  pkg/ingress/config/ingress_config.go
  test/ingress/conformance/tests/httproute-http2rpc.yaml
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo

Fix failed case of converage test
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/annotations/http2rpc_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Move the dubbo service to top leval to make the CRD clearer
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  api/networking/v1/http_2_rpc_deepcopy.gen.go
  api/networking/v1/http_2_rpc_json.gen.go
  helm/core/crds/customresourcedefinitions.gen.yaml
  pkg/ingress/config/ingress_config.go
  test/ingress/conformance/tests/httproute-http2rpc.yaml
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo

Make code more simple by code reuse
  pkg/ingress/kube/http2rpc/controller.go
  pkg/ingress/kube/mcpbridge/controller.go
  pkg/ingress/kube/wasmplugin/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: support only build one plugin to testing specified WasmPlugin (#371)
  test/README.md
  tools/hack/build-wasm-plugins.sh
Owners: @Xunzhuo, @johnlanni

feat: support only build one plugin to testing specified WasmPlugin (#371)
  test/README.md
  tools/hack/build-wasm-plugins.sh
Owners: @Xunzhuo, @johnlanni

feat: support only build one plugin to testing specified WasmPlugin (#371)
  test/README.md
  tools/hack/build-wasm-plugins.sh
Owners: @Xunzhuo, @johnlanni

release: Prepare for releasing v1.0.1
  VERSION
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

release: Prepare for releasing v1.0.1 (#367)
  VERSION
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

release: Prepare for releasing v1.0.1 (#367)
  VERSION
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

release: Prepare for releasing v1.0.1 (#367)
  VERSION
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

feat: Pilot debug APIs support remote anonymous requests
  istio/1.12/patches/istio/20230618-debug-api-anonymous.patch
Owners: @SpecialYang, @johnlanni

feat: Pilot debug APIs support remote anonymous requests (#386)
  istio/1.12/patches/istio/20230618-debug-api-anonymous.patch
Owners: @SpecialYang, @johnlanni

feat: Pilot debug APIs support remote anonymous requests (#386)
  istio/1.12/patches/istio/20230618-debug-api-anonymous.patch
Owners: @SpecialYang, @johnlanni

feat: Pilot debug APIs support remote anonymous requests (#386)
  istio/1.12/patches/istio/20230618-debug-api-anonymous.patch
Owners: @SpecialYang, @johnlanni

Support HTTP/JSON to dubbo (#340)
  Makefile.core.mk
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  api/networking/v1/http_2_rpc_deepcopy.gen.go
  api/networking/v1/http_2_rpc_json.gen.go
  client/pkg/apis/networking/v1/register.gen.go
  client/pkg/apis/networking/v1/types.gen.go
  client/pkg/apis/networking/v1/zz_generated.deepcopy.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/fake/fake_http2rpc.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/fake/fake_networking_client.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/generated_expansion.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/http2rpc.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/networking_client.gen.go
  client/pkg/informers/externalversions/generic.gen.go
  client/pkg/informers/externalversions/networking/v1/http2rpc.gen.go
  client/pkg/informers/externalversions/networking/v1/interface.gen.go
  client/pkg/listers/networking/v1/expansion_generated.gen.go
  client/pkg/listers/networking/v1/http2rpc.gen.go
  helm/core/crds/customresourcedefinitions.gen.yaml
  helm/core/templates/controller-clusterrole.yaml
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/http2rpc.go
  pkg/ingress/kube/annotations/http2rpc_test.go
  pkg/ingress/kube/http2rpc/controller.go
  pkg/ingress/kube/wasmplugin/controller.go
  test/ingress/conformance/base/manifests.yaml
  test/ingress/conformance/tests/httproute-http2rpc.go
  test/ingress/conformance/tests/httproute-http2rpc.yaml
  test/ingress/conformance/utils/http/http.go
  test/ingress/e2e_test.go
  tools/hack/docker-pull-image.sh
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo

Support HTTP/JSON to dubbo (#340)
  Makefile.core.mk
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  api/networking/v1/http_2_rpc_deepcopy.gen.go
  api/networking/v1/http_2_rpc_json.gen.go
  client/pkg/apis/networking/v1/register.gen.go
  client/pkg/apis/networking/v1/types.gen.go
  client/pkg/apis/networking/v1/zz_generated.deepcopy.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/fake/fake_http2rpc.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/fake/fake_networking_client.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/generated_expansion.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/http2rpc.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/networking_client.gen.go
  client/pkg/informers/externalversions/generic.gen.go
  client/pkg/informers/externalversions/networking/v1/http2rpc.gen.go
  client/pkg/informers/externalversions/networking/v1/interface.gen.go
  client/pkg/listers/networking/v1/expansion_generated.gen.go
  client/pkg/listers/networking/v1/http2rpc.gen.go
  helm/core/crds/customresourcedefinitions.gen.yaml
  helm/core/templates/controller-clusterrole.yaml
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/http2rpc.go
  pkg/ingress/kube/annotations/http2rpc_test.go
  pkg/ingress/kube/http2rpc/controller.go
  pkg/ingress/kube/wasmplugin/controller.go
  test/ingress/conformance/base/manifests.yaml
  test/ingress/conformance/tests/httproute-http2rpc.go
  test/ingress/conformance/tests/httproute-http2rpc.yaml
  test/ingress/conformance/utils/http/http.go
  test/ingress/e2e_test.go
  tools/hack/docker-pull-image.sh
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo

Support HTTP/JSON to dubbo (#340)
  Makefile.core.mk
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  api/networking/v1/http_2_rpc_deepcopy.gen.go
  api/networking/v1/http_2_rpc_json.gen.go
  client/pkg/apis/networking/v1/register.gen.go
  client/pkg/apis/networking/v1/types.gen.go
  client/pkg/apis/networking/v1/zz_generated.deepcopy.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/fake/fake_http2rpc.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/fake/fake_networking_client.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/generated_expansion.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/http2rpc.gen.go
  client/pkg/clientset/versioned/typed/networking/v1/networking_client.gen.go
  client/pkg/informers/externalversions/generic.gen.go
  client/pkg/informers/externalversions/networking/v1/http2rpc.gen.go
  client/pkg/informers/externalversions/networking/v1/interface.gen.go
  client/pkg/listers/networking/v1/expansion_generated.gen.go
  client/pkg/listers/networking/v1/http2rpc.gen.go
  helm/core/crds/customresourcedefinitions.gen.yaml
  helm/core/templates/controller-clusterrole.yaml
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/http2rpc.go
  pkg/ingress/kube/annotations/http2rpc_test.go
  pkg/ingress/kube/http2rpc/controller.go
  pkg/ingress/kube/wasmplugin/controller.go
  test/ingress/conformance/base/manifests.yaml
  test/ingress/conformance/tests/httproute-http2rpc.go
  test/ingress/conformance/tests/httproute-http2rpc.yaml
  test/ingress/conformance/utils/http/http.go
  test/ingress/e2e_test.go
  tools/hack/docker-pull-image.sh
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo

feat: add wasm-rust sdk with say-hello simple extension (#350)
  .gitignore
  plugins/wasm-rust/.dockerignore
  plugins/wasm-rust/Cargo.lock
  plugins/wasm-rust/Cargo.toml
  plugins/wasm-rust/Dockerfile
  plugins/wasm-rust/Makefile
  plugins/wasm-rust/README.md
  plugins/wasm-rust/extensions/say-hello/Cargo.lock
  plugins/wasm-rust/extensions/say-hello/Cargo.toml
  plugins/wasm-rust/extensions/say-hello/docker-compose.yaml
  plugins/wasm-rust/extensions/say-hello/envoy.yaml
  plugins/wasm-rust/extensions/say-hello/src/lib.rs
  plugins/wasm-rust/src/error.rs
  plugins/wasm-rust/src/internal.rs
  plugins/wasm-rust/src/lib.rs
  plugins/wasm-rust/src/log.rs
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni
