Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @NameHaibinZhang, @Xunzhuo

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo

feat: support match annotation (#188)
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/match.go
  pkg/ingress/kube/annotations/match_test.go
  test/ingress/conformance/tests/httproute-match-headers.go
  test/ingress/conformance/tests/httproute-match-headers.yaml
  test/ingress/conformance/tests/httproute-match-methods.go
  test/ingress/conformance/tests/httproute-match-methods.yaml
  test/ingress/conformance/tests/httproute-match-query-params.go
  test/ingress/conformance/tests/httproute-match-query-params.yaml
  test/ingress/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Xunzhuo

feat: support match annotation (#188)
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/match.go
  pkg/ingress/kube/annotations/match_test.go
  test/ingress/conformance/tests/httproute-match-headers.go
  test/ingress/conformance/tests/httproute-match-headers.yaml
  test/ingress/conformance/tests/httproute-match-methods.go
  test/ingress/conformance/tests/httproute-match-methods.yaml
  test/ingress/conformance/tests/httproute-match-query-params.go
  test/ingress/conformance/tests/httproute-match-query-params.yaml
  test/ingress/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Xunzhuo

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README_EN.md
  README_EN.md
Owners: none

Update README_EN.md
  README_EN.md
Owners: none

Support deploying helm charts to Aliyun OSS when creating a new tag
  .github/workflows/deploy-to-oss.yaml
Owners: none

feat: add efk for log collection
  go.sum
  helm/efk/.helmignore
  helm/efk/Chart.yaml
  helm/efk/templates/_helpers.tpl
  helm/efk/templates/elasticsearch.yaml
  helm/efk/templates/fluentd.yaml
  helm/efk/templates/kibana.yaml
  helm/efk/templates/namespace.yaml
  helm/efk/values.yaml
Owners: none

Enhance the compatibility of wasm-go sdk for route matching
  plugins/wasm-go/pkg/matcher/rule_matcher.go
Owners: @johnlanni

Enhance the compatibility of wasm-go sdk for route matching (#205)
  plugins/wasm-go/pkg/matcher/rule_matcher.go
Owners: @johnlanni

Enhance the compatibility of wasm-go sdk for route matching (#205)
  plugins/wasm-go/pkg/matcher/rule_matcher.go
Owners: @johnlanni

e2e: append the correct test cases
  test/ingress/conformance/tests/httproute-canary-header.go
  test/ingress/conformance/tests/httproute-rewrite-host.go
Owners: @Xunzhuo

e2e: append the correct test cases (#206)
  test/ingress/conformance/tests/httproute-canary-header.go
  test/ingress/conformance/tests/httproute-rewrite-host.go
Owners: @Xunzhuo

e2e: append the correct test cases (#206)
  test/ingress/conformance/tests/httproute-canary-header.go
  test/ingress/conformance/tests/httproute-rewrite-host.go
Owners: @Xunzhuo

feat: Support deploying helm charts to Aliyun OSS when creating a new tag (#202)
  .github/workflows/deploy-to-oss.yaml
Owners: none

feat: Support deploying helm charts to Aliyun OSS when creating a new tag (#202)
  .github/workflows/deploy-to-oss.yaml
Owners: none

e2e: add http route permanent direct cases
  test/ingress/conformance/tests/httproute-permanent-redirect.go
  test/ingress/conformance/tests/httproute-permanent-redirect.yaml
Owners: @Xunzhuo

doc: Use helm repo instead of OCI image as the installation source
  README.md
  README_EN.md
Owners: none

translate jwt auth plugin docs to English
  plugins/wasm-cpp/extensions/jwt_auth/README_EN.md
  plugins/wasm-cpp/extensions/jwt_auth/process.png
Owners: @johnlanni

Use global.kind to enable local mode
  README.md
  README_EN.md
Owners: none

doc: Use helm repo instead of OCI image as the installation source (#210)
  README.md
  README_EN.md
Owners: none

doc: Use helm repo instead of OCI image as the installation source (#210)
  README.md
  README_EN.md
Owners: none

Revised wording and formatting of jwt-auth- plugin readme translation
  plugins/wasm-cpp/extensions/jwt_auth/README_EN.md
Owners: @johnlanni

fix typo
  test/ingress/conformance/tests/httproute-permanent-redirect.go
Owners: @Xunzhuo

e2e: add http route permanet direct cases (#209)
  test/ingress/conformance/tests/httproute-permanent-redirect.go
  test/ingress/conformance/tests/httproute-permanent-redirect.yaml
Owners: @Xunzhuo

e2e: add http route permanet direct cases (#209)
  test/ingress/conformance/tests/httproute-permanent-redirect.go
  test/ingress/conformance/tests/httproute-permanent-redirect.yaml
Owners: @Xunzhuo

feat: simplify the build process
  plugins/wasm-go/Dockerfile
  plugins/wasm-go/DockerfileBuilder
  plugins/wasm-go/Makefile
  plugins/wasm-go/README.md
Owners: @johnlanni

Revised wording of jwt-auth- plugin readme translation
  plugins/wasm-cpp/extensions/jwt_auth/README_EN.md
Owners: @johnlanni

fix the error test case
  test/ingress/conformance/tests/httproute-permanent-redirect.go
  test/ingress/conformance/tests/httproute-permanent-redirect.yaml
  test/ingress/e2e_test.go
Owners: @Xunzhuo

e2e: add http route direct code test cases
  test/ingress/conformance/tests/httproute-permanent-redirect-code.go
  test/ingress/conformance/tests/httproute-permanent-redirect-code.yaml
Owners: @Xunzhuo

e2e: add http route temporal redirect test cases
  test/ingress/conformance/tests/httproute-temporal-redirect.go
  test/ingress/conformance/tests/httproute-temporal-redirect.yaml
Owners: @Xunzhuo

e2e: add http route app root test cases
  test/ingress/conformance/tests/httproute-app-root.go
  test/ingress/conformance/tests/httproute-app-root.yaml
Owners: @Xunzhuo

fix typo
  test/ingress/conformance/tests/httproute-app-root.yaml
  test/ingress/conformance/tests/httproute-permanent-redirect-code.go
  test/ingress/conformance/tests/httproute-permanent-redirect-code.yaml
  test/ingress/conformance/tests/httproute-permanent-redirect.go
  test/ingress/conformance/tests/httproute-permanent-redirect.yaml
  test/ingress/conformance/tests/httproute-temporal-redirect.go
  test/ingress/conformance/tests/httproute-temporal-redirect.yaml
  test/ingress/e2e_test.go
Owners: @Xunzhuo

e2e: add test cases for url redirect annotations (#216)
  test/ingress/conformance/tests/httproute-app-root.go
  test/ingress/conformance/tests/httproute-app-root.yaml
  test/ingress/conformance/tests/httproute-permanent-redirect-code.go
  test/ingress/conformance/tests/httproute-permanent-redirect-code.yaml
  test/ingress/conformance/tests/httproute-temporal-redirect.go
  test/ingress/conformance/tests/httproute-temporal-redirect.yaml
  test/ingress/e2e_test.go
Owners: @Xunzhuo

e2e: add test cases for url redirect annotations (#216)
  test/ingress/conformance/tests/httproute-app-root.go
  test/ingress/conformance/tests/httproute-app-root.yaml
  test/ingress/conformance/tests/httproute-permanent-redirect-code.go
  test/ingress/conformance/tests/httproute-permanent-redirect-code.yaml
  test/ingress/conformance/tests/httproute-temporal-redirect.go
  test/ingress/conformance/tests/httproute-temporal-redirect.yaml
  test/ingress/e2e_test.go
Owners: @Xunzhuo

feat: English readme for wasm-go sdk
  plugins/wasm-go/Dockerfile
  plugins/wasm-go/README.md
  plugins/wasm-go/README_EN.md
Owners: @johnlanni

feat: add make rule: builder
  plugins/wasm-go/Makefile
Owners: @johnlanni

feat: 使用多阶段构建优化 wasm-go 构建流程 (#192)
  plugins/wasm-go/Dockerfile
  plugins/wasm-go/DockerfileBuilder
  plugins/wasm-go/Makefile
  plugins/wasm-go/README.md
  plugins/wasm-go/README_EN.md
Owners: @johnlanni

feat: 使用多阶段构建优化 wasm-go 构建流程 (#192)
  plugins/wasm-go/Dockerfile
  plugins/wasm-go/DockerfileBuilder
  plugins/wasm-go/Makefile
  plugins/wasm-go/README.md
  plugins/wasm-go/README_EN.md
Owners: @johnlanni

docs: translate the document of jwt-auth plugin readme to English. (#213)
  plugins/wasm-cpp/extensions/jwt_auth/README_EN.md
  plugins/wasm-cpp/extensions/jwt_auth/process.png
Owners: @johnlanni
