Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

feat: issue 529
  registry/nacos/v2/watcher.go
Owners: @NameHaibinZhang, @johnlanni

fix: issue 530
  registry/nacos/v2/watcher.go
  registry/nacos/watcher.go
Owners: @NameHaibinZhang, @johnlanni

remove unnecessary comments
  plugins/wasm-go/extensions/waf/wasmplugin/plugin.go
Owners: @johnlanni

feat: Use istio to provide Gateway API support
  helm/core/templates/configmap.yaml
  helm/core/templates/controller-deployment.yaml
  helm/core/values.yaml
  helm/higress/README.md
Owners: none

refactor
  test/e2e/conformance/base/consul.yaml
  test/e2e/conformance/base/dubbo.yaml
  test/e2e/conformance/base/eureka.yaml
  test/e2e/conformance/base/manifests.yaml
  test/e2e/conformance/base/nacos.yaml
  test/e2e/conformance/utils/suite/suite.go
Owners: @Xunzhuo

fix: remove non-existed namespaces and separate bases (#541)
  test/e2e/conformance/base/consul.yaml
  test/e2e/conformance/base/dubbo.yaml
  test/e2e/conformance/base/eureka.yaml
  test/e2e/conformance/base/manifests.yaml
  test/e2e/conformance/base/nacos.yaml
  test/e2e/conformance/utils/suite/suite.go
Owners: @Xunzhuo

fix: remove non-existed namespaces and separate bases (#541)
  test/e2e/conformance/base/consul.yaml
  test/e2e/conformance/base/dubbo.yaml
  test/e2e/conformance/base/eureka.yaml
  test/e2e/conformance/base/manifests.yaml
  test/e2e/conformance/base/nacos.yaml
  test/e2e/conformance/utils/suite/suite.go
Owners: @Xunzhuo

fix: remove non-existed namespaces and separate bases (#541)
  test/e2e/conformance/base/consul.yaml
  test/e2e/conformance/base/dubbo.yaml
  test/e2e/conformance/base/eureka.yaml
  test/e2e/conformance/base/manifests.yaml
  test/e2e/conformance/base/nacos.yaml
  test/e2e/conformance/utils/suite/suite.go
Owners: @Xunzhuo

fix: Fix the image display in the E2E test README.md (#516)
  test/README.md
Owners: @Xunzhuo

fix: Fix the image display in the E2E test README.md (#516)
  test/README.md
Owners: @Xunzhuo

fix: Fix the image display in the E2E test README.md (#516)
  test/README.md
Owners: @Xunzhuo

rel: Release version 1.1.2
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

fix a type
  Makefile.core.mk
Owners: none

rel: Release version 1.1.2 (#545)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

rel: Release version 1.1.2 (#545)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

rel: Release version 1.1.2 (#545)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

feat: add profile/install/uninstall/upgrade command
  go.mod
  go.sum
  pkg/cmd/hgctl/common.go
  pkg/cmd/hgctl/helm/common.go
  pkg/cmd/hgctl/helm/name/name.go
  pkg/cmd/hgctl/helm/object/objects.go
  pkg/cmd/hgctl/helm/object/objects_test.go
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/helm/render.go
  pkg/cmd/hgctl/helm/tpath/tree.go
  pkg/cmd/hgctl/helm/tpath/tree_test.go
  pkg/cmd/hgctl/helm/tpath/util.go
  pkg/cmd/hgctl/helm/tpath/util_test.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/component.go
  pkg/cmd/hgctl/installer/installer.go
  pkg/cmd/hgctl/kubernetes/client.go
  pkg/cmd/hgctl/kubernetes/common.go
  pkg/cmd/hgctl/manifests/manifest.go
  pkg/cmd/hgctl/manifests/profiles/_all.yaml
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
  pkg/cmd/hgctl/profile.go
  pkg/cmd/hgctl/profileDump.go
  pkg/cmd/hgctl/profileList.go
  pkg/cmd/hgctl/uninstall.go
  pkg/cmd/hgctl/upgrade.go
  pkg/cmd/hgctl/util/filter.go
  pkg/cmd/hgctl/util/filter_test.go
  pkg/cmd/hgctl/util/path.go
  pkg/cmd/hgctl/util/path_test.go
  pkg/cmd/hgctl/util/reflect.go
  pkg/cmd/hgctl/util/util.go
  pkg/cmd/hgctl/util/yaml.go
  pkg/cmd/hgctl/util/yaml_test.go
  pkg/cmd/hgctl/version.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: Use istio to provide Gateway API support (#543)
  helm/core/templates/configmap.yaml
  helm/core/templates/controller-deployment.yaml
  helm/core/values.yaml
  helm/higress/README.md
Owners: none

feat: Use istio to provide Gateway API support (#543)
  helm/core/templates/configmap.yaml
  helm/core/templates/controller-deployment.yaml
  helm/core/values.yaml
  helm/higress/README.md
Owners: none

feat: Use istio to provide Gateway API support (#543)
  helm/core/templates/configmap.yaml
  helm/core/templates/controller-deployment.yaml
  helm/core/values.yaml
  helm/higress/README.md
Owners: none

fix: tinygo build src
  plugins/wasm-go/Dockerfile
Owners: @johnlanni

fix: e2e test: allow header pair with the same name
  test/e2e/conformance/utils/http/http.go
  test/e2e/conformance/utils/roundtripper/roundtripper.go
Owners: @Xunzhuo

feat: request and response transformer
  plugins/wasm-go/extensions/transformer/README.md
  plugins/wasm-go/extensions/transformer/VERSION
  plugins/wasm-go/extensions/transformer/go.mod
  plugins/wasm-go/extensions/transformer/go.sum
  plugins/wasm-go/extensions/transformer/main.go
  plugins/wasm-go/extensions/transformer/utils.go
  plugins/wasm-go/extensions/transformer/utils_test.go
  test/e2e/conformance/tests/go-wasm-transformer.go
  test/e2e/conformance/tests/go-wasm-transformer.yaml
Owners: @johnlanni, @Xunzhuo

feat: add profile/install/uninstall/upgrade command (#538)
  go.mod
  go.sum
  pkg/cmd/hgctl/common.go
  pkg/cmd/hgctl/helm/common.go
  pkg/cmd/hgctl/helm/name/name.go
  pkg/cmd/hgctl/helm/object/objects.go
  pkg/cmd/hgctl/helm/object/objects_test.go
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/helm/render.go
  pkg/cmd/hgctl/helm/tpath/tree.go
  pkg/cmd/hgctl/helm/tpath/tree_test.go
  pkg/cmd/hgctl/helm/tpath/util.go
  pkg/cmd/hgctl/helm/tpath/util_test.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/component.go
  pkg/cmd/hgctl/installer/installer.go
  pkg/cmd/hgctl/kubernetes/client.go
  pkg/cmd/hgctl/kubernetes/common.go
  pkg/cmd/hgctl/manifests/manifest.go
  pkg/cmd/hgctl/manifests/profiles/_all.yaml
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
  pkg/cmd/hgctl/profile.go
  pkg/cmd/hgctl/profileDump.go
  pkg/cmd/hgctl/profileList.go
  pkg/cmd/hgctl/uninstall.go
  pkg/cmd/hgctl/upgrade.go
  pkg/cmd/hgctl/util/filter.go
  pkg/cmd/hgctl/util/filter_test.go
  pkg/cmd/hgctl/util/path.go
  pkg/cmd/hgctl/util/path_test.go
  pkg/cmd/hgctl/util/reflect.go
  pkg/cmd/hgctl/util/util.go
  pkg/cmd/hgctl/util/yaml.go
  pkg/cmd/hgctl/util/yaml_test.go
  pkg/cmd/hgctl/version.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add profile/install/uninstall/upgrade command (#538)
  go.mod
  go.sum
  pkg/cmd/hgctl/common.go
  pkg/cmd/hgctl/helm/common.go
  pkg/cmd/hgctl/helm/name/name.go
  pkg/cmd/hgctl/helm/object/objects.go
  pkg/cmd/hgctl/helm/object/objects_test.go
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/helm/render.go
  pkg/cmd/hgctl/helm/tpath/tree.go
  pkg/cmd/hgctl/helm/tpath/tree_test.go
  pkg/cmd/hgctl/helm/tpath/util.go
  pkg/cmd/hgctl/helm/tpath/util_test.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/component.go
  pkg/cmd/hgctl/installer/installer.go
  pkg/cmd/hgctl/kubernetes/client.go
  pkg/cmd/hgctl/kubernetes/common.go
  pkg/cmd/hgctl/manifests/manifest.go
  pkg/cmd/hgctl/manifests/profiles/_all.yaml
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
  pkg/cmd/hgctl/profile.go
  pkg/cmd/hgctl/profileDump.go
  pkg/cmd/hgctl/profileList.go
  pkg/cmd/hgctl/uninstall.go
  pkg/cmd/hgctl/upgrade.go
  pkg/cmd/hgctl/util/filter.go
  pkg/cmd/hgctl/util/filter_test.go
  pkg/cmd/hgctl/util/path.go
  pkg/cmd/hgctl/util/path_test.go
  pkg/cmd/hgctl/util/reflect.go
  pkg/cmd/hgctl/util/util.go
  pkg/cmd/hgctl/util/yaml.go
  pkg/cmd/hgctl/util/yaml_test.go
  pkg/cmd/hgctl/version.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add profile/install/uninstall/upgrade command (#538)
  go.mod
  go.sum
  pkg/cmd/hgctl/common.go
  pkg/cmd/hgctl/helm/common.go
  pkg/cmd/hgctl/helm/name/name.go
  pkg/cmd/hgctl/helm/object/objects.go
  pkg/cmd/hgctl/helm/object/objects_test.go
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/helm/render.go
  pkg/cmd/hgctl/helm/tpath/tree.go
  pkg/cmd/hgctl/helm/tpath/tree_test.go
  pkg/cmd/hgctl/helm/tpath/util.go
  pkg/cmd/hgctl/helm/tpath/util_test.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/component.go
  pkg/cmd/hgctl/installer/installer.go
  pkg/cmd/hgctl/kubernetes/client.go
  pkg/cmd/hgctl/kubernetes/common.go
  pkg/cmd/hgctl/manifests/manifest.go
  pkg/cmd/hgctl/manifests/profiles/_all.yaml
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
  pkg/cmd/hgctl/profile.go
  pkg/cmd/hgctl/profileDump.go
  pkg/cmd/hgctl/profileList.go
  pkg/cmd/hgctl/uninstall.go
  pkg/cmd/hgctl/upgrade.go
  pkg/cmd/hgctl/util/filter.go
  pkg/cmd/hgctl/util/filter_test.go
  pkg/cmd/hgctl/util/path.go
  pkg/cmd/hgctl/util/path_test.go
  pkg/cmd/hgctl/util/reflect.go
  pkg/cmd/hgctl/util/util.go
  pkg/cmd/hgctl/util/yaml.go
  pkg/cmd/hgctl/util/yaml_test.go
  pkg/cmd/hgctl/version.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

opt: hgctl install/uninstall/upgrade
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/component.go
  pkg/cmd/hgctl/installer/installer.go
  pkg/cmd/hgctl/uninstall.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: opt hgctl install/uninstall/upgrade (#550)
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/component.go
  pkg/cmd/hgctl/installer/installer.go
  pkg/cmd/hgctl/uninstall.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: opt hgctl install/uninstall/upgrade (#550)
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/component.go
  pkg/cmd/hgctl/installer/installer.go
  pkg/cmd/hgctl/uninstall.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: opt hgctl install/uninstall/upgrade (#550)
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/component.go
  pkg/cmd/hgctl/installer/installer.go
  pkg/cmd/hgctl/uninstall.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

更新waf插件，丰富规则命中时日志内容 (#537)
  plugins/wasm-go/extensions/waf/local/envoy-config.yaml
  plugins/wasm-go/extensions/waf/wasmplugin/logger.go
  plugins/wasm-go/extensions/waf/wasmplugin/plugin.go
  plugins/wasm-go/extensions/waf/wasmplugin/utils.go
Owners: @johnlanni

更新waf插件，丰富规则命中时日志内容 (#537)
  plugins/wasm-go/extensions/waf/local/envoy-config.yaml
  plugins/wasm-go/extensions/waf/wasmplugin/logger.go
  plugins/wasm-go/extensions/waf/wasmplugin/plugin.go
  plugins/wasm-go/extensions/waf/wasmplugin/utils.go
Owners: @johnlanni

更新waf插件，丰富规则命中时日志内容 (#537)
  plugins/wasm-go/extensions/waf/local/envoy-config.yaml
  plugins/wasm-go/extensions/waf/wasmplugin/logger.go
  plugins/wasm-go/extensions/waf/wasmplugin/plugin.go
  plugins/wasm-go/extensions/waf/wasmplugin/utils.go
Owners: @johnlanni

fix: nacos client opened, but not been closed (#542)
  registry/nacos/v2/watcher.go
Owners: @NameHaibinZhang, @johnlanni

fix: nacos client opened, but not been closed (#542)
  registry/nacos/v2/watcher.go
Owners: @NameHaibinZhang, @johnlanni

fix: nacos client opened, but not been closed (#542)
  registry/nacos/v2/watcher.go
Owners: @NameHaibinZhang, @johnlanni

fix the delete service issue in nacos registry
  registry/memory/cache.go
  registry/nacos/v2/watcher.go
Owners: @NameHaibinZhang, @johnlanni

Add files via upload
  go.mod
  go.sum
Owners: none

feat: add hgctl dashboard support
  pkg/cmd/hgctl/configRetriever.go
  pkg/cmd/hgctl/config_test.go
  pkg/cmd/hgctl/dashboard.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/kubernetes/port-forwarder.go
  pkg/cmd/hgctl/root.go
  pkg/cmd/hgctl/uninstall.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Add files via upload
  go.mod
  go.sum
Owners: none

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo
