Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

chore: explain source about echo-body
  test/e2e/conformance/base/manifests.yaml
Owners: @Xunzhuo

doc: update usages in yaml
  plugins/wasm-go/extensions/transformer/README.md
Owners: @johnlanni

remove useless code in cors plugin
  plugins/wasm-go/extensions/cors/main.go
Owners: @johnlanni

remove useless code in cors plugin (#735)
  plugins/wasm-go/extensions/cors/main.go
Owners: @johnlanni

remove useless code in cors plugin (#735)
  plugins/wasm-go/extensions/cors/main.go
Owners: @johnlanni

remove useless code in cors plugin (#735)
  plugins/wasm-go/extensions/cors/main.go
Owners: @johnlanni

fix: rtripper http method initialization rollback
  test/e2e/conformance/utils/roundtripper/roundtripper.go
Owners: @Xunzhuo

add disable_on_etag_header
  test/e2e/conformance/tests/configmap-gzip.go
Owners: @Xunzhuo

fix: License issues
  .licenserc.yaml
  pkg/ingress/kube/gateway/controller.go
  pkg/model/credentials/resource.go
  pkg/model/push_context.go
  pkg/model/push_context_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: Unit test errors
  pkg/ingress/kube/annotations/auth_test.go
  pkg/ingress/kube/annotations/default_backend_test.go
  pkg/ingress/kube/annotations/local_rate_limit_test.go
  pkg/ingress/kube/annotations/retry_test.go
  pkg/ingress/kube/annotations/rewrite_test.go
  pkg/ingress/kube/annotations/timeout_test.go
  pkg/ingress/kube/util/util_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

tools(hgctl): add windows build
  .github/workflows/latest-release.yaml
  Makefile.core.mk
  pkg/cmd/hgctl/plugin/build/build.go
  pkg/cmd/hgctl/plugin/build/signal.go
  pkg/cmd/hgctl/plugin/build/signal_windows.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

doc: some correction
  plugins/wasm-go/extensions/transformer/README.md
Owners: @johnlanni

tools(script): support install hgctl on windows
  tools/hack/get-hgctl.sh
Owners: @johnlanni, @Xunzhuo

tools(hgctl): add windows build (#739)
  .github/workflows/latest-release.yaml
  Makefile.core.mk
  pkg/cmd/hgctl/plugin/build/build.go
  pkg/cmd/hgctl/plugin/build/signal.go
  pkg/cmd/hgctl/plugin/build/signal_windows.go
  tools/hack/get-hgctl.sh
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

tools(hgctl): add windows build (#739)
  .github/workflows/latest-release.yaml
  Makefile.core.mk
  pkg/cmd/hgctl/plugin/build/build.go
  pkg/cmd/hgctl/plugin/build/signal.go
  pkg/cmd/hgctl/plugin/build/signal_windows.go
  tools/hack/get-hgctl.sh
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

tools(hgctl): add windows build (#739)
  .github/workflows/latest-release.yaml
  Makefile.core.mk
  pkg/cmd/hgctl/plugin/build/build.go
  pkg/cmd/hgctl/plugin/build/signal.go
  pkg/cmd/hgctl/plugin/build/signal_windows.go
  tools/hack/get-hgctl.sh
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Update get-hgctl.sh
  tools/hack/get-hgctl.sh
Owners: @johnlanni, @Xunzhuo

Update get-hgctl.sh
  tools/hack/get-hgctl.sh
Owners: @johnlanni, @Xunzhuo

Update get-hgctl.sh
  tools/hack/get-hgctl.sh
Owners: @johnlanni, @Xunzhuo

bugfix(main): fix test coverage panic permission denied in darwin/arm64
  go.mod
  go.sum
Owners: none

save to remote
  plugins/wasm-go/extensions/request-validation/main.go
  plugins/wasm-go/extensions/request-validation/validation/array_validation.go
  plugins/wasm-go/extensions/request-validation/validation/enum_validation.go
  plugins/wasm-go/extensions/request-validation/validation/int_range_validation.go
  plugins/wasm-go/extensions/request-validation/validation/regex_validation.go
  plugins/wasm-go/extensions/request-validation/validation/string_length_validation.go
Owners: @johnlanni

feat: add e2e test for envoy filter (#710)
  .licenserc.yaml
  cmd/hgctl/config/gateway_config.go
  cmd/hgctl/config/gateway_config_test.go
  cmd/hgctl/config/testdata/config/input/in.all.json
  cmd/hgctl/config/testdata/config/output/out.all.json
  cmd/hgctl/config/testdata/config/output/out.all.yaml
  cmd/hgctl/config/testdata/config/output/out.bootstrap.json
  cmd/hgctl/config/testdata/config/output/out.bootstrap.yaml
  cmd/hgctl/config/testdata/config/output/out.cluster.json
  cmd/hgctl/config/testdata/config/output/out.cluster.yaml
  cmd/hgctl/config/testdata/config/output/out.endpoints.json
  cmd/hgctl/config/testdata/config/output/out.endpoints.yaml
  cmd/hgctl/config/testdata/config/output/out.listener.json
  cmd/hgctl/config/testdata/config/output/out.listener.yaml
  cmd/hgctl/config/testdata/config/output/out.route.json
  cmd/hgctl/config/testdata/config/output/out.route.yaml
  go.mod
  go.sum
  pkg/cmd/hgctl/config_bootstrap.go
  pkg/cmd/hgctl/config_cluster.go
  pkg/cmd/hgctl/config_cmd.go
  pkg/cmd/hgctl/config_endpoint.go
  pkg/cmd/hgctl/config_listener.go
  pkg/cmd/hgctl/config_route.go
  test/e2e/conformance/tests/configmap-gzip.go
  test/e2e/conformance/tests/configmap-gzip.yaml
  test/e2e/conformance/utils/envoy/envoy.go
  test/e2e/conformance/utils/envoy/envoy_test.go
  test/e2e/conformance/utils/flags/flags.go
  test/e2e/conformance/utils/kubernetes/helpers.go
  test/e2e/conformance/utils/suite/features.go
  test/e2e/conformance/utils/suite/suite.go
  test/e2e/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add e2e test for envoy filter (#710)
  .licenserc.yaml
  cmd/hgctl/config/gateway_config.go
  cmd/hgctl/config/gateway_config_test.go
  cmd/hgctl/config/testdata/config/input/in.all.json
  cmd/hgctl/config/testdata/config/output/out.all.json
  cmd/hgctl/config/testdata/config/output/out.all.yaml
  cmd/hgctl/config/testdata/config/output/out.bootstrap.json
  cmd/hgctl/config/testdata/config/output/out.bootstrap.yaml
  cmd/hgctl/config/testdata/config/output/out.cluster.json
  cmd/hgctl/config/testdata/config/output/out.cluster.yaml
  cmd/hgctl/config/testdata/config/output/out.endpoints.json
  cmd/hgctl/config/testdata/config/output/out.endpoints.yaml
  cmd/hgctl/config/testdata/config/output/out.listener.json
  cmd/hgctl/config/testdata/config/output/out.listener.yaml
  cmd/hgctl/config/testdata/config/output/out.route.json
  cmd/hgctl/config/testdata/config/output/out.route.yaml
  go.mod
  go.sum
  pkg/cmd/hgctl/config_bootstrap.go
  pkg/cmd/hgctl/config_cluster.go
  pkg/cmd/hgctl/config_cmd.go
  pkg/cmd/hgctl/config_endpoint.go
  pkg/cmd/hgctl/config_listener.go
  pkg/cmd/hgctl/config_route.go
  test/e2e/conformance/tests/configmap-gzip.go
  test/e2e/conformance/tests/configmap-gzip.yaml
  test/e2e/conformance/utils/envoy/envoy.go
  test/e2e/conformance/utils/envoy/envoy_test.go
  test/e2e/conformance/utils/flags/flags.go
  test/e2e/conformance/utils/kubernetes/helpers.go
  test/e2e/conformance/utils/suite/features.go
  test/e2e/conformance/utils/suite/suite.go
  test/e2e/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add e2e test for envoy filter (#710)
  .licenserc.yaml
  cmd/hgctl/config/gateway_config.go
  cmd/hgctl/config/gateway_config_test.go
  cmd/hgctl/config/testdata/config/input/in.all.json
  cmd/hgctl/config/testdata/config/output/out.all.json
  cmd/hgctl/config/testdata/config/output/out.all.yaml
  cmd/hgctl/config/testdata/config/output/out.bootstrap.json
  cmd/hgctl/config/testdata/config/output/out.bootstrap.yaml
  cmd/hgctl/config/testdata/config/output/out.cluster.json
  cmd/hgctl/config/testdata/config/output/out.cluster.yaml
  cmd/hgctl/config/testdata/config/output/out.endpoints.json
  cmd/hgctl/config/testdata/config/output/out.endpoints.yaml
  cmd/hgctl/config/testdata/config/output/out.listener.json
  cmd/hgctl/config/testdata/config/output/out.listener.yaml
  cmd/hgctl/config/testdata/config/output/out.route.json
  cmd/hgctl/config/testdata/config/output/out.route.yaml
  go.mod
  go.sum
  pkg/cmd/hgctl/config_bootstrap.go
  pkg/cmd/hgctl/config_cluster.go
  pkg/cmd/hgctl/config_cmd.go
  pkg/cmd/hgctl/config_endpoint.go
  pkg/cmd/hgctl/config_listener.go
  pkg/cmd/hgctl/config_route.go
  test/e2e/conformance/tests/configmap-gzip.go
  test/e2e/conformance/tests/configmap-gzip.yaml
  test/e2e/conformance/utils/envoy/envoy.go
  test/e2e/conformance/utils/envoy/envoy_test.go
  test/e2e/conformance/utils/flags/flags.go
  test/e2e/conformance/utils/kubernetes/helpers.go
  test/e2e/conformance/utils/suite/features.go
  test/e2e/conformance/utils/suite/suite.go
  test/e2e/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add json schema validation
  plugins/wasm-go/extensions/request-validation/go.mod
  plugins/wasm-go/extensions/request-validation/go.sum
  plugins/wasm-go/extensions/request-validation/main.go
  test/e2e/conformance/tests/go-wasm-request-validation.go
  test/e2e/conformance/tests/go-wasm-request-validation.yaml
Owners: @johnlanni, @Xunzhuo

opt import
  test/e2e/conformance/tests/go-wasm-request-validation.go
Owners: @Xunzhuo

try run ci again
  plugins/wasm-go/extensions/request-validation/main.go
Owners: @johnlanni

add e2e test Signed-off-by: sjcsjc123 <1401189096@qq.com>
  pkg/ingress/kube/configmap/config.go
  pkg/ingress/kube/configmap/controller.go
  pkg/ingress/kube/configmap/global.go
  test/e2e/conformance/tests/configmap-global.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix bug
  pkg/ingress/kube/configmap/global.go
  pkg/ingress/kube/configmap/global_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

refactor: remove unused variables
  plugins/wasm-go/extensions/transformer/main.go
Owners: @johnlanni

refactor: remove unused variables
  plugins/wasm-go/extensions/transformer/main.go
Owners: @johnlanni

fix: fromKey is case insensitiv if mapping from h
  plugins/wasm-go/extensions/transformer/main.go
  test/e2e/conformance/tests/go-wasm-transformer.yaml
Owners: @johnlanni, @Xunzhuo

e2e test opt
  test/e2e/conformance/utils/flags/flags.go
  test/e2e/conformance/utils/suite/suite.go
  test/e2e/e2e_test.go
Owners: @Xunzhuo

add makefile
  Makefile.core.mk
Owners: none

fix ci
  test/e2e/conformance/utils/kubernetes/apply.go
Owners: @Xunzhuo

add makefile
  Makefile.core.mk
Owners: none

fix ci
  test/e2e/conformance/tests/configmap-global.go
  test/e2e/conformance/tests/configmap-global.yaml
  test/e2e/conformance/utils/envoy/envoy.go
Owners: @Xunzhuo

try run ci again
  test/e2e/conformance/tests/configmap-global.yaml
Owners: @Xunzhuo

fix ci
  test/e2e/conformance/utils/kubernetes/apply.go
Owners: @Xunzhuo

remove enable
  pkg/ingress/kube/configmap/global.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo
