Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @NameHaibinZhang, @Xunzhuo

fix
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

clean up
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

Update README.md
  plugins/wasm-go/README.md
Owners: @johnlanni

Update README.md
  plugins/wasm-go/README.md
Owners: @johnlanni

feat: Support enabling local deployment mode using "global.local" property
  Makefile.core.mk
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
Owners: none

fix
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

feat: init support hgctl
  Makefile.core.mk
  cmd/hgctl/main.go
  go.mod
  pkg/cmd/hgctl/kubernetes/client.go
  pkg/cmd/hgctl/kubernetes/port-forwarder.go
  pkg/cmd/hgctl/root.go
  pkg/cmd/hgctl/version.go
  pkg/cmd/options/global.go
  pkg/cmd/root.go
  pkg/cmd/server.go
  pkg/cmd/server_test.go
  pkg/cmd/version.go
  pkg/cmd/version/version.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

feat: init support hgctl (#273)
  Makefile.core.mk
  cmd/hgctl/main.go
  go.mod
  pkg/cmd/hgctl/kubernetes/client.go
  pkg/cmd/hgctl/kubernetes/port-forwarder.go
  pkg/cmd/hgctl/root.go
  pkg/cmd/hgctl/version.go
  pkg/cmd/options/global.go
  pkg/cmd/root.go
  pkg/cmd/server.go
  pkg/cmd/server_test.go
  pkg/cmd/version.go
  pkg/cmd/version/version.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

feat: init support hgctl (#273)
  Makefile.core.mk
  cmd/hgctl/main.go
  go.mod
  pkg/cmd/hgctl/kubernetes/client.go
  pkg/cmd/hgctl/kubernetes/port-forwarder.go
  pkg/cmd/hgctl/root.go
  pkg/cmd/hgctl/version.go
  pkg/cmd/options/global.go
  pkg/cmd/root.go
  pkg/cmd/server.go
  pkg/cmd/server_test.go
  pkg/cmd/version.go
  pkg/cmd/version/version.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

feat: Support enabling local deployment mode using "global.local" property (#269)
  Makefile.core.mk
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
Owners: none

feat: Support enabling local deployment mode using "global.local" property (#269)
  Makefile.core.mk
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
Owners: none

feat: add latest release of hgctl
  .github/workflows/build-and-test.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/latest-release.yaml
  Makefile.core.mk
Owners: none

feat: add latest release of hgctl (#275)
  .github/workflows/build-and-test.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/latest-release.yaml
  Makefile.core.mk
Owners: none

feat: add latest release of hgctl (#275)
  .github/workflows/build-and-test.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/latest-release.yaml
  Makefile.core.mk
Owners: none

feat: add install hgctl hack script
  tools/hack/get-hgctl.sh
Owners: @johnlanni, @Xunzhuo

feat: add install hgctl hack script (#276)
  tools/hack/get-hgctl.sh
Owners: @johnlanni, @Xunzhuo

feat: add install hgctl hack script (#276)
  tools/hack/get-hgctl.sh
Owners: @johnlanni, @Xunzhuo

Fix the problem that ignoreUriCase does not work when the path type is prefix (#260)
  pkg/ingress/kube/annotations/canary.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  pkg/ingress/kube/ingressv1/controller_test.go
  test/ingress/conformance/tests/httproute-canary-header.yaml
  test/ingress/conformance/tests/httproute-enable-ignore-case.go
  test/ingress/conformance/tests/httproute-enable-ignore-case.yaml
  test/ingress/conformance/tests/httproute-match-path.go
  test/ingress/conformance/tests/httproute-match-path.yaml
  test/ingress/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Fix the problem that ignoreUriCase does not work when the path type is prefix (#260)
  pkg/ingress/kube/annotations/canary.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  pkg/ingress/kube/ingressv1/controller_test.go
  test/ingress/conformance/tests/httproute-canary-header.yaml
  test/ingress/conformance/tests/httproute-enable-ignore-case.go
  test/ingress/conformance/tests/httproute-enable-ignore-case.yaml
  test/ingress/conformance/tests/httproute-match-path.go
  test/ingress/conformance/tests/httproute-match-path.yaml
  test/ingress/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add support for hgctl config
  .licenserc.yaml
  pkg/cmd/hgctl/configBootstrap.go
  pkg/cmd/hgctl/configCluster.go
  pkg/cmd/hgctl/configCmd.go
  pkg/cmd/hgctl/configEndpoint.go
  pkg/cmd/hgctl/configListener.go
  pkg/cmd/hgctl/configRetriever.go
  pkg/cmd/hgctl/configRoute.go
  pkg/cmd/hgctl/config_test.go
  pkg/cmd/hgctl/root.go
  pkg/cmd/hgctl/testdata/config/input/in.all.json
  pkg/cmd/hgctl/testdata/config/output/out.all.json
  pkg/cmd/hgctl/testdata/config/output/out.all.yaml
  pkg/cmd/hgctl/testdata/config/output/out.bootstrap.json
  pkg/cmd/hgctl/testdata/config/output/out.bootstrap.yaml
  pkg/cmd/hgctl/testdata/config/output/out.cluster.json
  pkg/cmd/hgctl/testdata/config/output/out.cluster.yaml
  pkg/cmd/hgctl/testdata/config/output/out.endpoints.json
  pkg/cmd/hgctl/testdata/config/output/out.endpoints.yaml
  pkg/cmd/hgctl/testdata/config/output/out.listener.json
  pkg/cmd/hgctl/testdata/config/output/out.listener.yaml
  pkg/cmd/hgctl/testdata/config/output/out.route.json
  pkg/cmd/hgctl/testdata/config/output/out.route.yaml
  pkg/cmd/hgctl/utils.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

update
  pkg/cmd/hgctl/configRetriever.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

feat: add support for `hgctl gateway-config` to retrieve higress gateway config (#274)
  .licenserc.yaml
  pkg/cmd/hgctl/configBootstrap.go
  pkg/cmd/hgctl/configCluster.go
  pkg/cmd/hgctl/configCmd.go
  pkg/cmd/hgctl/configEndpoint.go
  pkg/cmd/hgctl/configListener.go
  pkg/cmd/hgctl/configRetriever.go
  pkg/cmd/hgctl/configRoute.go
  pkg/cmd/hgctl/config_test.go
  pkg/cmd/hgctl/root.go
  pkg/cmd/hgctl/testdata/config/input/in.all.json
  pkg/cmd/hgctl/testdata/config/output/out.all.json
  pkg/cmd/hgctl/testdata/config/output/out.all.yaml
  pkg/cmd/hgctl/testdata/config/output/out.bootstrap.json
  pkg/cmd/hgctl/testdata/config/output/out.bootstrap.yaml
  pkg/cmd/hgctl/testdata/config/output/out.cluster.json
  pkg/cmd/hgctl/testdata/config/output/out.cluster.yaml
  pkg/cmd/hgctl/testdata/config/output/out.endpoints.json
  pkg/cmd/hgctl/testdata/config/output/out.endpoints.yaml
  pkg/cmd/hgctl/testdata/config/output/out.listener.json
  pkg/cmd/hgctl/testdata/config/output/out.listener.yaml
  pkg/cmd/hgctl/testdata/config/output/out.route.json
  pkg/cmd/hgctl/testdata/config/output/out.route.yaml
  pkg/cmd/hgctl/utils.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

feat: add support for `hgctl gateway-config` to retrieve higress gateway config (#274)
  .licenserc.yaml
  pkg/cmd/hgctl/configBootstrap.go
  pkg/cmd/hgctl/configCluster.go
  pkg/cmd/hgctl/configCmd.go
  pkg/cmd/hgctl/configEndpoint.go
  pkg/cmd/hgctl/configListener.go
  pkg/cmd/hgctl/configRetriever.go
  pkg/cmd/hgctl/configRoute.go
  pkg/cmd/hgctl/config_test.go
  pkg/cmd/hgctl/root.go
  pkg/cmd/hgctl/testdata/config/input/in.all.json
  pkg/cmd/hgctl/testdata/config/output/out.all.json
  pkg/cmd/hgctl/testdata/config/output/out.all.yaml
  pkg/cmd/hgctl/testdata/config/output/out.bootstrap.json
  pkg/cmd/hgctl/testdata/config/output/out.bootstrap.yaml
  pkg/cmd/hgctl/testdata/config/output/out.cluster.json
  pkg/cmd/hgctl/testdata/config/output/out.cluster.yaml
  pkg/cmd/hgctl/testdata/config/output/out.endpoints.json
  pkg/cmd/hgctl/testdata/config/output/out.endpoints.yaml
  pkg/cmd/hgctl/testdata/config/output/out.listener.json
  pkg/cmd/hgctl/testdata/config/output/out.listener.yaml
  pkg/cmd/hgctl/testdata/config/output/out.route.json
  pkg/cmd/hgctl/testdata/config/output/out.route.yaml
  pkg/cmd/hgctl/utils.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

ci: update latest release
  .github/workflows/latest-release.yaml
Owners: none

ci: update latest release (#277)
  .github/workflows/latest-release.yaml
Owners: none

ci: update latest release (#277)
  .github/workflows/latest-release.yaml
Owners: none

support higress rewrite annotaton
  pkg/ingress/kube/annotations/rewrite.go
  pkg/ingress/kube/annotations/rewrite_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

fix && add UT
  pkg/ingress/kube/annotations/rewrite.go
  pkg/ingress/kube/annotations/rewrite_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

support higress rewrite annotaton (#278)
  pkg/ingress/kube/annotations/rewrite.go
  pkg/ingress/kube/annotations/rewrite_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

support higress rewrite annotaton (#278)
  pkg/ingress/kube/annotations/rewrite.go
  pkg/ingress/kube/annotations/rewrite_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

Update main.go
  plugins/wasm-go/extensions/http-call/main.go
Owners: @johnlanni

Update main.go
  plugins/wasm-go/extensions/http-call/main.go
Owners: @johnlanni

README translation of key-auth plugin
  plugins/wasm-cpp/extensions/key_auth/README_EN.md
Owners: @johnlanni

patch istio to support multi ns deploy & query prefix match
  istio/1.12/patches/istio/20230408-ignore-ns.patch
Owners: @SpecialYang, @johnlanni

adjust helm values
  helm/core/templates/controller-deployment.yaml
  helm/core/values.yaml
Owners: none

Corrected
  plugins/wasm-cpp/extensions/key_auth/README_EN.md
Owners: @johnlanni

patch istio to support multi ns deploy & query prefix match (#280)
  helm/core/templates/controller-deployment.yaml
  helm/core/values.yaml
  istio/1.12/patches/istio/20230408-ignore-ns.patch
Owners: @SpecialYang, @johnlanni

patch istio to support multi ns deploy & query prefix match (#280)
  helm/core/templates/controller-deployment.yaml
  helm/core/values.yaml
  istio/1.12/patches/istio/20230408-ignore-ns.patch
Owners: @SpecialYang, @johnlanni

update plugin logic
  plugins/wasm-cpp/common/BUILD
  plugins/wasm-cpp/common/regex.h
  plugins/wasm-cpp/common/route_rule_matcher.h
  plugins/wasm-cpp/extensions/basic_auth/BUILD
  plugins/wasm-cpp/extensions/basic_auth/plugin.cc
  plugins/wasm-cpp/extensions/basic_auth/plugin_test.cc
  plugins/wasm-cpp/extensions/bot_detect/BUILD
  plugins/wasm-cpp/extensions/bot_detect/plugin.cc
  plugins/wasm-cpp/extensions/custom_response/BUILD
  plugins/wasm-cpp/extensions/custom_response/plugin.cc
  plugins/wasm-cpp/extensions/hmac_auth/BUILD
  plugins/wasm-cpp/extensions/hmac_auth/plugin.cc
  plugins/wasm-cpp/extensions/jwt_auth/BUILD
  plugins/wasm-cpp/extensions/jwt_auth/plugin.cc
  plugins/wasm-cpp/extensions/jwt_auth/plugin.h
  plugins/wasm-cpp/extensions/jwt_auth/plugin_test.cc
  plugins/wasm-cpp/extensions/key_auth/BUILD
  plugins/wasm-cpp/extensions/key_auth/plugin.cc
  plugins/wasm-cpp/extensions/key_rate_limit/BUILD
  plugins/wasm-cpp/extensions/key_rate_limit/bucket.cc
  plugins/wasm-cpp/extensions/key_rate_limit/plugin.cc
  plugins/wasm-cpp/extensions/request_block/BUILD
  plugins/wasm-cpp/extensions/request_block/plugin.cc
  plugins/wasm-cpp/extensions/request_block/plugin.h
  plugins/wasm-cpp/extensions/request_block/plugin_test.cc
  plugins/wasm-cpp/extensions/sni_misdirect/BUILD
Owners: @johnlanni

update plugin logic
  plugins/wasm-cpp/.bazelrc
  plugins/wasm-cpp/common/http_util.cc
Owners: @johnlanni

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo
