Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @NameHaibinZhang, @Xunzhuo

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo

add envoy&proxy patches
  envoy/1.20/patches/envoy/20230408-basic-auth.patch
  istio/1.12/patches/proxy/20230408-build-extensions.patch
Owners: @gengleilei, @johnlanni, @Lynskylate, @SpecialYang

fix basic auth issue
  pkg/ingress/kube/annotations/auth.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

update version to 1.0.0-rc
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/core/templates/configmap.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

README translation of key-auth plugin (#279)
  plugins/wasm-cpp/extensions/key_auth/README_EN.md
Owners: @johnlanni

README translation of key-auth plugin (#279)
  plugins/wasm-cpp/extensions/key_auth/README_EN.md
Owners: @johnlanni

Update extensions & release 1.0.0-rc (#281)
  Makefile.core.mk
  VERSION
  envoy/1.20/patches/envoy/20230408-basic-auth.patch
  helm/core/Chart.yaml
  helm/core/templates/configmap.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
  istio/1.12/patches/proxy/20230408-build-extensions.patch
  pkg/ingress/kube/annotations/auth.go
  plugins/wasm-cpp/.bazelrc
  plugins/wasm-cpp/common/BUILD
  plugins/wasm-cpp/common/http_util.cc
  plugins/wasm-cpp/common/regex.h
  plugins/wasm-cpp/common/route_rule_matcher.h
  plugins/wasm-cpp/extensions/basic_auth/BUILD
  plugins/wasm-cpp/extensions/basic_auth/plugin.cc
  plugins/wasm-cpp/extensions/basic_auth/plugin_test.cc
  plugins/wasm-cpp/extensions/bot_detect/BUILD
  plugins/wasm-cpp/extensions/bot_detect/plugin.cc
  plugins/wasm-cpp/extensions/custom_response/BUILD
  plugins/wasm-cpp/extensions/custom_response/plugin.cc
  plugins/wasm-cpp/extensions/hmac_auth/BUILD
  plugins/wasm-cpp/extensions/hmac_auth/plugin.cc
  plugins/wasm-cpp/extensions/jwt_auth/BUILD
  plugins/wasm-cpp/extensions/jwt_auth/plugin.cc
  plugins/wasm-cpp/extensions/jwt_auth/plugin.h
  plugins/wasm-cpp/extensions/jwt_auth/plugin_test.cc
  plugins/wasm-cpp/extensions/key_auth/BUILD
  plugins/wasm-cpp/extensions/key_auth/plugin.cc
  plugins/wasm-cpp/extensions/key_rate_limit/BUILD
  plugins/wasm-cpp/extensions/key_rate_limit/bucket.cc
  plugins/wasm-cpp/extensions/key_rate_limit/plugin.cc
  plugins/wasm-cpp/extensions/request_block/BUILD
  plugins/wasm-cpp/extensions/request_block/plugin.cc
  plugins/wasm-cpp/extensions/request_block/plugin.h
  plugins/wasm-cpp/extensions/request_block/plugin_test.cc
  plugins/wasm-cpp/extensions/sni_misdirect/BUILD
Owners: @gengleilei, @johnlanni, @Lynskylate, @SpecialYang, @Charlie17Li

Update extensions & release 1.0.0-rc (#281)
  Makefile.core.mk
  VERSION
  envoy/1.20/patches/envoy/20230408-basic-auth.patch
  helm/core/Chart.yaml
  helm/core/templates/configmap.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
  istio/1.12/patches/proxy/20230408-build-extensions.patch
  pkg/ingress/kube/annotations/auth.go
  plugins/wasm-cpp/.bazelrc
  plugins/wasm-cpp/common/BUILD
  plugins/wasm-cpp/common/http_util.cc
  plugins/wasm-cpp/common/regex.h
  plugins/wasm-cpp/common/route_rule_matcher.h
  plugins/wasm-cpp/extensions/basic_auth/BUILD
  plugins/wasm-cpp/extensions/basic_auth/plugin.cc
  plugins/wasm-cpp/extensions/basic_auth/plugin_test.cc
  plugins/wasm-cpp/extensions/bot_detect/BUILD
  plugins/wasm-cpp/extensions/bot_detect/plugin.cc
  plugins/wasm-cpp/extensions/custom_response/BUILD
  plugins/wasm-cpp/extensions/custom_response/plugin.cc
  plugins/wasm-cpp/extensions/hmac_auth/BUILD
  plugins/wasm-cpp/extensions/hmac_auth/plugin.cc
  plugins/wasm-cpp/extensions/jwt_auth/BUILD
  plugins/wasm-cpp/extensions/jwt_auth/plugin.cc
  plugins/wasm-cpp/extensions/jwt_auth/plugin.h
  plugins/wasm-cpp/extensions/jwt_auth/plugin_test.cc
  plugins/wasm-cpp/extensions/key_auth/BUILD
  plugins/wasm-cpp/extensions/key_auth/plugin.cc
  plugins/wasm-cpp/extensions/key_rate_limit/BUILD
  plugins/wasm-cpp/extensions/key_rate_limit/bucket.cc
  plugins/wasm-cpp/extensions/key_rate_limit/plugin.cc
  plugins/wasm-cpp/extensions/request_block/BUILD
  plugins/wasm-cpp/extensions/request_block/plugin.cc
  plugins/wasm-cpp/extensions/request_block/plugin.h
  plugins/wasm-cpp/extensions/request_block/plugin_test.cc
  plugins/wasm-cpp/extensions/sni_misdirect/BUILD
Owners: @gengleilei, @johnlanni, @Lynskylate, @SpecialYang, @Charlie17Li

fix destination rule for resource backend
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/interface.go
  pkg/ingress/kube/annotations/loadbalance.go
  pkg/ingress/kube/annotations/loadbalance_test.go
  pkg/ingress/kube/annotations/upstreamtls.go
  pkg/ingress/kube/annotations/upstreamtls_test.go
  pkg/ingress/kube/common/controller.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

fix sni issue
  pkg/ingress/kube/annotations/upstreamtls.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

add gif
  README.md
  docs/images/domain.gif
  docs/images/monitor.gif
  docs/images/plugin.gif
  docs/images/service-source.gif
Owners: none

fix
  README.md
Owners: none

fix UT
  pkg/ingress/kube/annotations/upstreamtls_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

Fix destination rule issues (#282)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/interface.go
  pkg/ingress/kube/annotations/loadbalance.go
  pkg/ingress/kube/annotations/loadbalance_test.go
  pkg/ingress/kube/annotations/upstreamtls.go
  pkg/ingress/kube/annotations/upstreamtls_test.go
  pkg/ingress/kube/common/controller.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

Fix destination rule issues (#282)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/interface.go
  pkg/ingress/kube/annotations/loadbalance.go
  pkg/ingress/kube/annotations/loadbalance_test.go
  pkg/ingress/kube/annotations/upstreamtls.go
  pkg/ingress/kube/annotations/upstreamtls_test.go
  pkg/ingress/kube/common/controller.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

update README
  README.md
Owners: none

update README
  README.md
Owners: none

update README
  README.md
Owners: none

add intro gif (#283)
  README.md
  docs/images/domain.gif
  docs/images/monitor.gif
  docs/images/plugin.gif
  docs/images/service-source.gif
Owners: none

add intro gif (#283)
  README.md
  docs/images/domain.gif
  docs/images/monitor.gif
  docs/images/plugin.gif
  docs/images/service-source.gif
Owners: none

docs: Move Console details after core features in README
  README.md
Owners: none

fix: Bug issue template is broken
  .github/ISSUE_TEMPLATE/non--crash-security--bug.md
Owners: none

chore: Introduce issue chooser for better issue reporting
  .github/ISSUE_TEMPLATE/config.yml
Owners: none

Remove duplicate entry
  .github/ISSUE_TEMPLATE/config.yml
Owners: none

docs: Move Console details after core features in README (#291)
  README.md
Owners: none

docs: Move Console details after core features in README (#291)
  README.md
Owners: none

chore: Introduce issue chooser for better issue reporting (#294)
  .github/ISSUE_TEMPLATE/config.yml
Owners: none

chore: Introduce issue chooser for better issue reporting (#294)
  .github/ISSUE_TEMPLATE/config.yml
Owners: none

fix: Bug issue template is broken (#292)
  .github/ISSUE_TEMPLATE/non--crash-security--bug.md
Owners: none

fix: Bug issue template is broken (#292)
  .github/ISSUE_TEMPLATE/non--crash-security--bug.md
Owners: none

feat: Support installing higress to a K8s cluster with kernel version < 4.11
  helm/core/templates/deployment.yaml
Owners: none

feat: Support installing higress to a K8s cluster with kernel version < 4.11 (#301)
  helm/core/templates/deployment.yaml
Owners: none

feat: Support installing higress to a K8s cluster with kernel version < 4.11 (#301)
  helm/core/templates/deployment.yaml
Owners: none
