Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

Sync inner fix (#634)
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/annotations_test.go
  pkg/ingress/kube/annotations/canary.go
  pkg/ingress/kube/annotations/header_control.go
  pkg/ingress/kube/annotations/header_control_test.go
  pkg/ingress/kube/annotations/retry.go
  pkg/ingress/kube/annotations/retry_test.go
  pkg/ingress/kube/annotations/rewrite.go
  pkg/ingress/kube/annotations/rewrite_test.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  test/e2e/conformance/tests/httproute-request-header-control.go
  test/e2e/conformance/tests/httproute-request-header-control.yaml
  test/e2e/conformance/tests/httproute-rewrite-path.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Sync inner fix (#634)
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/annotations_test.go
  pkg/ingress/kube/annotations/canary.go
  pkg/ingress/kube/annotations/header_control.go
  pkg/ingress/kube/annotations/header_control_test.go
  pkg/ingress/kube/annotations/retry.go
  pkg/ingress/kube/annotations/retry_test.go
  pkg/ingress/kube/annotations/rewrite.go
  pkg/ingress/kube/annotations/rewrite_test.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  test/e2e/conformance/tests/httproute-request-header-control.go
  test/e2e/conformance/tests/httproute-request-header-control.yaml
  test/e2e/conformance/tests/httproute-rewrite-path.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

update key auth
  plugins/wasm-go/extensions/key-auth/README.md
  plugins/wasm-go/extensions/key-auth/README_EN.md
  plugins/wasm-go/extensions/key-auth/common/consumer.go
  plugins/wasm-go/extensions/key-auth/common/consumer_test.go
  plugins/wasm-go/extensions/key-auth/common/routerule.go
  plugins/wasm-go/extensions/key-auth/go.mod
  plugins/wasm-go/extensions/key-auth/go.sum
  plugins/wasm-go/extensions/key-auth/main.go
Owners: @johnlanni

update readme
  plugins/wasm-go/extensions/key-auth/README.md
Owners: @johnlanni

update e2e unittest case
  test/e2e/conformance/tests/go-wasm-key-auth.go
  test/e2e/conformance/tests/go-wasm-key-auth.yaml
Owners: @Xunzhuo

update go mod
  plugins/wasm-go/extensions/key-auth/go.mod
  plugins/wasm-go/extensions/key-auth/go.sum
Owners: @johnlanni

fix index bug
  plugins/wasm-go/extensions/key-auth/main.go
Owners: @johnlanni

Update plugins/wasm-go/extensions/key-auth/main.go
  plugins/wasm-go/extensions/key-auth/main.go
Owners: @johnlanni

Update test/e2e/conformance/tests/go-wasm-key-auth.go
  test/e2e/conformance/tests/go-wasm-key-auth.go
Owners: @Xunzhuo

more compatiable with nginx's rewrite
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/annotations_test.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  test/e2e/conformance/tests/httproute-rewrite-path.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix
  pkg/ingress/kube/annotations/annotations.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

more compatiable with nginx's rewrite (#636)
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/annotations_test.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  test/e2e/conformance/tests/httproute-rewrite-path.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

more compatiable with nginx's rewrite (#636)
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/annotations_test.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  test/e2e/conformance/tests/httproute-rewrite-path.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

more compatiable with nginx's rewrite (#636)
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/annotations_test.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  test/e2e/conformance/tests/httproute-rewrite-path.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix e2e unittest
  plugins/wasm-go/extensions/key-auth/go.mod
Owners: @johnlanni

support timeout and ratelimit
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/local_rate_limit.go
  pkg/ingress/kube/annotations/local_rate_limit_test.go
  pkg/ingress/kube/annotations/timeout.go
  pkg/ingress/kube/annotations/timeout_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add copyright
  pkg/ingress/kube/annotations/local_rate_limit.go
  pkg/ingress/kube/annotations/local_rate_limit_test.go
  pkg/ingress/kube/annotations/timeout.go
  pkg/ingress/kube/annotations/timeout_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

optimize xds push
  istio/1.12/patches/istio/20231115-optimize-xds-push.patch
Owners: @SpecialYang, @johnlanni

support timeout and ratelimit (#637)
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/local_rate_limit.go
  pkg/ingress/kube/annotations/local_rate_limit_test.go
  pkg/ingress/kube/annotations/timeout.go
  pkg/ingress/kube/annotations/timeout_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

support timeout and ratelimit (#637)
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/local_rate_limit.go
  pkg/ingress/kube/annotations/local_rate_limit_test.go
  pkg/ingress/kube/annotations/timeout.go
  pkg/ingress/kube/annotations/timeout_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

support timeout and ratelimit (#637)
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/local_rate_limit.go
  pkg/ingress/kube/annotations/local_rate_limit_test.go
  pkg/ingress/kube/annotations/timeout.go
  pkg/ingress/kube/annotations/timeout_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add new helm value for cds push
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
Owners: none

add new helm value for cds push (#639)
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
Owners: none

add new helm value for cds push (#639)
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
Owners: none

add new helm value for cds push (#639)
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
Owners: none

optimize xds push (#638)
  istio/1.12/patches/istio/20231115-optimize-xds-push.patch
Owners: @SpecialYang, @johnlanni

optimize xds push (#638)
  istio/1.12/patches/istio/20231115-optimize-xds-push.patch
Owners: @SpecialYang, @johnlanni

optimize xds push (#638)
  istio/1.12/patches/istio/20231115-optimize-xds-push.patch
Owners: @SpecialYang, @johnlanni

rel: Release version 1.3.1
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

rel: Release version 1.3.1 (#640)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

rel: Release version 1.3.1 (#640)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

rel: Release version 1.3.1 (#640)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

add timeout&local-rate-limt annotations
  pkg/ingress/kube/annotations/annotations.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add timeout&local-rate-limt annotations
  pkg/ingress/kube/annotations/annotations.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add timeout&local-rate-limt annotations
  pkg/ingress/kube/annotations/annotations.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

merging profiles from local files and configmap to upgrade and uninstall
  pkg/cmd/hgctl/helm/common.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/installer_docker.go
  pkg/cmd/hgctl/installer/installer_k8s.go
  pkg/cmd/hgctl/installer/profile_store.go
  pkg/cmd/hgctl/kubernetes/client.go
  pkg/cmd/hgctl/uninstall.go
  pkg/cmd/hgctl/upgrade.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix installPackagePath bug
  pkg/cmd/hgctl/helm/common.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix x-ca-timestamp validate
  plugins/wasm-cpp/extensions/hmac_auth/plugin.cc
Owners: @johnlanni

optimize rds
  envoy/1.20/patches/envoy/20231124-rds-optimize.patch
Owners: @gengleilei, @johnlanni, @Lynskylate

optimize rds (#655)
  envoy/1.20/patches/envoy/20231124-rds-optimize.patch
Owners: @gengleilei, @johnlanni, @Lynskylate

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo
