Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @NameHaibinZhang, @Xunzhuo

feat：Support SkyWalking to collect metrics
  helm/core/templates/configmap.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
Owners: none

feat：Support SkyWalking to collect metrics (#238)
  helm/core/templates/configmap.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
Owners: none

feat：Support SkyWalking to collect metrics (#238)
  helm/core/templates/configmap.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
Owners: none

optimize createRuleKey func
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/common/controller.go
  pkg/ingress/kube/common/model.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingress/controller_test.go
  pkg/ingress/kube/ingressv1/controller.go
Owners: @SpecialYang, @johnlanni

fix import
  pkg/ingress/kube/ingress/controller_test.go
Owners: @SpecialYang, @johnlanni

fix
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingress/controller_test.go
  pkg/ingress/kube/ingressv1/controller.go
Owners: @SpecialYang, @johnlanni

optimize createRuleKey func (#240)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/common/controller.go
  pkg/ingress/kube/common/model.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingress/controller_test.go
  pkg/ingress/kube/ingressv1/controller.go
Owners: @SpecialYang, @johnlanni

optimize createRuleKey func (#240)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/common/controller.go
  pkg/ingress/kube/common/model.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingress/controller_test.go
  pkg/ingress/kube/ingressv1/controller.go
Owners: @SpecialYang, @johnlanni

Update README.md
  plugins/wasm-go/README.md
Owners: @johnlanni

Update README.md
  plugins/wasm-go/README.md
Owners: @johnlanni

Update README_EN.md
  plugins/wasm-go/README_EN.md
Owners: @johnlanni

Update README_EN.md
  plugins/wasm-go/README_EN.md
Owners: @johnlanni

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

release 0.7.0
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/core/templates/configmap.yaml
  helm/core/templates/controller-clusterrole.yaml
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/controller-service.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

update makefile
  Makefile.core.mk
Owners: none

update makefile
  Makefile.core.mk
Owners: none

release 0.7.0 (#243)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/core/templates/configmap.yaml
  helm/core/templates/controller-clusterrole.yaml
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/controller-service.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

release 0.7.0 (#243)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/core/templates/configmap.yaml
  helm/core/templates/controller-clusterrole.yaml
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/controller-service.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README_EN.md
  README_EN.md
Owners: none

Update README_EN.md
  README_EN.md
Owners: none

feat: Support Wasm plugin OCI images with more than 2 layers
  istio/1.12/patches/istio/20230319-imagefetcher-oci.patch
Owners: @SpecialYang, @johnlanni

feat: Support Wasm plugin OCI images with more than 2 layers (#244)
  istio/1.12/patches/istio/20230319-imagefetcher-oci.patch
Owners: @SpecialYang, @johnlanni

feat: Support Wasm plugin OCI images with more than 2 layers (#244)
  istio/1.12/patches/istio/20230319-imagefetcher-oci.patch
Owners: @SpecialYang, @johnlanni

add e2e test for canary weight
  test/ingress/conformance/tests/httproute-canary-weight.go
  test/ingress/conformance/tests/httproute-canary-weight.yaml
  test/ingress/e2e_test.go
Owners: @Xunzhuo

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo
