Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

fix error
  plugins/wasm-go/extensions/oidc/README.md
  plugins/wasm-go/extensions/oidc/doc/Oidc.md
  plugins/wasm-go/extensions/oidc/doc/keycloak_0.png
  plugins/wasm-go/extensions/oidc/doc/keycloak_1.png
  plugins/wasm-go/extensions/oidc/doc/keycloak_2.png
  plugins/wasm-go/extensions/oidc/doc/keycloak_3.png
  plugins/wasm-go/extensions/oidc/main.go
  plugins/wasm-go/extensions/oidc/oc/config.go
  plugins/wasm-go/extensions/oidc/oc/provider.go
  plugins/wasm-go/extensions/oidc/oc/util.go
  test/e2e/conformance/tests/go-wasm-oidc.go
  test/e2e/conformance/tests/go-wasm-oidc.yaml
Owners: @johnlanni, @Xunzhuo

Switch to Higress tagged build tools to improve image loading speed
  Makefile.core.mk
  plugins/wasm-cpp/Dockerfile
  tools/hack/build-envoy.sh
  tools/hack/build-istio-image.sh
  tools/hack/build-istio-pilot.sh
Owners: @johnlanni, @Xunzhuo

fix error
  plugins/wasm-go/extensions/oidc/README.md
  plugins/wasm-go/extensions/oidc/doc/Oidc.md
  plugins/wasm-go/extensions/oidc/main.go
  plugins/wasm-go/extensions/oidc/oc/cookie.go
  plugins/wasm-go/extensions/oidc/oc/provider.go
Owners: @johnlanni

feat:add oidc wasm plugin (#568)
  plugins/wasm-go/extensions/oidc/README.md
  plugins/wasm-go/extensions/oidc/VERSION
  plugins/wasm-go/extensions/oidc/doc/Oidc.md
  plugins/wasm-go/extensions/oidc/doc/auth0_0.png
  plugins/wasm-go/extensions/oidc/doc/auth0_1.png
  plugins/wasm-go/extensions/oidc/doc/keycloak_0.png
  plugins/wasm-go/extensions/oidc/doc/keycloak_1.png
  plugins/wasm-go/extensions/oidc/doc/keycloak_2.png
  plugins/wasm-go/extensions/oidc/doc/keycloak_3.png
  plugins/wasm-go/extensions/oidc/doc/oath_2.png
  plugins/wasm-go/extensions/oidc/doc/okta_1.png
  plugins/wasm-go/extensions/oidc/doc/okta_2.png
  plugins/wasm-go/extensions/oidc/doc/okta_3.png
  plugins/wasm-go/extensions/oidc/doc/okta_4.png
  plugins/wasm-go/extensions/oidc/go.mod
  plugins/wasm-go/extensions/oidc/go.sum
  plugins/wasm-go/extensions/oidc/main.go
  plugins/wasm-go/extensions/oidc/oc/config.go
  plugins/wasm-go/extensions/oidc/oc/cookie.go
  plugins/wasm-go/extensions/oidc/oc/encryption.go
  plugins/wasm-go/extensions/oidc/oc/exchange.go
  plugins/wasm-go/extensions/oidc/oc/jwks.go
  plugins/wasm-go/extensions/oidc/oc/provider.go
  plugins/wasm-go/extensions/oidc/oc/util.go
  plugins/wasm-go/extensions/oidc/oc/verifer.go
Owners: @johnlanni

feat:add oidc wasm plugin (#568)
  plugins/wasm-go/extensions/oidc/README.md
  plugins/wasm-go/extensions/oidc/VERSION
  plugins/wasm-go/extensions/oidc/doc/Oidc.md
  plugins/wasm-go/extensions/oidc/doc/auth0_0.png
  plugins/wasm-go/extensions/oidc/doc/auth0_1.png
  plugins/wasm-go/extensions/oidc/doc/keycloak_0.png
  plugins/wasm-go/extensions/oidc/doc/keycloak_1.png
  plugins/wasm-go/extensions/oidc/doc/keycloak_2.png
  plugins/wasm-go/extensions/oidc/doc/keycloak_3.png
  plugins/wasm-go/extensions/oidc/doc/oath_2.png
  plugins/wasm-go/extensions/oidc/doc/okta_1.png
  plugins/wasm-go/extensions/oidc/doc/okta_2.png
  plugins/wasm-go/extensions/oidc/doc/okta_3.png
  plugins/wasm-go/extensions/oidc/doc/okta_4.png
  plugins/wasm-go/extensions/oidc/go.mod
  plugins/wasm-go/extensions/oidc/go.sum
  plugins/wasm-go/extensions/oidc/main.go
  plugins/wasm-go/extensions/oidc/oc/config.go
  plugins/wasm-go/extensions/oidc/oc/cookie.go
  plugins/wasm-go/extensions/oidc/oc/encryption.go
  plugins/wasm-go/extensions/oidc/oc/exchange.go
  plugins/wasm-go/extensions/oidc/oc/jwks.go
  plugins/wasm-go/extensions/oidc/oc/provider.go
  plugins/wasm-go/extensions/oidc/oc/util.go
  plugins/wasm-go/extensions/oidc/oc/verifer.go
Owners: @johnlanni

feat:add oidc wasm plugin (#568)
  plugins/wasm-go/extensions/oidc/README.md
  plugins/wasm-go/extensions/oidc/VERSION
  plugins/wasm-go/extensions/oidc/doc/Oidc.md
  plugins/wasm-go/extensions/oidc/doc/auth0_0.png
  plugins/wasm-go/extensions/oidc/doc/auth0_1.png
  plugins/wasm-go/extensions/oidc/doc/keycloak_0.png
  plugins/wasm-go/extensions/oidc/doc/keycloak_1.png
  plugins/wasm-go/extensions/oidc/doc/keycloak_2.png
  plugins/wasm-go/extensions/oidc/doc/keycloak_3.png
  plugins/wasm-go/extensions/oidc/doc/oath_2.png
  plugins/wasm-go/extensions/oidc/doc/okta_1.png
  plugins/wasm-go/extensions/oidc/doc/okta_2.png
  plugins/wasm-go/extensions/oidc/doc/okta_3.png
  plugins/wasm-go/extensions/oidc/doc/okta_4.png
  plugins/wasm-go/extensions/oidc/go.mod
  plugins/wasm-go/extensions/oidc/go.sum
  plugins/wasm-go/extensions/oidc/main.go
  plugins/wasm-go/extensions/oidc/oc/config.go
  plugins/wasm-go/extensions/oidc/oc/cookie.go
  plugins/wasm-go/extensions/oidc/oc/encryption.go
  plugins/wasm-go/extensions/oidc/oc/exchange.go
  plugins/wasm-go/extensions/oidc/oc/jwks.go
  plugins/wasm-go/extensions/oidc/oc/provider.go
  plugins/wasm-go/extensions/oidc/oc/util.go
  plugins/wasm-go/extensions/oidc/oc/verifer.go
Owners: @johnlanni

Save the built envoy.tar.gz file in external/proxy/out folder
  tools/hack/build-envoy.sh
Owners: @johnlanni, @Xunzhuo

support v1beta1 gateway-api
  istio/1.12/patches/istio/20231031-gatewayapi-v1beta1.patch
Owners: @SpecialYang, @johnlanni

support v1beta1 gateway-api (#614)
  istio/1.12/patches/istio/20231031-gatewayapi-v1beta1.patch
Owners: @SpecialYang, @johnlanni

support v1beta1 gateway-api (#614)
  istio/1.12/patches/istio/20231031-gatewayapi-v1beta1.patch
Owners: @SpecialYang, @johnlanni

support v1beta1 gateway-api (#614)
  istio/1.12/patches/istio/20231031-gatewayapi-v1beta1.patch
Owners: @SpecialYang, @johnlanni

use higress-group nottinygc
  plugins/wasm-go/extensions/basic-auth/go.mod
  plugins/wasm-go/extensions/basic-auth/go.sum
  plugins/wasm-go/extensions/chatgpt-proxy/go.mod
  plugins/wasm-go/extensions/chatgpt-proxy/go.sum
  plugins/wasm-go/extensions/cors/go.mod
  plugins/wasm-go/extensions/cors/go.sum
  plugins/wasm-go/extensions/de-graphql/go.mod
  plugins/wasm-go/extensions/de-graphql/go.sum
  plugins/wasm-go/extensions/gc-test/go.mod
  plugins/wasm-go/extensions/gc-test/go.sum
  plugins/wasm-go/extensions/gw-error-format/go.mod
  plugins/wasm-go/extensions/gw-error-format/go.sum
  plugins/wasm-go/extensions/hello-world/go.mod
  plugins/wasm-go/extensions/hello-world/go.sum
  plugins/wasm-go/extensions/http-call/go.mod
  plugins/wasm-go/extensions/http-call/go.sum
  plugins/wasm-go/extensions/oidc/go.mod
  plugins/wasm-go/extensions/oidc/go.sum
  plugins/wasm-go/extensions/request-block/go.mod
  plugins/wasm-go/extensions/request-block/go.sum
  plugins/wasm-go/extensions/transformer/go.mod
  plugins/wasm-go/extensions/transformer/go.sum
  plugins/wasm-go/extensions/waf/go.mod
  plugins/wasm-go/extensions/waf/go.sum
  plugins/wasm-go/go.mod
  plugins/wasm-go/go.sum
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
Owners: @johnlanni

use higress-group nottinygc (#615)
  plugins/wasm-go/extensions/basic-auth/go.mod
  plugins/wasm-go/extensions/basic-auth/go.sum
  plugins/wasm-go/extensions/chatgpt-proxy/go.mod
  plugins/wasm-go/extensions/chatgpt-proxy/go.sum
  plugins/wasm-go/extensions/cors/go.mod
  plugins/wasm-go/extensions/cors/go.sum
  plugins/wasm-go/extensions/de-graphql/go.mod
  plugins/wasm-go/extensions/de-graphql/go.sum
  plugins/wasm-go/extensions/gc-test/go.mod
  plugins/wasm-go/extensions/gc-test/go.sum
  plugins/wasm-go/extensions/gw-error-format/go.mod
  plugins/wasm-go/extensions/gw-error-format/go.sum
  plugins/wasm-go/extensions/hello-world/go.mod
  plugins/wasm-go/extensions/hello-world/go.sum
  plugins/wasm-go/extensions/http-call/go.mod
  plugins/wasm-go/extensions/http-call/go.sum
  plugins/wasm-go/extensions/oidc/go.mod
  plugins/wasm-go/extensions/oidc/go.sum
  plugins/wasm-go/extensions/request-block/go.mod
  plugins/wasm-go/extensions/request-block/go.sum
  plugins/wasm-go/extensions/transformer/go.mod
  plugins/wasm-go/extensions/transformer/go.sum
  plugins/wasm-go/extensions/waf/go.mod
  plugins/wasm-go/extensions/waf/go.sum
  plugins/wasm-go/go.mod
  plugins/wasm-go/go.sum
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
Owners: @johnlanni

use higress-group nottinygc (#615)
  plugins/wasm-go/extensions/basic-auth/go.mod
  plugins/wasm-go/extensions/basic-auth/go.sum
  plugins/wasm-go/extensions/chatgpt-proxy/go.mod
  plugins/wasm-go/extensions/chatgpt-proxy/go.sum
  plugins/wasm-go/extensions/cors/go.mod
  plugins/wasm-go/extensions/cors/go.sum
  plugins/wasm-go/extensions/de-graphql/go.mod
  plugins/wasm-go/extensions/de-graphql/go.sum
  plugins/wasm-go/extensions/gc-test/go.mod
  plugins/wasm-go/extensions/gc-test/go.sum
  plugins/wasm-go/extensions/gw-error-format/go.mod
  plugins/wasm-go/extensions/gw-error-format/go.sum
  plugins/wasm-go/extensions/hello-world/go.mod
  plugins/wasm-go/extensions/hello-world/go.sum
  plugins/wasm-go/extensions/http-call/go.mod
  plugins/wasm-go/extensions/http-call/go.sum
  plugins/wasm-go/extensions/oidc/go.mod
  plugins/wasm-go/extensions/oidc/go.sum
  plugins/wasm-go/extensions/request-block/go.mod
  plugins/wasm-go/extensions/request-block/go.sum
  plugins/wasm-go/extensions/transformer/go.mod
  plugins/wasm-go/extensions/transformer/go.sum
  plugins/wasm-go/extensions/waf/go.mod
  plugins/wasm-go/extensions/waf/go.sum
  plugins/wasm-go/go.mod
  plugins/wasm-go/go.sum
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
Owners: @johnlanni

use higress-group nottinygc (#615)
  plugins/wasm-go/extensions/basic-auth/go.mod
  plugins/wasm-go/extensions/basic-auth/go.sum
  plugins/wasm-go/extensions/chatgpt-proxy/go.mod
  plugins/wasm-go/extensions/chatgpt-proxy/go.sum
  plugins/wasm-go/extensions/cors/go.mod
  plugins/wasm-go/extensions/cors/go.sum
  plugins/wasm-go/extensions/de-graphql/go.mod
  plugins/wasm-go/extensions/de-graphql/go.sum
  plugins/wasm-go/extensions/gc-test/go.mod
  plugins/wasm-go/extensions/gc-test/go.sum
  plugins/wasm-go/extensions/gw-error-format/go.mod
  plugins/wasm-go/extensions/gw-error-format/go.sum
  plugins/wasm-go/extensions/hello-world/go.mod
  plugins/wasm-go/extensions/hello-world/go.sum
  plugins/wasm-go/extensions/http-call/go.mod
  plugins/wasm-go/extensions/http-call/go.sum
  plugins/wasm-go/extensions/oidc/go.mod
  plugins/wasm-go/extensions/oidc/go.sum
  plugins/wasm-go/extensions/request-block/go.mod
  plugins/wasm-go/extensions/request-block/go.sum
  plugins/wasm-go/extensions/transformer/go.mod
  plugins/wasm-go/extensions/transformer/go.sum
  plugins/wasm-go/extensions/waf/go.mod
  plugins/wasm-go/extensions/waf/go.sum
  plugins/wasm-go/go.mod
  plugins/wasm-go/go.sum
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
Owners: @johnlanni

adjust go mod
  Makefile.core.mk
  go.mod
  go.sum
Owners: none

enable gatewayapi and reduce profile structure
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/helm/render.go
  pkg/cmd/hgctl/installer/gateway_api.go
  pkg/cmd/hgctl/installer/higress.go
  pkg/cmd/hgctl/installer/installer.go
  pkg/cmd/hgctl/installer/installer_k8s.go
  pkg/cmd/hgctl/manifests/gatewayapi/experimental-install.yaml
  pkg/cmd/hgctl/manifests/istiobase/Chart.yaml
  pkg/cmd/hgctl/manifests/istiobase/README.md
  pkg/cmd/hgctl/manifests/istiobase/crds/crd-all.gen.yaml
  pkg/cmd/hgctl/manifests/istiobase/crds/crd-operator.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/NOTES.txt
  pkg/cmd/hgctl/manifests/istiobase/templates/clusterrole.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/clusterrolebinding.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/crds.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/default.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/endpoints.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/reader-serviceaccount.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/role.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/rolebinding.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/serviceaccount.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/services.yaml
  pkg/cmd/hgctl/manifests/istiobase/values.yaml
  pkg/cmd/hgctl/manifests/manifest.go
  pkg/cmd/hgctl/manifests/profiles/_all.yaml
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-docker.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

ignore license header check
  .licenserc.yaml
  pkg/cmd/hgctl/manifests/profiles/_all.yaml
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-docker.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: Use patches to normalize envoy building process
  tools/hack/build-envoy.sh
  tools/hack/prebuild.sh
Owners: @johnlanni, @Xunzhuo

Update build-and-test.yaml
  .github/workflows/build-and-test.yaml
Owners: none

Update build-and-test.yaml
  .github/workflows/build-and-test.yaml
Owners: none

Update build-and-test.yaml
  .github/workflows/build-and-test.yaml
Owners: none

Update build-image-and-push.yaml
  .github/workflows/build-image-and-push.yaml
Owners: none

Update build-image-and-push.yaml
  .github/workflows/build-image-and-push.yaml
Owners: none

Update build-image-and-push.yaml
  .github/workflows/build-image-and-push.yaml
Owners: none

Update build-and-test.yaml
  .github/workflows/build-and-test.yaml
Owners: none

Update build-and-test.yaml
  .github/workflows/build-and-test.yaml
Owners: none

Update build-and-test.yaml
  .github/workflows/build-and-test.yaml
Owners: none

add o11yEnabled in profile
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/manifests/profiles/_all.yaml
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

adjust go mod (#618)
  Makefile.core.mk
  go.mod
  go.sum
Owners: none

adjust go mod (#618)
  Makefile.core.mk
  go.mod
  go.sum
Owners: none

adjust go mod (#618)
  Makefile.core.mk
  go.mod
  go.sum
Owners: none

rel: Release version 1.3.0
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

rel: Release version 1.3.0 (#619)
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

rel: Release version 1.3.0 (#619)
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

rel: Release version 1.3.0 (#619)
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

feat:add installation for higress standalone in local docker environment (#606)
  .licenserc.yaml
  go.mod
  pkg/cmd/hgctl/dashboard.go
  pkg/cmd/hgctl/helm/common.go
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/helm/render.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/gateway_api.go
  pkg/cmd/hgctl/installer/higress.go
  pkg/cmd/hgctl/installer/installer.go
  pkg/cmd/hgctl/installer/installer_docker.go
  pkg/cmd/hgctl/installer/installer_k8s.go
  pkg/cmd/hgctl/installer/standalone.go
  pkg/cmd/hgctl/installer/standalone_agent.go
  pkg/cmd/hgctl/manifest.go
  pkg/cmd/hgctl/manifests/gatewayapi/experimental-install.yaml
  pkg/cmd/hgctl/manifests/istiobase/Chart.yaml
  pkg/cmd/hgctl/manifests/istiobase/README.md
  pkg/cmd/hgctl/manifests/istiobase/crds/crd-all.gen.yaml
  pkg/cmd/hgctl/manifests/istiobase/crds/crd-operator.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/NOTES.txt
  pkg/cmd/hgctl/manifests/istiobase/templates/clusterrole.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/clusterrolebinding.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/crds.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/default.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/endpoints.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/reader-serviceaccount.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/role.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/rolebinding.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/serviceaccount.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/services.yaml
  pkg/cmd/hgctl/manifests/istiobase/values.yaml
  pkg/cmd/hgctl/manifests/manifest.go
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-docker.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
  pkg/cmd/hgctl/uninstall.go
  pkg/cmd/hgctl/upgrade.go
  pkg/cmd/hgctl/util/http_fetcher.go
  pkg/cmd/hgctl/util/util.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat:add installation for higress standalone in local docker environment (#606)
  .licenserc.yaml
  go.mod
  pkg/cmd/hgctl/dashboard.go
  pkg/cmd/hgctl/helm/common.go
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/helm/render.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/gateway_api.go
  pkg/cmd/hgctl/installer/higress.go
  pkg/cmd/hgctl/installer/installer.go
  pkg/cmd/hgctl/installer/installer_docker.go
  pkg/cmd/hgctl/installer/installer_k8s.go
  pkg/cmd/hgctl/installer/standalone.go
  pkg/cmd/hgctl/installer/standalone_agent.go
  pkg/cmd/hgctl/manifest.go
  pkg/cmd/hgctl/manifests/gatewayapi/experimental-install.yaml
  pkg/cmd/hgctl/manifests/istiobase/Chart.yaml
  pkg/cmd/hgctl/manifests/istiobase/README.md
  pkg/cmd/hgctl/manifests/istiobase/crds/crd-all.gen.yaml
  pkg/cmd/hgctl/manifests/istiobase/crds/crd-operator.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/NOTES.txt
  pkg/cmd/hgctl/manifests/istiobase/templates/clusterrole.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/clusterrolebinding.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/crds.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/default.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/endpoints.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/reader-serviceaccount.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/role.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/rolebinding.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/serviceaccount.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/services.yaml
  pkg/cmd/hgctl/manifests/istiobase/values.yaml
  pkg/cmd/hgctl/manifests/manifest.go
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-docker.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
  pkg/cmd/hgctl/uninstall.go
  pkg/cmd/hgctl/upgrade.go
  pkg/cmd/hgctl/util/http_fetcher.go
  pkg/cmd/hgctl/util/util.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat:add installation for higress standalone in local docker environment (#606)
  .licenserc.yaml
  go.mod
  pkg/cmd/hgctl/dashboard.go
  pkg/cmd/hgctl/helm/common.go
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/helm/render.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/gateway_api.go
  pkg/cmd/hgctl/installer/higress.go
  pkg/cmd/hgctl/installer/installer.go
  pkg/cmd/hgctl/installer/installer_docker.go
  pkg/cmd/hgctl/installer/installer_k8s.go
  pkg/cmd/hgctl/installer/standalone.go
  pkg/cmd/hgctl/installer/standalone_agent.go
  pkg/cmd/hgctl/manifest.go
  pkg/cmd/hgctl/manifests/gatewayapi/experimental-install.yaml
  pkg/cmd/hgctl/manifests/istiobase/Chart.yaml
  pkg/cmd/hgctl/manifests/istiobase/README.md
  pkg/cmd/hgctl/manifests/istiobase/crds/crd-all.gen.yaml
  pkg/cmd/hgctl/manifests/istiobase/crds/crd-operator.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/NOTES.txt
  pkg/cmd/hgctl/manifests/istiobase/templates/clusterrole.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/clusterrolebinding.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/crds.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/default.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/endpoints.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/reader-serviceaccount.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/role.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/rolebinding.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/serviceaccount.yaml
  pkg/cmd/hgctl/manifests/istiobase/templates/services.yaml
  pkg/cmd/hgctl/manifests/istiobase/values.yaml
  pkg/cmd/hgctl/manifests/manifest.go
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-docker.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
  pkg/cmd/hgctl/uninstall.go
  pkg/cmd/hgctl/upgrade.go
  pkg/cmd/hgctl/util/http_fetcher.go
  pkg/cmd/hgctl/util/util.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Update Makefile.core.mk
  Makefile.core.mk
Owners: none

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo
