Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @CH3CHO, @gengleilei, @SpecialYang, @rinfx, @erasernoob, @wydream, @007gzs, @jizhuozhi, @Erica177, @2456868764, @Xunzhuo

CODEOWNERS:

/api @johnlanni @CH3CHO
/envoy @gengleilei @johnlanni
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @CH3CHO
/plugins @johnlanni @CH3CHO @rinfx @erasernoob
/plugins/wasm-go/extensions/ai-proxy @rinfx @wydream @johnlanni
/plugins/wasm-rust @007gzs @jizhuozhi
/registry @Erica177 @2456868764 @johnlanni
/test @Xunzhuo @2456868764 @CH3CHO
/tools @johnlanni @Xunzhuo @2456868764

fix ToolSecurity field (#2952)
  registry/mcp_model.go
Owners: @Erica177, @2456868764, @johnlanni

feat: Add a new CRD WasmPluginMatchRule for config decoupling
  api/extensions/v1alpha1/wasmplugin.pb.go
  api/extensions/v1alpha1/wasmplugin.proto
  api/extensions/v1alpha1/wasmplugin_deepcopy.gen.go
  api/extensions/v1alpha1/wasmplugin_json.gen.go
  api/kubernetes/customresourcedefinitions.gen.yaml
  client/pkg/apis/extensions/v1alpha1/register.gen.go
  client/pkg/apis/extensions/v1alpha1/types.gen.go
  client/pkg/apis/extensions/v1alpha1/zz_generated.deepcopy.gen.go
  client/pkg/applyconfiguration/utils.go
  client/pkg/clientset/versioned/typed/extensions/v1alpha1/extensions_client.gen.go
  client/pkg/clientset/versioned/typed/extensions/v1alpha1/fake/fake_extensions_client.gen.go
  client/pkg/clientset/versioned/typed/extensions/v1alpha1/generated_expansion.gen.go
  client/pkg/informers/externalversions/extensions/v1alpha1/interface.gen.go
  client/pkg/informers/externalversions/generic.gen.go
  client/pkg/listers/extensions/v1alpha1/expansion_generated.gen.go
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/wasmplugin/controller.go
Owners: @johnlanni, @CH3CHO, @SpecialYang

record consumer name once the consumer name is determined
  plugins/wasm-go/extensions/key-auth/main.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

[key-auth] record consumer name once the consumer name is determined (#2978)
  plugins/wasm-go/extensions/key-auth/main.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

[key-auth] record consumer name once the consumer name is determined (#2978)
  plugins/wasm-go/extensions/key-auth/main.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

[key-auth] record consumer name once the consumer name is determined (#2978)
  plugins/wasm-go/extensions/key-auth/main.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

Enhance CI workflow for WASM plugins: add Codecov upload step, implement coverage gate checks, and improve coverage reporting in GitHub Actions.
  .github/workflows/wasm-plugin-unit-test.yml
Owners: none

gemini support openai compatible mode
  plugins/wasm-go/extensions/ai-proxy/provider/gemini.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @rinfx, @wydream, @johnlanni

release: v2.1.9-rc.1
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

release: v2.1.9-rc.1 (#2984)
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

release: v2.1.9-rc.1 (#2984)
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

release: v2.1.9-rc.1 (#2984)
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

Add release notes
  release-notes/2.1.9-rc.1/README.md
  release-notes/2.1.9-rc.1/README_ZH.md
Owners: none

fix(jsonrpc-converter): Use raw JSON instead of incorrect JSON string formatting
  plugins/wasm-go/extensions/jsonrpc-converter/main.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

update
  .qoder/settings.json
  .qoder/specs/rag-enhancement/design.md
  .qoder/specs/rag-enhancement/tasks.md
  go.mod
  plugins/golang-filter/mcp-server/servers/rag/go.mod
  plugins/golang-filter/mcp-server/servers/rag/go.sum
  plugins/golang-filter/mcp-server/servers/rag/server.go
  plugins/golang-filter/mcp-server/servers/rag/tools.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

remove openai <-> gemini logic
  plugins/wasm-go/extensions/ai-proxy/provider/gemini.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @rinfx, @wydream, @johnlanni

chore: add kode init configuration logic
  hgctl/pkg/agent/base.go
  hgctl/pkg/agent/kode.go
  tools/hack/get-hgctl.sh
Owners: @johnlanni, @Xunzhuo, @2456868764

record consumer name even the consumer is not allowed
  plugins/wasm-cpp/extensions/key_auth/plugin.cc
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

record consumer name even the consumer is not allowed (#2992)
  plugins/wasm-cpp/extensions/key_auth/plugin.cc
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

record consumer name even the consumer is not allowed (#2992)
  plugins/wasm-cpp/extensions/key_auth/plugin.cc
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

record consumer name even the consumer is not allowed (#2992)
  plugins/wasm-cpp/extensions/key_auth/plugin.cc
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

feat: hgctl mcp add connect to kode and implement http's type add
  hgctl/pkg/agent/base.go
  hgctl/pkg/agent/kode.go
  hgctl/pkg/agent/mcp.go
Owners: none

enable ai-proxy&ai-statistics rebuild logic with new key
  plugins/wasm-go/extensions/ai-proxy/go.mod
  plugins/wasm-go/extensions/ai-proxy/go.sum
  plugins/wasm-go/extensions/ai-proxy/main.go
  plugins/wasm-go/extensions/ai-statistics/go.mod
  plugins/wasm-go/extensions/ai-statistics/go.sum
  plugins/wasm-go/extensions/ai-statistics/main.go
Owners: @rinfx, @wydream, @johnlanni, @CH3CHO, @erasernoob

enable ai-proxy&ai-statistics rebuild logic with new key
  plugins/wasm-go/extensions/ai-proxy/go.mod
  plugins/wasm-go/extensions/ai-proxy/go.sum
  plugins/wasm-go/extensions/ai-proxy/main.go
  plugins/wasm-go/extensions/ai-statistics/go.mod
  plugins/wasm-go/extensions/ai-statistics/go.sum
  plugins/wasm-go/extensions/ai-statistics/main.go
Owners: @rinfx, @wydream, @johnlanni, @CH3CHO, @erasernoob

enable ai-proxy&ai-statistics rebuild logic with new key
  plugins/wasm-go/extensions/ai-proxy/go.mod
  plugins/wasm-go/extensions/ai-proxy/go.sum
  plugins/wasm-go/extensions/ai-proxy/main.go
  plugins/wasm-go/extensions/ai-statistics/go.mod
  plugins/wasm-go/extensions/ai-statistics/go.sum
  plugins/wasm-go/extensions/ai-statistics/main.go
Owners: @rinfx, @wydream, @johnlanni, @CH3CHO, @erasernoob

update wasm-go dependency
  plugins/wasm-go/extensions/ai-proxy/go.mod
  plugins/wasm-go/extensions/ai-proxy/go.sum
  plugins/wasm-go/extensions/ai-statistics/go.mod
  plugins/wasm-go/extensions/ai-statistics/go.sum
Owners: @rinfx, @wydream, @johnlanni, @CH3CHO, @erasernoob

update wasm-go dependency
  plugins/wasm-go/extensions/ai-proxy/go.mod
  plugins/wasm-go/extensions/ai-proxy/go.sum
  plugins/wasm-go/extensions/ai-statistics/go.mod
  plugins/wasm-go/extensions/ai-statistics/go.sum
Owners: @rinfx, @wydream, @johnlanni, @CH3CHO, @erasernoob

update wasm-go dependency
  plugins/wasm-go/extensions/ai-proxy/go.mod
  plugins/wasm-go/extensions/ai-proxy/go.sum
  plugins/wasm-go/extensions/ai-statistics/go.mod
  plugins/wasm-go/extensions/ai-statistics/go.sum
Owners: @rinfx, @wydream, @johnlanni, @CH3CHO, @erasernoob

Update README_ZH.md
  README_ZH.md
Owners: none

Update README_ZH.md
  README_ZH.md
Owners: none

Update README_ZH.md
  README_ZH.md
Owners: none

feat: support launch agent window
  hgctl/pkg/agent/agent.go
  hgctl/pkg/agent/base.go
  hgctl/pkg/agent/kode.go
  hgctl/pkg/root.go
Owners: none

集群限流和AI Token限流限流逻辑优化
  plugins/wasm-go/extensions/ai-token-ratelimit/main.go
  plugins/wasm-go/extensions/cluster-key-rate-limit/main.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

集群限流和AI Token限流限流逻辑优化
  plugins/wasm-go/extensions/ai-token-ratelimit/main.go
  plugins/wasm-go/extensions/cluster-key-rate-limit/main.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

修复单元测试
  plugins/wasm-go/extensions/ai-token-ratelimit/main_test.go
  plugins/wasm-go/extensions/cluster-key-rate-limit/main_test.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

refactor: refactor current mcp add code structure
  hgctl/pkg/agent/agent.go
  hgctl/pkg/agent/base.go
  hgctl/pkg/agent/mcp.go
Owners: none

fix: fix the external thing in go.mod file
  go.mod
Owners: none

chore: integrate higress client
  hgctl/pkg/agent/mcp.go
Owners: none

Update go-wasm-ai-proxy.go
  test/e2e/conformance/tests/go-wasm-ai-proxy.go
Owners: @Xunzhuo, @2456868764, @CH3CHO

Update go-wasm-ai-proxy.yaml
  test/e2e/conformance/tests/go-wasm-ai-proxy.yaml
Owners: @Xunzhuo, @2456868764, @CH3CHO
