Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @CH3CHO, @gengleilei, @SpecialYang, @WeixinX, @NameHaibinZhang, @2456868764, @Xunzhuo

CODEOWNERS:

/api @johnlanni @CH3CHO
/envoy @gengleilei @johnlanni
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @CH3CHO
/plugins @johnlanni @WeixinX @CH3CHO
/registry @NameHaibinZhang @2456868764 @johnlanni
/test @Xunzhuo @2456868764 @CH3CHO
/tools @johnlanni @Xunzhuo @2456868764

Update provider.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

Update provider.go comments
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

Update provider.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

Update provider.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

fix proxy wasm 0_2_100
  envoy/1.20/patches/envoy/20240521-fix-wasm-host.patch
Owners: @gengleilei, @johnlanni

fix proxy wasm 0_2_100 (#984)
  envoy/1.20/patches/envoy/20240521-fix-wasm-host.patch
Owners: @gengleilei, @johnlanni

fix proxy wasm 0_2_100 (#984)
  envoy/1.20/patches/envoy/20240521-fix-wasm-host.patch
Owners: @gengleilei, @johnlanni

fix proxy wasm 0_2_100 (#984)
  envoy/1.20/patches/envoy/20240521-fix-wasm-host.patch
Owners: @gengleilei, @johnlanni

optimize default action of route envoyfilter
  pkg/ingress/kube/configmap/global.go
  test/e2e/conformance/tests/configmap-global.go
Owners: @SpecialYang, @johnlanni, @CH3CHO, @Xunzhuo, @2456868764

keep bootstrap same with istio-ingress-gateway
  istio/1.12/patches/istio/20240521-optimize-bootstrap.patch
Owners: @SpecialYang, @johnlanni

keep bootstrap same with istio-ingress-gateway (#986)
  istio/1.12/patches/istio/20240521-optimize-bootstrap.patch
Owners: @SpecialYang, @johnlanni

keep bootstrap same with istio-ingress-gateway (#986)
  istio/1.12/patches/istio/20240521-optimize-bootstrap.patch
Owners: @SpecialYang, @johnlanni

keep bootstrap same with istio-ingress-gateway (#986)
  istio/1.12/patches/istio/20240521-optimize-bootstrap.patch
Owners: @SpecialYang, @johnlanni

Update Makefile.core.mk
  Makefile.core.mk
Owners: none

Update Makefile.core.mk
  Makefile.core.mk
Owners: none

Update Makefile.core.mk
  Makefile.core.mk
Owners: none

optimize default action of route envoyfilter (#985)
  pkg/ingress/kube/configmap/global.go
  test/e2e/conformance/tests/configmap-global.go
Owners: @SpecialYang, @johnlanni, @CH3CHO, @Xunzhuo, @2456868764

optimize default action of route envoyfilter (#985)
  pkg/ingress/kube/configmap/global.go
  test/e2e/conformance/tests/configmap-global.go
Owners: @SpecialYang, @johnlanni, @CH3CHO, @Xunzhuo, @2456868764

optimize default action of route envoyfilter (#985)
  pkg/ingress/kube/configmap/global.go
  test/e2e/conformance/tests/configmap-global.go
Owners: @SpecialYang, @johnlanni, @CH3CHO, @Xunzhuo, @2456868764

feat: add baichuan llm support (#979)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/provider/baichuan.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

feat: add baichuan llm support (#979)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/provider/baichuan.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

feat: add baichuan llm support (#979)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/provider/baichuan.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

Remove force streaming of qwen
  plugins/wasm-go/extensions/ai-proxy/go.sum
  plugins/wasm-go/extensions/ai-proxy/provider/qwen.go
Owners: @johnlanni, @WeixinX, @CH3CHO

feat: support deepseek ai model
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/provider/deepseek.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

fix transformer plugin
  plugins/wasm-go/extensions/transformer/main.go
Owners: @johnlanni, @WeixinX, @CH3CHO

fix transformer plugin (#990)
  plugins/wasm-go/extensions/transformer/main.go
Owners: @johnlanni, @WeixinX, @CH3CHO

fix transformer plugin (#990)
  plugins/wasm-go/extensions/transformer/main.go
Owners: @johnlanni, @WeixinX, @CH3CHO

fix transformer plugin (#990)
  plugins/wasm-go/extensions/transformer/main.go
Owners: @johnlanni, @WeixinX, @CH3CHO

Fix the incorrect usage of DisableReroute
  plugins/wasm-go/extensions/ai-proxy/main.go
Owners: @johnlanni, @WeixinX, @CH3CHO

feat: support deepseek ai model (#989)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/provider/deepseek.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

feat: support deepseek ai model (#989)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/provider/deepseek.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

feat: support deepseek ai model (#989)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/provider/deepseek.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

fix: Fix the incorrect usage of DisableReroute (#991)
  plugins/wasm-go/extensions/ai-proxy/main.go
Owners: @johnlanni, @WeixinX, @CH3CHO

fix: Fix the incorrect usage of DisableReroute (#991)
  plugins/wasm-go/extensions/ai-proxy/main.go
Owners: @johnlanni, @WeixinX, @CH3CHO

fix: Fix the incorrect usage of DisableReroute (#991)
  plugins/wasm-go/extensions/ai-proxy/main.go
Owners: @johnlanni, @WeixinX, @CH3CHO

feat: Add Ollama AI support (#956)
  plugins/wasm-go/extensions/ai-proxy/provider/ollama.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @johnlanni, @WeixinX, @CH3CHO

Update Makefile.core.mk
  Makefile.core.mk
Owners: none

Update Makefile.core.mk
  Makefile.core.mk
Owners: none

Update Makefile.core.mk
  Makefile.core.mk
Owners: none

e2e: run the specific test with environment variable
  test/README.md
  test/README_CN.md
  test/e2e/conformance/utils/suite/suite.go
Owners: @Xunzhuo, @2456868764, @CH3CHO
