Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

fix e2e
  Makefile.core.mk
Owners: none

基于wasm-go实现了Token解析认证功能的插件
  plugins/wasm-go/extensions/jwt-auth/README.md
  plugins/wasm-go/extensions/jwt-auth/VERSION
  plugins/wasm-go/extensions/jwt-auth/go.mod
  plugins/wasm-go/extensions/jwt-auth/go.sum
  plugins/wasm-go/extensions/jwt-auth/main.go
Owners: @johnlanni

kingress081402
  pkg/bootstrap/server.go
  pkg/ingress/kube/kingress/controller.go
  pkg/kube/client.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

基于wasm-go实现了Token解析认证功能
  plugins/wasm-go/extensions/jwt-auth/README.md
  plugins/wasm-go/extensions/jwt-auth/VERSION
  plugins/wasm-go/extensions/jwt-auth/go.mod
  plugins/wasm-go/extensions/jwt-auth/go.sum
  plugins/wasm-go/extensions/jwt-auth/main.go
Owners: @johnlanni

support multi arch image (#483)
  .github/workflows/build-image-and-push.yaml
  Makefile.core.mk
  docker/Dockerfile.higress
  docker/docker.mk
  istio/1.12/patches/istio/20230811-hack-multi-arch.patch
Owners: @SpecialYang, @johnlanni

support multi arch image (#483)
  .github/workflows/build-image-and-push.yaml
  Makefile.core.mk
  docker/Dockerfile.higress
  docker/docker.mk
  istio/1.12/patches/istio/20230811-hack-multi-arch.patch
Owners: @SpecialYang, @johnlanni

support multi arch image (#483)
  .github/workflows/build-image-and-push.yaml
  Makefile.core.mk
  docker/Dockerfile.higress
  docker/docker.mk
  istio/1.12/patches/istio/20230811-hack-multi-arch.patch
Owners: @SpecialYang, @johnlanni

fix: Always use the latest CRDs file when deploying helm chart to OSS
  .github/workflows/deploy-to-oss.yaml
  helm/core/crds/customresourcedefinitions.gen.yaml
Owners: none

fix: Always use the latest CRDs file when deploying helm chart to OSS (#486)
  .github/workflows/deploy-to-oss.yaml
  helm/core/crds/customresourcedefinitions.gen.yaml
Owners: none

fix: Always use the latest CRDs file when deploying helm chart to OSS (#486)
  .github/workflows/deploy-to-oss.yaml
  helm/core/crds/customresourcedefinitions.gen.yaml
Owners: none

fix: Always use the latest CRDs file when deploying helm chart to OSS (#486)
  .github/workflows/deploy-to-oss.yaml
  helm/core/crds/customresourcedefinitions.gen.yaml
Owners: none

Update build-image-and-push.yaml
  .github/workflows/build-image-and-push.yaml
Owners: none

Update build-image-and-push.yaml
  .github/workflows/build-image-and-push.yaml
Owners: none

Update build-image-and-push.yaml
  .github/workflows/build-image-and-push.yaml
Owners: none

Update build-image-and-push.yaml
  .github/workflows/build-image-and-push.yaml
Owners: none

Update build-image-and-push.yaml
  .github/workflows/build-image-and-push.yaml
Owners: none

Update build-image-and-push.yaml
  .github/workflows/build-image-and-push.yaml
Owners: none

use buildx to build multi arch image
  .github/workflows/build-image-and-push.yaml
  Makefile.core.mk
  docker/Dockerfile.higress
  docker/docker.mk
  istio/1.12/patches/istio/20230811-hack-multi-arch.patch
  istio/1.12/patches/istio/20230815-multi-arch.patch
  tools/hack/setup_env.sh
Owners: @SpecialYang, @johnlanni, @Xunzhuo

fix e2e
  Makefile.core.mk
Owners: none

use buildx to build multi arch image (#487)
  .github/workflows/build-image-and-push.yaml
  Makefile.core.mk
  docker/Dockerfile.higress
  docker/docker.mk
  istio/1.12/patches/istio/20230811-hack-multi-arch.patch
  istio/1.12/patches/istio/20230815-multi-arch.patch
  tools/hack/setup_env.sh
Owners: @SpecialYang, @johnlanni, @Xunzhuo

use buildx to build multi arch image (#487)
  .github/workflows/build-image-and-push.yaml
  Makefile.core.mk
  docker/Dockerfile.higress
  docker/docker.mk
  istio/1.12/patches/istio/20230811-hack-multi-arch.patch
  istio/1.12/patches/istio/20230815-multi-arch.patch
  tools/hack/setup_env.sh
Owners: @SpecialYang, @johnlanni, @Xunzhuo

use buildx to build multi arch image (#487)
  .github/workflows/build-image-and-push.yaml
  Makefile.core.mk
  docker/Dockerfile.higress
  docker/docker.mk
  istio/1.12/patches/istio/20230811-hack-multi-arch.patch
  istio/1.12/patches/istio/20230815-multi-arch.patch
  tools/hack/setup_env.sh
Owners: @SpecialYang, @johnlanni, @Xunzhuo

Support open ingress&&kingress
  go.mod
  go.sum
  helm/core/templates/controller-clusterrole.yaml
  pkg/bootstrap/server.go
  pkg/config/constants/constants.go
  pkg/ingress/config/ingress_config.go
  pkg/ingress/config/kingress_config.go
  pkg/ingress/config/kingress_config_test.go
  pkg/ingress/higressconfig/higress_config.go
  pkg/ingress/kube/common/controller.go
  pkg/ingress/kube/kingress/controller.go
  pkg/kube/client.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Update build-image-and-push.yaml
  .github/workflows/build-image-and-push.yaml
Owners: none

Update build-image-and-push.yaml
  .github/workflows/build-image-and-push.yaml
Owners: none

Update build-image-and-push.yaml
  .github/workflows/build-image-and-push.yaml
Owners: none

Update build-image-and-push.yaml
  .github/workflows/build-image-and-push.yaml
Owners: none

Update build-image-and-push.yaml
  .github/workflows/build-image-and-push.yaml
Owners: none

Update build-image-and-push.yaml
  .github/workflows/build-image-and-push.yaml
Owners: none

Update build-image-and-push.yaml
  .github/workflows/build-image-and-push.yaml
Owners: none

Update build-image-and-push.yaml
  .github/workflows/build-image-and-push.yaml
Owners: none

Update build-image-and-push.yaml
  .github/workflows/build-image-and-push.yaml
Owners: none

Support ing && king CRD check
  pkg/bootstrap/server.go
  pkg/ingress/higressconfig/higress_config.go
  pkg/ingress/kube/kingress/controller.go
  pkg/kube/client.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

change docker buildx rule
  docker/docker.mk
Owners: none

change docker buildx rule (#488)
  docker/docker.mk
Owners: none

change docker buildx rule (#488)
  docker/docker.mk
Owners: none

change docker buildx rule (#488)
  docker/docker.mk
Owners: none

Support ing && king CRD check
  pkg/bootstrap/server.go
  pkg/ingress/higressconfig/higress_config.go
  tools/hack/kind-load-image.sh
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Support ing && king CRD check
  pkg/ingress/config/kingress_config.go
  pkg/ingress/higressconfig/higress_config.go
  pkg/kube/client.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Support Kingress & ingress & KIngressCRD check
  pkg/ingress/higressconfig/higress_config.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo
