Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @CH3CHO, @gengleilei, @SpecialYang, @rinfx, @erasernoob, @wydream, @007gzs, @jizhuozhi, @Erica177, @2456868764, @Xunzhuo

feat: add rag mcp server (#2930)
  plugins/golang-filter/go.mod
  plugins/golang-filter/go.sum
  plugins/golang-filter/mcp-server/config.go
  plugins/golang-filter/mcp-server/servers/rag/READMD.md
  plugins/golang-filter/mcp-server/servers/rag/common/httpclient.go
  plugins/golang-filter/mcp-server/servers/rag/config/config.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/dashscope.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/openai.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/provider.go
  plugins/golang-filter/mcp-server/servers/rag/llm/openai.go
  plugins/golang-filter/mcp-server/servers/rag/llm/prompt.go
  plugins/golang-filter/mcp-server/servers/rag/llm/provider.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client_test.go
  plugins/golang-filter/mcp-server/servers/rag/schema/document.go
  plugins/golang-filter/mcp-server/servers/rag/server.go
  plugins/golang-filter/mcp-server/servers/rag/server_test.go
  plugins/golang-filter/mcp-server/servers/rag/textsplitter/options.go
  plugins/golang-filter/mcp-server/servers/rag/textsplitter/recursive_character.go
  plugins/golang-filter/mcp-server/servers/rag/textsplitter/recursive_character_test.go
  plugins/golang-filter/mcp-server/servers/rag/textsplitter/splitter_document.go
  plugins/golang-filter/mcp-server/servers/rag/textsplitter/text_splitter.go
  plugins/golang-filter/mcp-server/servers/rag/tools.go
  plugins/golang-filter/mcp-server/servers/rag/vectordb/milvus.go
  plugins/golang-filter/mcp-server/servers/rag/vectordb/milvus_test.go
  plugins/golang-filter/mcp-server/servers/rag/vectordb/provider.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

feat: add rag mcp server (#2930)
  plugins/golang-filter/go.mod
  plugins/golang-filter/go.sum
  plugins/golang-filter/mcp-server/config.go
  plugins/golang-filter/mcp-server/servers/rag/READMD.md
  plugins/golang-filter/mcp-server/servers/rag/common/httpclient.go
  plugins/golang-filter/mcp-server/servers/rag/config/config.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/dashscope.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/openai.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/provider.go
  plugins/golang-filter/mcp-server/servers/rag/llm/openai.go
  plugins/golang-filter/mcp-server/servers/rag/llm/prompt.go
  plugins/golang-filter/mcp-server/servers/rag/llm/provider.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client_test.go
  plugins/golang-filter/mcp-server/servers/rag/schema/document.go
  plugins/golang-filter/mcp-server/servers/rag/server.go
  plugins/golang-filter/mcp-server/servers/rag/server_test.go
  plugins/golang-filter/mcp-server/servers/rag/textsplitter/options.go
  plugins/golang-filter/mcp-server/servers/rag/textsplitter/recursive_character.go
  plugins/golang-filter/mcp-server/servers/rag/textsplitter/recursive_character_test.go
  plugins/golang-filter/mcp-server/servers/rag/textsplitter/splitter_document.go
  plugins/golang-filter/mcp-server/servers/rag/textsplitter/text_splitter.go
  plugins/golang-filter/mcp-server/servers/rag/tools.go
  plugins/golang-filter/mcp-server/servers/rag/vectordb/milvus.go
  plugins/golang-filter/mcp-server/servers/rag/vectordb/milvus_test.go
  plugins/golang-filter/mcp-server/servers/rag/vectordb/provider.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

feat: add rag mcp server (#2930)
  plugins/golang-filter/go.mod
  plugins/golang-filter/go.sum
  plugins/golang-filter/mcp-server/config.go
  plugins/golang-filter/mcp-server/servers/rag/READMD.md
  plugins/golang-filter/mcp-server/servers/rag/common/httpclient.go
  plugins/golang-filter/mcp-server/servers/rag/config/config.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/dashscope.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/openai.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/provider.go
  plugins/golang-filter/mcp-server/servers/rag/llm/openai.go
  plugins/golang-filter/mcp-server/servers/rag/llm/prompt.go
  plugins/golang-filter/mcp-server/servers/rag/llm/provider.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client_test.go
  plugins/golang-filter/mcp-server/servers/rag/schema/document.go
  plugins/golang-filter/mcp-server/servers/rag/server.go
  plugins/golang-filter/mcp-server/servers/rag/server_test.go
  plugins/golang-filter/mcp-server/servers/rag/textsplitter/options.go
  plugins/golang-filter/mcp-server/servers/rag/textsplitter/recursive_character.go
  plugins/golang-filter/mcp-server/servers/rag/textsplitter/recursive_character_test.go
  plugins/golang-filter/mcp-server/servers/rag/textsplitter/splitter_document.go
  plugins/golang-filter/mcp-server/servers/rag/textsplitter/text_splitter.go
  plugins/golang-filter/mcp-server/servers/rag/tools.go
  plugins/golang-filter/mcp-server/servers/rag/vectordb/milvus.go
  plugins/golang-filter/mcp-server/servers/rag/vectordb/milvus_test.go
  plugins/golang-filter/mcp-server/servers/rag/vectordb/provider.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

EnvoyFilter增加WorkloadSelector限制作用范围 || EnvoyFilter increases WorkloadSelector limiting scope (#2593)
  helm/core/templates/fallback-envoyfilter.yaml
Owners: none

EnvoyFilter增加WorkloadSelector限制作用范围 || EnvoyFilter increases WorkloadSelector limiting scope (#2593)
  helm/core/templates/fallback-envoyfilter.yaml
Owners: none

EnvoyFilter增加WorkloadSelector限制作用范围 || EnvoyFilter increases WorkloadSelector limiting scope (#2593)
  helm/core/templates/fallback-envoyfilter.yaml
Owners: none

rel: Release v2.1.8
  DEP_VERSION
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

rel: Release v2.1.8
  DEP_VERSION
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

rel: Release v2.1.8
  DEP_VERSION
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

Add release notes
  release-notes/2.1.8/README.md
  release-notes/2.1.8/README_ZH.md
Owners: none

Add release notes
  release-notes/2.1.8/README.md
  release-notes/2.1.8/README_ZH.md
Owners: none

test[ai-model-filter]: 修复测试
  plugins/wasm-go/extensions/ai-model-filter/go.mod
  plugins/wasm-go/extensions/ai-model-filter/go.sum
  plugins/wasm-go/extensions/ai-model-filter/main_test.go
  test/e2e/conformance/tests/go-wasm-ai-model-filter.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob, @Xunzhuo, @2456868764

sys prompt;
  .github/workflows/generate-release-notes.yaml
Owners: none

[bugfix] compatible with old configs
  plugins/wasm-go/extensions/ai-security-guard/main.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

prompt file
  .github/workflows/generate-release-notes.yaml
Owners: none

fix
  plugins/golang-filter/mcp-server/servers/rag/READMD.md
  plugins/golang-filter/mcp-server/servers/rag/llm/openai.go
  plugins/golang-filter/mcp-server/servers/rag/llm/prompt.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client_test.go
  plugins/golang-filter/mcp-server/servers/rag/server.go
  plugins/golang-filter/mcp-server/servers/rag/tools.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

feat(ai-proxy): add anthropic/v1/messages support for moonshot
  plugins/wasm-go/extensions/ai-proxy/provider/moonshot.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @rinfx, @wydream, @johnlanni

fix(ai-security-guard): compatible with old configs (#2941)
  plugins/wasm-go/extensions/ai-security-guard/main.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix(ai-security-guard): compatible with old configs (#2941)
  plugins/wasm-go/extensions/ai-security-guard/main.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix(ai-security-guard): compatible with old configs (#2941)
  plugins/wasm-go/extensions/ai-security-guard/main.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix
  plugins/golang-filter/mcp-server/servers/rag/README.md
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

use python extract & markdownify
  .github/workflows/generate-release-notes.yaml
Owners: none

release note supports system prompt (#2943)
  .github/workflows/generate-release-notes.yaml
Owners: none

release note supports system prompt (#2943)
  .github/workflows/generate-release-notes.yaml
Owners: none

release note supports system prompt (#2943)
  .github/workflows/generate-release-notes.yaml
Owners: none

fix: llm can be empty and optimize document and prompt (#2942)
  plugins/golang-filter/mcp-server/servers/rag/READMD.md
  plugins/golang-filter/mcp-server/servers/rag/README.md
  plugins/golang-filter/mcp-server/servers/rag/llm/openai.go
  plugins/golang-filter/mcp-server/servers/rag/llm/prompt.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client_test.go
  plugins/golang-filter/mcp-server/servers/rag/server.go
  plugins/golang-filter/mcp-server/servers/rag/tools.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix: llm can be empty and optimize document and prompt (#2942)
  plugins/golang-filter/mcp-server/servers/rag/READMD.md
  plugins/golang-filter/mcp-server/servers/rag/README.md
  plugins/golang-filter/mcp-server/servers/rag/llm/openai.go
  plugins/golang-filter/mcp-server/servers/rag/llm/prompt.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client_test.go
  plugins/golang-filter/mcp-server/servers/rag/server.go
  plugins/golang-filter/mcp-server/servers/rag/tools.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix: llm can be empty and optimize document and prompt (#2942)
  plugins/golang-filter/mcp-server/servers/rag/READMD.md
  plugins/golang-filter/mcp-server/servers/rag/README.md
  plugins/golang-filter/mcp-server/servers/rag/llm/openai.go
  plugins/golang-filter/mcp-server/servers/rag/llm/prompt.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client_test.go
  plugins/golang-filter/mcp-server/servers/rag/server.go
  plugins/golang-filter/mcp-server/servers/rag/tools.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

[optimize] update global least request lua script for ai-load-balancer
  plugins/wasm-go/extensions/ai-load-balancer/global_least_request/lb_policy.go
  plugins/wasm-go/extensions/ai-load-balancer/prefix_cache/lb_policy.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix(ai-proxy): fix azure response api process
  plugins/wasm-go/extensions/ai-proxy/provider/azure.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
  plugins/wasm-go/extensions/ai-proxy/test/azure.go
Owners: @rinfx, @wydream, @johnlanni

remove useless logic
  plugins/wasm-go/extensions/ai-proxy/provider/azure.go
Owners: @rinfx, @wydream, @johnlanni

fix(ai-proxy): Fix Azure OpenAI Response API handling and service URL type detection (#2948)
  plugins/wasm-go/extensions/ai-proxy/provider/azure.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
  plugins/wasm-go/extensions/ai-proxy/test/azure.go
Owners: @rinfx, @wydream, @johnlanni

fix(ai-proxy): Fix Azure OpenAI Response API handling and service URL type detection (#2948)
  plugins/wasm-go/extensions/ai-proxy/provider/azure.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
  plugins/wasm-go/extensions/ai-proxy/test/azure.go
Owners: @rinfx, @wydream, @johnlanni

fix(ai-proxy): Fix Azure OpenAI Response API handling and service URL type detection (#2948)
  plugins/wasm-go/extensions/ai-proxy/provider/azure.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
  plugins/wasm-go/extensions/ai-proxy/test/azure.go
Owners: @rinfx, @wydream, @johnlanni

opt(ai-load-balancer): update global least request lua script for ai-load-balancer (#2945)
  plugins/wasm-go/extensions/ai-load-balancer/global_least_request/lb_policy.go
  plugins/wasm-go/extensions/ai-load-balancer/prefix_cache/lb_policy.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

opt(ai-load-balancer): update global least request lua script for ai-load-balancer (#2945)
  plugins/wasm-go/extensions/ai-load-balancer/global_least_request/lb_policy.go
  plugins/wasm-go/extensions/ai-load-balancer/prefix_cache/lb_policy.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

opt(ai-load-balancer): update global least request lua script for ai-load-balancer (#2945)
  plugins/wasm-go/extensions/ai-load-balancer/global_least_request/lb_policy.go
  plugins/wasm-go/extensions/ai-load-balancer/prefix_cache/lb_policy.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix(ai-proxy): fix streaming process
  plugins/wasm-go/extensions/ai-proxy/main.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @rinfx, @wydream, @johnlanni

fix(ai-proxy): fix streaming process
  plugins/wasm-go/extensions/ai-proxy/main.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @rinfx, @wydream, @johnlanni

fix(ai-proxy): fix streaming process
  plugins/wasm-go/extensions/ai-proxy/main.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @rinfx, @wydream, @johnlanni

CODEOWNERS:

/api @johnlanni @CH3CHO
/envoy @gengleilei @johnlanni
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @CH3CHO
/plugins @johnlanni @CH3CHO @rinfx @erasernoob
/plugins/wasm-go/extensions/ai-proxy @rinfx @wydream @johnlanni
/plugins/wasm-rust @007gzs @jizhuozhi
/registry @Erica177 @2456868764 @johnlanni
/test @Xunzhuo @2456868764 @CH3CHO
/tools @johnlanni @Xunzhuo @2456868764
