Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @CH3CHO, @gengleilei, @SpecialYang, @rinfx, @erasernoob, @wydream, @007gzs, @jizhuozhi, @Erica177, @2456868764, @Xunzhuo

CODEOWNERS:

/api @johnlanni @CH3CHO
/envoy @gengleilei @johnlanni
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @CH3CHO
/plugins @johnlanni @CH3CHO @rinfx @erasernoob
/plugins/wasm-go/extensions/ai-proxy @rinfx @wydream @johnlanni
/plugins/wasm-rust @007gzs @jizhuozhi
/registry @Erica177 @2456868764 @johnlanni
/test @Xunzhuo @2456868764 @CH3CHO
/tools @johnlanni @Xunzhuo @2456868764

#1736Implement cloudflare e2e test case (#2998)
  test/e2e/conformance/tests/go-wasm-ai-proxy.go
  test/e2e/conformance/tests/go-wasm-ai-proxy.yaml
Owners: @Xunzhuo, @2456868764, @CH3CHO

#1736Implement cloudflare e2e test case (#2998)
  test/e2e/conformance/tests/go-wasm-ai-proxy.go
  test/e2e/conformance/tests/go-wasm-ai-proxy.yaml
Owners: @Xunzhuo, @2456868764, @CH3CHO

feat(ai-proxy): enable Qwen compatible mode by default and add missing API endpoints
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
  plugins/wasm-go/extensions/ai-proxy/provider/qwen.go
Owners: @rinfx, @wydream, @johnlanni

fix bug
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @rinfx, @wydream, @johnlanni

fix: MCP Redis secret e2e
  test/e2e/conformance/tests/configmap-mcp-redis-secret.go
Owners: @Xunzhuo, @2456868764, @CH3CHO

fix(ai-proxy): update test configurations for Qwen compatible mode default
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
  plugins/wasm-go/extensions/ai-proxy/test/qwen.go
Owners: @rinfx, @wydream, @johnlanni

fix bug
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
Owners: @rinfx, @wydream, @johnlanni

change wasm plugin ut coverage
  .github/workflows/wasm-plugin-unit-test.yml
Owners: none

Update dubbo.yaml
  test/e2e/conformance/base/dubbo.yaml
Owners: @Xunzhuo, @2456868764, @CH3CHO

Update dubbo.yaml
  test/e2e/conformance/base/dubbo.yaml
Owners: @Xunzhuo, @2456868764, @CH3CHO

Update dubbo.yaml
  test/e2e/conformance/base/dubbo.yaml
Owners: @Xunzhuo, @2456868764, @CH3CHO

Update README_ZH.md
  README_ZH.md
Owners: none

Update README_ZH.md
  README_ZH.md
Owners: none

Update README_ZH.md
  README_ZH.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

feat(ai-proxy): enable Qwen compatible mode by default and add missing API endpoints (#3032)
  .github/workflows/wasm-plugin-unit-test.yml
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
  plugins/wasm-go/extensions/ai-proxy/provider/qwen.go
  plugins/wasm-go/extensions/ai-proxy/test/qwen.go
Owners: @rinfx, @wydream, @johnlanni

feat(ai-proxy): enable Qwen compatible mode by default and add missing API endpoints (#3032)
  .github/workflows/wasm-plugin-unit-test.yml
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
  plugins/wasm-go/extensions/ai-proxy/provider/qwen.go
  plugins/wasm-go/extensions/ai-proxy/test/qwen.go
Owners: @rinfx, @wydream, @johnlanni

feat(ai-proxy): enable Qwen compatible mode by default and add missing API endpoints (#3032)
  .github/workflows/wasm-plugin-unit-test.yml
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
  plugins/wasm-go/extensions/ai-proxy/provider/qwen.go
  plugins/wasm-go/extensions/ai-proxy/test/qwen.go
Owners: @rinfx, @wydream, @johnlanni

add checking of maliciousUrl & modelHallucination, and adjust consumer specific configs
  plugins/wasm-go/extensions/ai-security-guard/main.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

feat(mcp): add list-plugin-instances tool for AI Agent
  plugins/golang-filter/mcp-server/servers/higress/higress-api/README.md
  plugins/golang-filter/mcp-server/servers/higress/higress-api/README_en.md
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/plugins/common.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

refactor: remove kode name-way to use integration mechanism
  hgctl/pkg/agent/base.go
  hgctl/pkg/agent/core.go
  hgctl/pkg/agent/mcp.go
  plugins/golang-filter/go.mod
  plugins/golang-filter/go.sum
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

Add ApiNameAnthropicMessages in claude capabilities
  plugins/wasm-go/extensions/ai-proxy/provider/claude.go
Owners: @rinfx, @wydream, @johnlanni

update variable name
  plugins/wasm-go/extensions/ai-security-guard/main.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

Add ApiNameAnthropicMessages in claude capabilities (#3040)
  plugins/wasm-go/extensions/ai-proxy/provider/claude.go
Owners: @rinfx, @wydream, @johnlanni

Add ApiNameAnthropicMessages in claude capabilities (#3040)
  plugins/wasm-go/extensions/ai-proxy/provider/claude.go
Owners: @rinfx, @wydream, @johnlanni

Add ApiNameAnthropicMessages in claude capabilities (#3040)
  plugins/wasm-go/extensions/ai-proxy/provider/claude.go
Owners: @rinfx, @wydream, @johnlanni

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README_ZH.md
  README_ZH.md
Owners: none

Update README_ZH.md
  README_ZH.md
Owners: none

Update README_ZH.md
  README_ZH.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README_ZH.md
  README_ZH.md
Owners: none

Update README_ZH.md
  README_ZH.md
Owners: none

Update README_ZH.md
  README_ZH.md
Owners: none
