Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

Update Makefile.core.mk
  Makefile.core.mk
Owners: none

Update Makefile.core.mk
  Makefile.core.mk
Owners: none

Add detecting higress installed by helm or not before install
  pkg/cmd/hgctl/installer/helm_agent.go
  pkg/cmd/hgctl/installer/installer_k8s.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

update console password property
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/installer/helm_agent.go
  pkg/cmd/hgctl/installer/installer_k8s.go
  pkg/cmd/hgctl/installer/standalone_agent.go
  pkg/cmd/hgctl/manifests/profiles/_all.yaml
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-docker.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

remove adminPassword in profile
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/installer/standalone_agent.go
  pkg/cmd/hgctl/manifests/profiles/_all.yaml
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-docker.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Add detecting higress installed by helm or not before install (#620)
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/installer/helm_agent.go
  pkg/cmd/hgctl/installer/installer_k8s.go
  pkg/cmd/hgctl/installer/standalone_agent.go
  pkg/cmd/hgctl/manifests/profiles/_all.yaml
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-docker.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Add detecting higress installed by helm or not before install (#620)
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/installer/helm_agent.go
  pkg/cmd/hgctl/installer/installer_k8s.go
  pkg/cmd/hgctl/installer/standalone_agent.go
  pkg/cmd/hgctl/manifests/profiles/_all.yaml
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-docker.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Add detecting higress installed by helm or not before install (#620)
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/installer/helm_agent.go
  pkg/cmd/hgctl/installer/installer_k8s.go
  pkg/cmd/hgctl/installer/standalone_agent.go
  pkg/cmd/hgctl/manifests/profiles/_all.yaml
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-docker.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

support sort httproute when use gateway api
  istio/1.12/patches/istio/20231103-gatewayapi-sort.patch
  samples/gateway-api/demo.yaml
Owners: @SpecialYang, @johnlanni

support sort httproute when use gateway api (#622)
  istio/1.12/patches/istio/20231103-gatewayapi-sort.patch
  samples/gateway-api/demo.yaml
Owners: @SpecialYang, @johnlanni

support sort httproute when use gateway api (#622)
  istio/1.12/patches/istio/20231103-gatewayapi-sort.patch
  samples/gateway-api/demo.yaml
Owners: @SpecialYang, @johnlanni

support sort httproute when use gateway api (#622)
  istio/1.12/patches/istio/20231103-gatewayapi-sort.patch
  samples/gateway-api/demo.yaml
Owners: @SpecialYang, @johnlanni

add the catchall case
  istio/1.12/patches/istio/20231104-gatewayapi-catchall.patch
Owners: @SpecialYang, @johnlanni

add the catch all case (#623)
  istio/1.12/patches/istio/20231104-gatewayapi-catchall.patch
Owners: @SpecialYang, @johnlanni

add the catch all case (#623)
  istio/1.12/patches/istio/20231104-gatewayapi-catchall.patch
Owners: @SpecialYang, @johnlanni

add the catch all case (#623)
  istio/1.12/patches/istio/20231104-gatewayapi-catchall.patch
Owners: @SpecialYang, @johnlanni

wasm: strip port from host when match host
  plugins/wasm-cpp/common/route_rule_matcher.h
  plugins/wasm-cpp/extensions/basic_auth/plugin_test.cc
  plugins/wasm-go/pkg/matcher/rule_matcher.go
  plugins/wasm-go/pkg/matcher/rule_matcher_test.go
Owners: @johnlanni

wasm: strip port from host when match host (#626)
  plugins/wasm-cpp/common/route_rule_matcher.h
  plugins/wasm-cpp/extensions/basic_auth/plugin_test.cc
  plugins/wasm-go/pkg/matcher/rule_matcher.go
  plugins/wasm-go/pkg/matcher/rule_matcher_test.go
Owners: @johnlanni

wasm: strip port from host when match host (#626)
  plugins/wasm-cpp/common/route_rule_matcher.h
  plugins/wasm-cpp/extensions/basic_auth/plugin_test.cc
  plugins/wasm-go/pkg/matcher/rule_matcher.go
  plugins/wasm-go/pkg/matcher/rule_matcher_test.go
Owners: @johnlanni

wasm: strip port from host when match host (#626)
  plugins/wasm-cpp/common/route_rule_matcher.h
  plugins/wasm-cpp/extensions/basic_auth/plugin_test.cc
  plugins/wasm-go/pkg/matcher/rule_matcher.go
  plugins/wasm-go/pkg/matcher/rule_matcher_test.go
Owners: @johnlanni

add profile store in file and configmap
  pkg/cmd/hgctl/helm/profile.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/higress.go
  pkg/cmd/hgctl/installer/installer_docker.go
  pkg/cmd/hgctl/installer/installer_k8s.go
  pkg/cmd/hgctl/installer/profile_store.go
  pkg/cmd/hgctl/installer/standalone.go
  pkg/cmd/hgctl/kubernetes/client.go
  pkg/cmd/hgctl/manifests/profiles/demo.yaml
  pkg/cmd/hgctl/uninstall.go
  pkg/cmd/hgctl/upgrade.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: fix hgctl in high kubenetes version problem by auto detecting k8s version and adding helm lookup function
  pkg/cmd/hgctl/helm/render.go
  pkg/cmd/hgctl/installer/component.go
  pkg/cmd/hgctl/installer/gateway_api.go
  pkg/cmd/hgctl/installer/higress.go
  pkg/cmd/hgctl/installer/installer_k8s.go
  pkg/cmd/hgctl/installer/istio.go
  pkg/cmd/hgctl/installer/server_info.go
  pkg/cmd/hgctl/kubernetes/client.go
  pkg/cmd/hgctl/uninstall.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix purge istio and gateway api resources
  pkg/cmd/hgctl/uninstall.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

delete todo
  pkg/cmd/hgctl/helm/render.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: fix hgctl in high kubenetes version problem by auto detecting k8s version and adding helm lookup function (#629)
  pkg/cmd/hgctl/helm/render.go
  pkg/cmd/hgctl/installer/component.go
  pkg/cmd/hgctl/installer/gateway_api.go
  pkg/cmd/hgctl/installer/higress.go
  pkg/cmd/hgctl/installer/installer_k8s.go
  pkg/cmd/hgctl/installer/istio.go
  pkg/cmd/hgctl/installer/server_info.go
  pkg/cmd/hgctl/kubernetes/client.go
  pkg/cmd/hgctl/uninstall.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: fix hgctl in high kubenetes version problem by auto detecting k8s version and adding helm lookup function (#629)
  pkg/cmd/hgctl/helm/render.go
  pkg/cmd/hgctl/installer/component.go
  pkg/cmd/hgctl/installer/gateway_api.go
  pkg/cmd/hgctl/installer/higress.go
  pkg/cmd/hgctl/installer/installer_k8s.go
  pkg/cmd/hgctl/installer/istio.go
  pkg/cmd/hgctl/installer/server_info.go
  pkg/cmd/hgctl/kubernetes/client.go
  pkg/cmd/hgctl/uninstall.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: fix hgctl in high kubenetes version problem by auto detecting k8s version and adding helm lookup function (#629)
  pkg/cmd/hgctl/helm/render.go
  pkg/cmd/hgctl/installer/component.go
  pkg/cmd/hgctl/installer/gateway_api.go
  pkg/cmd/hgctl/installer/higress.go
  pkg/cmd/hgctl/installer/installer_k8s.go
  pkg/cmd/hgctl/installer/istio.go
  pkg/cmd/hgctl/installer/server_info.go
  pkg/cmd/hgctl/kubernetes/client.go
  pkg/cmd/hgctl/uninstall.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

delete demo.yaml
  pkg/cmd/hgctl/manifests/profiles/demo.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add oauth plugin
  plugins/wasm-cpp/extensions/oauth/BUILD
  plugins/wasm-cpp/extensions/oauth/README.md
  plugins/wasm-cpp/extensions/oauth/plugin.cc
  plugins/wasm-cpp/extensions/oauth/plugin.h
  plugins/wasm-cpp/extensions/oauth/plugin_test.cc
Owners: @johnlanni

add oauth2 plugin (#632)
  plugins/wasm-cpp/extensions/oauth/BUILD
  plugins/wasm-cpp/extensions/oauth/README.md
  plugins/wasm-cpp/extensions/oauth/plugin.cc
  plugins/wasm-cpp/extensions/oauth/plugin.h
  plugins/wasm-cpp/extensions/oauth/plugin_test.cc
Owners: @johnlanni

add oauth2 plugin (#632)
  plugins/wasm-cpp/extensions/oauth/BUILD
  plugins/wasm-cpp/extensions/oauth/README.md
  plugins/wasm-cpp/extensions/oauth/plugin.cc
  plugins/wasm-cpp/extensions/oauth/plugin.h
  plugins/wasm-cpp/extensions/oauth/plugin_test.cc
Owners: @johnlanni

add oauth2 plugin (#632)
  plugins/wasm-cpp/extensions/oauth/BUILD
  plugins/wasm-cpp/extensions/oauth/README.md
  plugins/wasm-cpp/extensions/oauth/plugin.cc
  plugins/wasm-cpp/extensions/oauth/plugin.h
  plugins/wasm-cpp/extensions/oauth/plugin_test.cc
Owners: @johnlanni

fix bug of header control
  pkg/ingress/kube/annotations/header_control.go
  pkg/ingress/kube/annotations/header_control_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add e2e test
  test/e2e/conformance/tests/httproute-request-header-control.go
  test/e2e/conformance/tests/httproute-request-header-control.yaml
Owners: @Xunzhuo

update e2e
  test/e2e/conformance/tests/httproute-request-header-control.go
  test/e2e/conformance/tests/httproute-request-header-control.yaml
Owners: @Xunzhuo

fix e2e
  pkg/ingress/kube/annotations/header_control.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

rework rewrite
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/annotations_test.go
  pkg/ingress/kube/annotations/canary.go
  pkg/ingress/kube/annotations/rewrite.go
  pkg/ingress/kube/annotations/rewrite_test.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix e2e test
  pkg/ingress/kube/annotations/retry.go
  pkg/ingress/kube/annotations/retry_test.go
  test/e2e/conformance/tests/httproute-rewrite-path.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix cookie canary match
  pkg/ingress/kube/annotations/canary.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Sync inner fix (#634)
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/annotations_test.go
  pkg/ingress/kube/annotations/canary.go
  pkg/ingress/kube/annotations/header_control.go
  pkg/ingress/kube/annotations/header_control_test.go
  pkg/ingress/kube/annotations/retry.go
  pkg/ingress/kube/annotations/retry_test.go
  pkg/ingress/kube/annotations/rewrite.go
  pkg/ingress/kube/annotations/rewrite_test.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  test/e2e/conformance/tests/httproute-request-header-control.go
  test/e2e/conformance/tests/httproute-request-header-control.yaml
  test/e2e/conformance/tests/httproute-rewrite-path.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo
