Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

feat: add wasm-rust sdk with say-hello simple extension (#350)
  .gitignore
  plugins/wasm-rust/.dockerignore
  plugins/wasm-rust/Cargo.lock
  plugins/wasm-rust/Cargo.toml
  plugins/wasm-rust/Dockerfile
  plugins/wasm-rust/Makefile
  plugins/wasm-rust/README.md
  plugins/wasm-rust/extensions/say-hello/Cargo.lock
  plugins/wasm-rust/extensions/say-hello/Cargo.toml
  plugins/wasm-rust/extensions/say-hello/docker-compose.yaml
  plugins/wasm-rust/extensions/say-hello/envoy.yaml
  plugins/wasm-rust/extensions/say-hello/src/lib.rs
  plugins/wasm-rust/src/error.rs
  plugins/wasm-rust/src/internal.rs
  plugins/wasm-rust/src/lib.rs
  plugins/wasm-rust/src/log.rs
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni

feat: add wasm-rust sdk with say-hello simple extension (#350)
  .gitignore
  plugins/wasm-rust/.dockerignore
  plugins/wasm-rust/Cargo.lock
  plugins/wasm-rust/Cargo.toml
  plugins/wasm-rust/Dockerfile
  plugins/wasm-rust/Makefile
  plugins/wasm-rust/README.md
  plugins/wasm-rust/extensions/say-hello/Cargo.lock
  plugins/wasm-rust/extensions/say-hello/Cargo.toml
  plugins/wasm-rust/extensions/say-hello/docker-compose.yaml
  plugins/wasm-rust/extensions/say-hello/envoy.yaml
  plugins/wasm-rust/extensions/say-hello/src/lib.rs
  plugins/wasm-rust/src/error.rs
  plugins/wasm-rust/src/internal.rs
  plugins/wasm-rust/src/lib.rs
  plugins/wasm-rust/src/log.rs
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

feat: Support building and pushing Higress docker images via GitHub actions
  .github/workflows/build-image-and-push.yaml
  .github/workflows/deploy-to-oss.yaml
  istio/1.12/patches/istio/20221027-init.patch
Owners: @SpecialYang, @johnlanni

Add e2e testing description for wasm-plugin-go
  plugins/wasm-go/README.md
  plugins/wasm-go/README_EN.md
Owners: @johnlanni

Add e2e testing description for wasm-plugin-go (#389)
  plugins/wasm-go/README.md
  plugins/wasm-go/README_EN.md
Owners: @johnlanni

Add e2e testing description for wasm-plugin-go (#389)
  plugins/wasm-go/README.md
  plugins/wasm-go/README_EN.md
Owners: @johnlanni

Add e2e testing description for wasm-plugin-go (#389)
  plugins/wasm-go/README.md
  plugins/wasm-go/README_EN.md
Owners: @johnlanni

feat: Support building and pushing Higress docker images via GitHub actions (#388)
  .github/workflows/build-image-and-push.yaml
  .github/workflows/deploy-to-oss.yaml
  istio/1.12/patches/istio/20221027-init.patch
Owners: @SpecialYang, @johnlanni

feat: Support building and pushing Higress docker images via GitHub actions (#388)
  .github/workflows/build-image-and-push.yaml
  .github/workflows/deploy-to-oss.yaml
  istio/1.12/patches/istio/20221027-init.patch
Owners: @SpecialYang, @johnlanni

feat: Support building and pushing Higress docker images via GitHub actions (#388)
  .github/workflows/build-image-and-push.yaml
  .github/workflows/deploy-to-oss.yaml
  istio/1.12/patches/istio/20221027-init.patch
Owners: @SpecialYang, @johnlanni

fix: Add docker image URLs to output
  .github/workflows/build-image-and-push.yaml
Owners: none

fix: Add docker image URLs to output (#391)
  .github/workflows/build-image-and-push.yaml
Owners: none

fix: Add docker image URLs to output (#391)
  .github/workflows/build-image-and-push.yaml
Owners: none

fix: Add docker image URLs to output (#391)
  .github/workflows/build-image-and-push.yaml
Owners: none

fix cron unlock
  registry/nacos/address/address_discovery.go
Owners: @NameHaibinZhang, @johnlanni

fix cond unlock (#394)
  registry/nacos/address/address_discovery.go
Owners: @NameHaibinZhang, @johnlanni

fix cond unlock (#394)
  registry/nacos/address/address_discovery.go
Owners: @NameHaibinZhang, @johnlanni

fix cond unlock (#394)
  registry/nacos/address/address_discovery.go
Owners: @NameHaibinZhang, @johnlanni

fix: split `REGISTRY` into `BUILDER_REGISTRY` and `REGISTRY`
  plugins/wasm-go/Makefile
  plugins/wasm-go/README_EN.md
Owners: @johnlanni

fix: split `REGISTRY` into `BUILDER_REGISTRY` and `REGISTRY` (#395)
  plugins/wasm-go/Makefile
  plugins/wasm-go/README_EN.md
Owners: @johnlanni

fix: split `REGISTRY` into `BUILDER_REGISTRY` and `REGISTRY` (#395)
  plugins/wasm-go/Makefile
  plugins/wasm-go/README_EN.md
Owners: @johnlanni

fix: split `REGISTRY` into `BUILDER_REGISTRY` and `REGISTRY` (#395)
  plugins/wasm-go/Makefile
  plugins/wasm-go/README_EN.md
Owners: @johnlanni

feat: extract boilerplate code of `on_configure` to function (DRY)
  plugins/wasm-rust/extensions/say-hello/src/lib.rs
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni

fix debug configz
  istio/1.12/patches/istio/20230627-debug-fix-configz.patch
Owners: @SpecialYang, @johnlanni

fix debug configz (#398)
  istio/1.12/patches/istio/20230627-debug-fix-configz.patch
Owners: @SpecialYang, @johnlanni

fix debug configz (#398)
  istio/1.12/patches/istio/20230627-debug-fix-configz.patch
Owners: @SpecialYang, @johnlanni

fix debug configz (#398)
  istio/1.12/patches/istio/20230627-debug-fix-configz.patch
Owners: @SpecialYang, @johnlanni

support higress-cn helm index
  .github/workflows/deploy-to-oss.yaml
Owners: none

feat: extract boilerplate code of `on_configure` to function (DRY) (#396)
  plugins/wasm-rust/extensions/say-hello/src/lib.rs
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni

feat: extract boilerplate code of `on_configure` to function (DRY) (#396)
  plugins/wasm-rust/extensions/say-hello/src/lib.rs
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni

feat: extract boilerplate code of `on_configure` to function (DRY) (#396)
  plugins/wasm-rust/extensions/say-hello/src/lib.rs
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni

support higress-cn helm index (#399)
  .github/workflows/deploy-to-oss.yaml
Owners: none

support higress-cn helm index (#399)
  .github/workflows/deploy-to-oss.yaml
Owners: none

support higress-cn helm index (#399)
  .github/workflows/deploy-to-oss.yaml
Owners: none

update README
  plugins/wasm-go/extensions/waf/Dockerfile
  plugins/wasm-go/extensions/waf/README.md
  plugins/wasm-go/extensions/waf/build/test.md
  plugins/wasm-go/extensions/waf/flask/Dockerfile
  plugins/wasm-go/extensions/waf/flask/app.py
  plugins/wasm-go/extensions/waf/local/Dockerfile
  plugins/wasm-go/extensions/waf/local/app.py
  plugins/wasm-go/extensions/waf/local/docker-compose.yaml
  plugins/wasm-go/extensions/waf/local/envoy-config.yaml
  plugins/wasm-go/extensions/waf/magefiles/magefile.go
  plugins/wasm-go/extensions/waf/wasmplugin/plugin.go
  plugins/wasm-go/extensions/waf/wasmplugin/rules/crs-setup-demo.conf
Owners: @johnlanni

feat: support rewrite config after `parse_rule_config` invoked
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni

update build-wasm-plugins.sh
  tools/hack/build-wasm-plugins.sh
Owners: @johnlanni, @Xunzhuo

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo
