Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

feat: add request block regular matching and modify block_ Urls are e… (#517)
  plugins/wasm-go/extensions/request-block/README.md
  plugins/wasm-go/extensions/request-block/VERSION
  plugins/wasm-go/extensions/request-block/main.go
  test/e2e/conformance/tests/go-wasm-request-block.go
  test/e2e/conformance/tests/go-wasm-request-block.yaml
Owners: @johnlanni, @Xunzhuo

feat: add request block regular matching and modify block_ Urls are e… (#517)
  plugins/wasm-go/extensions/request-block/README.md
  plugins/wasm-go/extensions/request-block/VERSION
  plugins/wasm-go/extensions/request-block/main.go
  test/e2e/conformance/tests/go-wasm-request-block.go
  test/e2e/conformance/tests/go-wasm-request-block.yaml
Owners: @johnlanni, @Xunzhuo

update source for images used by ci (#557)
  Makefile.core.mk
  tools/hack/build-wasm-plugins.sh
Owners: @johnlanni, @Xunzhuo

update source for images used by ci (#557)
  Makefile.core.mk
  tools/hack/build-wasm-plugins.sh
Owners: @johnlanni, @Xunzhuo

update source for images used by ci (#557)
  Makefile.core.mk
  tools/hack/build-wasm-plugins.sh
Owners: @johnlanni, @Xunzhuo

support custom group in httproute
  istio/1.12/patches/istio/20230925-gateway-httproute.patch
  samples/gateway-api/demo.yaml
Owners: @SpecialYang, @johnlanni

hide auto-generated completion command when run hgctl --help
  pkg/cmd/hgctl/root.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: Fix incorrect logging functions used in eureka registry integration
  registry/eureka/client/plan.go
  registry/eureka/watcher.go
Owners: @NameHaibinZhang, @johnlanni

Fix unit tests
  pkg/ingress/config/kingress_config_test.go
  pkg/ingress/kube/annotations/canary_test.go
  pkg/ingress/kube/annotations/cors_test.go
  pkg/ingress/kube/annotations/destination_test.go
  pkg/ingress/kube/annotations/ignore_case_test.go
  pkg/ingress/kube/annotations/loadbalance_test.go
  pkg/ingress/kube/annotations/match_test.go
  pkg/ingress/kube/annotations/retry_test.go
  pkg/ingress/kube/annotations/rewrite_test.go
  pkg/ingress/kube/annotations/upstreamtls_test.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingress/controller_test.go
  pkg/ingress/kube/ingressv1/controller.go
  pkg/ingress/kube/ingressv1/controller_test.go
  pkg/ingress/kube/util/transformer.go
  pkg/ingress/mcp/generator_test.go
  registry/eureka/client/plan.go
  registry/eureka/watcher.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

feat: add hgctl dashboard controller subcommand to open higress controller debug web ui
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: Fix incorrect logging functions used in eureka registry integration (#563)
  registry/eureka/client/plan.go
  registry/eureka/watcher.go
Owners: @NameHaibinZhang, @johnlanni

fix: Fix incorrect logging functions used in eureka registry integration (#563)
  registry/eureka/client/plan.go
  registry/eureka/watcher.go
Owners: @NameHaibinZhang, @johnlanni

fix: Fix incorrect logging functions used in eureka registry integration (#563)
  registry/eureka/client/plan.go
  registry/eureka/watcher.go
Owners: @NameHaibinZhang, @johnlanni

fix: docker compose sdk version degraded
  go.mod
  go.sum
  pkg/cmd/hgctl/docker/compose.go
  pkg/cmd/hgctl/plugin/test/ls.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: Add the license header
  pkg/cmd/hgctl/plugin/utils/survey.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add hgctl dashboard controller subcommand to open higress controller debug web ui (#564)
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add hgctl dashboard controller subcommand to open higress controller debug web ui (#564)
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add hgctl dashboard controller subcommand to open higress controller debug web ui (#564)
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

update higress helm chart version to latest in profiles for installation (#560)
  pkg/cmd/hgctl/manifests/profiles/_all.yaml
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

update higress helm chart version to latest in profiles for installation (#560)
  pkg/cmd/hgctl/manifests/profiles/_all.yaml
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

update higress helm chart version to latest in profiles for installation (#560)
  pkg/cmd/hgctl/manifests/profiles/_all.yaml
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix the delete service issue in nacos registry (#553)
  registry/memory/cache.go
  registry/nacos/v2/watcher.go
Owners: @NameHaibinZhang, @johnlanni

fix the delete service issue in nacos registry (#553)
  registry/memory/cache.go
  registry/nacos/v2/watcher.go
Owners: @NameHaibinZhang, @johnlanni

fix the delete service issue in nacos registry (#553)
  registry/memory/cache.go
  registry/nacos/v2/watcher.go
Owners: @NameHaibinZhang, @johnlanni

fix namespace missing in helm chart (#531)
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/controller-service.yaml
Owners: none

fix namespace missing in helm chart (#531)
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/controller-service.yaml
Owners: none

fix namespace missing in helm chart (#531)
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/controller-service.yaml
Owners: none

support custom group in httproute (#561)
  istio/1.12/patches/istio/20230925-gateway-httproute.patch
  samples/gateway-api/demo.yaml
Owners: @SpecialYang, @johnlanni

support custom group in httproute (#561)
  istio/1.12/patches/istio/20230925-gateway-httproute.patch
  samples/gateway-api/demo.yaml
Owners: @SpecialYang, @johnlanni

support custom group in httproute (#561)
  istio/1.12/patches/istio/20230925-gateway-httproute.patch
  samples/gateway-api/demo.yaml
Owners: @SpecialYang, @johnlanni

fix: fix something and add plugin example
  plugins/wasm-go/extensions/transformer/main.go
  plugins/wasm-go/extensions/transformer/utils.go
Owners: @johnlanni

feat:add oidc wasm plugin
  plugins/wasm-go/extensions/oidc/README.md
  plugins/wasm-go/extensions/oidc/VERSION
  plugins/wasm-go/extensions/oidc/go.mod
  plugins/wasm-go/extensions/oidc/go.sum
  plugins/wasm-go/extensions/oidc/main.go
  plugins/wasm-go/extensions/oidc/oc/Config.go
  plugins/wasm-go/extensions/oidc/oc/Process.go
  plugins/wasm-go/extensions/oidc/oc/Provider.go
  plugins/wasm-go/extensions/oidc/oc/cookie.go
  plugins/wasm-go/extensions/oidc/oc/encryption.go
  plugins/wasm-go/extensions/oidc/oc/exchange.go
  plugins/wasm-go/extensions/oidc/oc/jwks.go
  plugins/wasm-go/extensions/oidc/oc/ocUtil.go
  plugins/wasm-go/extensions/oidc/oc/verifer.go
  test/e2e/conformance/tests/go-wasm-oidc.go
  test/e2e/conformance/tests/go-wasm-oidc.yaml
Owners: @johnlanni, @Xunzhuo

fix yaml
  test/e2e/conformance/tests/go-wasm-oidc.yaml
Owners: @Xunzhuo

fix readme
  plugins/wasm-go/extensions/oidc/README.md
Owners: @johnlanni

refactor: Refactoring the json handler with sjson instead of reflect
  plugins/wasm-go/extensions/transformer/README.md
  plugins/wasm-go/extensions/transformer/go.mod
  plugins/wasm-go/extensions/transformer/go.sum
  plugins/wasm-go/extensions/transformer/main.go
  plugins/wasm-go/extensions/transformer/utils.go
  plugins/wasm-go/extensions/transformer/utils_test.go
  test/e2e/conformance/tests/go-wasm-transformer.yaml
Owners: @johnlanni, @Xunzhuo

refactor: do some refectors for schema and meta
  pkg/cmd/hgctl/kubernetes/dynamic-cli.go
  pkg/cmd/hgctl/kubernetes/wasmplugin.go
  pkg/cmd/hgctl/plugin/build/build.go
  pkg/cmd/hgctl/plugin/build/templates.go
  pkg/cmd/hgctl/plugin/config/create.go
  pkg/cmd/hgctl/plugin/config/edit.go
  pkg/cmd/hgctl/plugin/config/templates.go
  pkg/cmd/hgctl/plugin/init/init.go
  pkg/cmd/hgctl/plugin/init/templates.go
  pkg/cmd/hgctl/plugin/install/asker.go
  pkg/cmd/hgctl/plugin/install/install.go
  pkg/cmd/hgctl/plugin/ls/ls.go
  pkg/cmd/hgctl/plugin/option/option.go
  pkg/cmd/hgctl/plugin/option/template.go
  pkg/cmd/hgctl/plugin/plugin.go
  pkg/cmd/hgctl/plugin/test/clean.go
  pkg/cmd/hgctl/plugin/test/create.go
  pkg/cmd/hgctl/plugin/test/templates.go
  pkg/cmd/hgctl/plugin/types/annotation.go
  pkg/cmd/hgctl/plugin/types/meta.go
  pkg/cmd/hgctl/plugin/types/model_parser.go
  pkg/cmd/hgctl/plugin/types/model_parser_test.go
  pkg/cmd/hgctl/plugin/types/schema.go
  pkg/cmd/hgctl/plugin/types/testdata/doc_tag/main.go
  pkg/cmd/hgctl/plugin/types/testdata/types/ext/ext.go
  pkg/cmd/hgctl/plugin/types/testdata/types/ext/nested/nested.go
  pkg/cmd/hgctl/plugin/types/testdata/types/main.go
  pkg/cmd/hgctl/plugin/types/usage.go
  pkg/cmd/hgctl/plugin/uninstall/uninstall.go
  pkg/cmd/hgctl/plugin/utils/survey_wrapper.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: Add request and response transformer wasm plugin (#549)
  plugins/wasm-go/Dockerfile
  plugins/wasm-go/extensions/transformer/README.md
  plugins/wasm-go/extensions/transformer/VERSION
  plugins/wasm-go/extensions/transformer/go.mod
  plugins/wasm-go/extensions/transformer/go.sum
  plugins/wasm-go/extensions/transformer/main.go
  plugins/wasm-go/extensions/transformer/utils.go
  plugins/wasm-go/extensions/transformer/utils_test.go
  test/e2e/conformance/tests/go-wasm-transformer.go
  test/e2e/conformance/tests/go-wasm-transformer.yaml
  test/e2e/conformance/utils/http/http.go
  test/e2e/conformance/utils/roundtripper/roundtripper.go
Owners: @johnlanni, @Xunzhuo

feat: Add request and response transformer wasm plugin (#549)
  plugins/wasm-go/Dockerfile
  plugins/wasm-go/extensions/transformer/README.md
  plugins/wasm-go/extensions/transformer/VERSION
  plugins/wasm-go/extensions/transformer/go.mod
  plugins/wasm-go/extensions/transformer/go.sum
  plugins/wasm-go/extensions/transformer/main.go
  plugins/wasm-go/extensions/transformer/utils.go
  plugins/wasm-go/extensions/transformer/utils_test.go
  test/e2e/conformance/tests/go-wasm-transformer.go
  test/e2e/conformance/tests/go-wasm-transformer.yaml
  test/e2e/conformance/utils/http/http.go
  test/e2e/conformance/utils/roundtripper/roundtripper.go
Owners: @johnlanni, @Xunzhuo

feat: Add request and response transformer wasm plugin (#549)
  plugins/wasm-go/Dockerfile
  plugins/wasm-go/extensions/transformer/README.md
  plugins/wasm-go/extensions/transformer/VERSION
  plugins/wasm-go/extensions/transformer/go.mod
  plugins/wasm-go/extensions/transformer/go.sum
  plugins/wasm-go/extensions/transformer/main.go
  plugins/wasm-go/extensions/transformer/utils.go
  plugins/wasm-go/extensions/transformer/utils_test.go
  test/e2e/conformance/tests/go-wasm-transformer.go
  test/e2e/conformance/tests/go-wasm-transformer.yaml
  test/e2e/conformance/utils/http/http.go
  test/e2e/conformance/utils/roundtripper/roundtripper.go
Owners: @johnlanni, @Xunzhuo

add origin cluster name in header when fallback
  envoy/1.20/patches/envoy/20231008-fallback-origin-cluster.patch
Owners: @gengleilei, @johnlanni, @Lynskylate

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo
