Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @NameHaibinZhang, @Xunzhuo

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo

docs: translate the document of jwt-auth plugin readme to English. (#213)
  plugins/wasm-cpp/extensions/jwt_auth/README_EN.md
  plugins/wasm-cpp/extensions/jwt_auth/process.png
Owners: @johnlanni

feat(test): set global info for suite tests
  test/ingress/conformance/tests/httproute-canary-header.go
  test/ingress/conformance/tests/httproute-enable-cors.go
  test/ingress/conformance/tests/httproute-hostname-same-namespace.go
  test/ingress/conformance/tests/httproute-ignore-case-match.go
  test/ingress/conformance/tests/httproute-match-headers.go
  test/ingress/conformance/tests/httproute-match-methods.go
  test/ingress/conformance/tests/httproute-match-query-params.go
  test/ingress/conformance/tests/httproute-rewrite-host.go
  test/ingress/conformance/tests/httproute-rewrite-path.go
  test/ingress/conformance/tests/httproute-simple-same-namespace.go
  test/ingress/conformance/utils/suite/suite.go
Owners: @Xunzhuo

feat(test): set global info for suite tests (#219)
  test/ingress/conformance/tests/httproute-canary-header.go
  test/ingress/conformance/tests/httproute-enable-cors.go
  test/ingress/conformance/tests/httproute-hostname-same-namespace.go
  test/ingress/conformance/tests/httproute-ignore-case-match.go
  test/ingress/conformance/tests/httproute-match-headers.go
  test/ingress/conformance/tests/httproute-match-methods.go
  test/ingress/conformance/tests/httproute-match-query-params.go
  test/ingress/conformance/tests/httproute-rewrite-host.go
  test/ingress/conformance/tests/httproute-rewrite-path.go
  test/ingress/conformance/tests/httproute-simple-same-namespace.go
  test/ingress/conformance/utils/suite/suite.go
Owners: @Xunzhuo

feat(test): set global info for suite tests (#219)
  test/ingress/conformance/tests/httproute-canary-header.go
  test/ingress/conformance/tests/httproute-enable-cors.go
  test/ingress/conformance/tests/httproute-hostname-same-namespace.go
  test/ingress/conformance/tests/httproute-ignore-case-match.go
  test/ingress/conformance/tests/httproute-match-headers.go
  test/ingress/conformance/tests/httproute-match-methods.go
  test/ingress/conformance/tests/httproute-match-query-params.go
  test/ingress/conformance/tests/httproute-rewrite-host.go
  test/ingress/conformance/tests/httproute-rewrite-path.go
  test/ingress/conformance/tests/httproute-simple-same-namespace.go
  test/ingress/conformance/utils/suite/suite.go
Owners: @Xunzhuo

e2e: add testcases for whitelist-source-range annotations
  test/ingress/conformance/tests/httproute-whitelist-source-range.go
  test/ingress/conformance/tests/httproute-whitelist-source-range.yaml
  test/ingress/e2e_test.go
Owners: @Xunzhuo

doc: add basic_auth plugin english readme. close #74
  plugins/wasm-cpp/extensions/basic_auth/README.md
  plugins/wasm-cpp/extensions/basic_auth/README_EN.md
Owners: @johnlanni

make a minor change to trigger CI again
  test/ingress/conformance/tests/httproute-whitelist-source-range.yaml
Owners: @Xunzhuo

doc: fix same grammer misktakes and noun and verb
  plugins/wasm-cpp/extensions/basic_auth/README_EN.md
Owners: @johnlanni

doc: fix md grammer misktakes
  plugins/wasm-cpp/extensions/basic_auth/README_EN.md
Owners: @johnlanni

feat: tinygo version default 0.27.0
  plugins/wasm-go/Dockerfile
  plugins/wasm-go/DockerfileBuilder
  plugins/wasm-go/Makefile
Owners: @johnlanni

feat: tinygo version default 0.27.0 (#222)
  plugins/wasm-go/Dockerfile
  plugins/wasm-go/DockerfileBuilder
  plugins/wasm-go/Makefile
Owners: @johnlanni

feat: tinygo version default 0.27.0 (#222)
  plugins/wasm-go/Dockerfile
  plugins/wasm-go/DockerfileBuilder
  plugins/wasm-go/Makefile
Owners: @johnlanni

fix sort
  pkg/ingress/kube/common/tool.go
  pkg/ingress/kube/common/tool_test.go
Owners: @SpecialYang, @johnlanni

feat: add more precedence rules for route matching
  pkg/ingress/kube/common/tool.go
  pkg/ingress/kube/common/tool_test.go
Owners: @SpecialYang, @johnlanni

add e2e test for canary with route precedence
  pkg/ingress/kube/common/tool.go
  pkg/ingress/kube/common/tool_test.go
  test/ingress/conformance/tests/httproute-canary-header-with-route-precedence.go
  test/ingress/conformance/tests/httproute-canary-header-with-route-precedence.yaml
  test/ingress/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Xunzhuo

support match diff headers with same host and path in across ingreeses case
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/annotations/match.go
  pkg/ingress/kube/annotations/match_test.go
  pkg/ingress/kube/common/controller.go
  pkg/ingress/kube/common/model.go
  pkg/ingress/kube/common/tool.go
  pkg/ingress/kube/ingressv1/controller.go
  test/ingress/conformance/tests/httproute-same-host-and-path.go
  test/ingress/conformance/tests/httproute-same-host-and-path.yaml
  test/ingress/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Xunzhuo

add e2e test for same host and path
  test/ingress/conformance/tests/httproute-same-host-and-path.go
  test/ingress/conformance/tests/httproute-same-host-and-path.yaml
  test/ingress/e2e_test.go
Owners: @Xunzhuo

fix
  pkg/ingress/kube/common/tool.go
Owners: @SpecialYang, @johnlanni

fix typo
  pkg/ingress/kube/ingressv1/controller.go
Owners: @SpecialYang, @johnlanni

fix
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/common/model.go
  pkg/ingress/kube/common/tool.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
Owners: @SpecialYang, @johnlanni

fix pkg/ingress/kube/ingress/controller_test.go failed
  pkg/ingress/kube/ingress/controller_test.go
Owners: @SpecialYang, @johnlanni

add a line at the end of httproute-whitelist-source-range.yaml
  test/ingress/conformance/tests/httproute-whitelist-source-range.yaml
Owners: @Xunzhuo

make a minor change to trigger CI again
  test/ingress/conformance/tests/httproute-whitelist-source-range.yaml
Owners: @Xunzhuo

cleanup: Remove redundant building configurations. 1. Remove istio related building process. 2. Replace kind/higress chart with higress chart and corresponding --set arguments.
  Makefile.core.mk
Owners: none

fix canary ingress when diffrient customized headers
  pkg/ingress/kube/common/controller.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  test/ingress/conformance/tests/httproute-canary-header-with-customized-header.go
  test/ingress/conformance/tests/httproute-canary-header-with-customized-header.yaml
  test/ingress/conformance/tests/httproute-canary-header-with-route-precedence.go
  test/ingress/conformance/tests/httproute-canary-header-with-route-precedence.yaml
  test/ingress/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Xunzhuo

add a blank line for yaml
  test/ingress/conformance/tests/httproute-canary-header-with-customized-header.yaml
Owners: @Xunzhuo

fix
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
Owners: @SpecialYang, @johnlanni

e2e: add testcases for whitelist-source-range annotations (#220)
  test/ingress/conformance/tests/httproute-whitelist-source-range.go
  test/ingress/conformance/tests/httproute-whitelist-source-range.yaml
  test/ingress/e2e_test.go
Owners: @Xunzhuo

e2e: add testcases for whitelist-source-range annotations (#220)
  test/ingress/conformance/tests/httproute-whitelist-source-range.go
  test/ingress/conformance/tests/httproute-whitelist-source-range.yaml
  test/ingress/e2e_test.go
Owners: @Xunzhuo

cleanup: Remove redundant building configurations (#224)
  Makefile.core.mk
Owners: none

cleanup: Remove redundant building configurations (#224)
  Makefile.core.mk
Owners: none

feat：支持envoy metrics 推送给skywalking
  helm/higress/templates/configmap.yaml
  helm/higress/templates/deployment.yaml
  helm/higress/values.yaml
Owners: none

feat：skywalking开关调整
  helm/higress/templates/configmap.yaml
  helm/higress/templates/deployment.yaml
  helm/higress/values.yaml
Owners: none

feat：默认关闭
  helm/higress/values.yaml
Owners: none

feat：custom_bootstrapjson 展开和Skywalking 默认为null
  helm/higress/templates/configmap.yaml
  helm/higress/values.yaml
Owners: none

feat: add more precedence rules for route matching (#214)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/annotations/match.go
  pkg/ingress/kube/annotations/match_test.go
  pkg/ingress/kube/common/controller.go
  pkg/ingress/kube/common/model.go
  pkg/ingress/kube/common/tool.go
  pkg/ingress/kube/common/tool_test.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingress/controller_test.go
  pkg/ingress/kube/ingressv1/controller.go
  test/ingress/conformance/tests/httproute-canary-header-with-customized-header.go
  test/ingress/conformance/tests/httproute-canary-header-with-customized-header.yaml
  test/ingress/conformance/tests/httproute-same-host-and-path.go
  test/ingress/conformance/tests/httproute-same-host-and-path.yaml
  test/ingress/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Xunzhuo

feat: add more precedence rules for route matching (#214)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/annotations/match.go
  pkg/ingress/kube/annotations/match_test.go
  pkg/ingress/kube/common/controller.go
  pkg/ingress/kube/common/model.go
  pkg/ingress/kube/common/tool.go
  pkg/ingress/kube/common/tool_test.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingress/controller_test.go
  pkg/ingress/kube/ingressv1/controller.go
  test/ingress/conformance/tests/httproute-canary-header-with-customized-header.go
  test/ingress/conformance/tests/httproute-canary-header-with-customized-header.yaml
  test/ingress/conformance/tests/httproute-same-host-and-path.go
  test/ingress/conformance/tests/httproute-same-host-and-path.yaml
  test/ingress/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Xunzhuo

feat：Support SkyWalking to collect metrics
  helm/higress/values.yaml
Owners: none

feat：Support SkyWalking to collect metrics
  helm/higress/templates/configmap.yaml
  helm/higress/templates/deployment.yaml
Owners: none

feat：Support SkyWalking to collect metrics
  helm/core/templates/configmap.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
Owners: none
