Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @CH3CHO, @gengleilei, @SpecialYang, @rinfx, @cr7258, @007gzs, @jizhuozhi, @NameHaibinZhang, @2456868764, @Xunzhuo

fix: Make opa listen to all IPs (#1621)
  Makefile.core.mk
  test/e2e/conformance/base/opa.yaml
Owners: @Xunzhuo, @2456868764, @CH3CHO

fix: Make opa listen to all IPs (#1621)
  Makefile.core.mk
  test/e2e/conformance/base/opa.yaml
Owners: @Xunzhuo, @2456868764, @CH3CHO

fix: Make opa listen to all IPs (#1621)
  Makefile.core.mk
  test/e2e/conformance/base/opa.yaml
Owners: @Xunzhuo, @2456868764, @CH3CHO

feat: retry failed request (#1590)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/main.go
  plugins/wasm-go/extensions/ai-proxy/provider/claude.go
  plugins/wasm-go/extensions/ai-proxy/provider/context.go
  plugins/wasm-go/extensions/ai-proxy/provider/deepl.go
  plugins/wasm-go/extensions/ai-proxy/provider/failover.go
  plugins/wasm-go/extensions/ai-proxy/provider/gemini.go
  plugins/wasm-go/extensions/ai-proxy/provider/hunyuan.go
  plugins/wasm-go/extensions/ai-proxy/provider/minimax.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
  plugins/wasm-go/extensions/ai-proxy/provider/qwen.go
  plugins/wasm-go/extensions/ai-proxy/provider/request_helper.go
  plugins/wasm-go/extensions/ai-proxy/provider/retry.go
  plugins/wasm-go/extensions/ai-proxy/provider/spark.go
  plugins/wasm-go/extensions/ai-proxy/util/http.go
Owners: @cr7258, @CH3CHO, @rinfx

feat: retry failed request (#1590)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/main.go
  plugins/wasm-go/extensions/ai-proxy/provider/claude.go
  plugins/wasm-go/extensions/ai-proxy/provider/context.go
  plugins/wasm-go/extensions/ai-proxy/provider/deepl.go
  plugins/wasm-go/extensions/ai-proxy/provider/failover.go
  plugins/wasm-go/extensions/ai-proxy/provider/gemini.go
  plugins/wasm-go/extensions/ai-proxy/provider/hunyuan.go
  plugins/wasm-go/extensions/ai-proxy/provider/minimax.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
  plugins/wasm-go/extensions/ai-proxy/provider/qwen.go
  plugins/wasm-go/extensions/ai-proxy/provider/request_helper.go
  plugins/wasm-go/extensions/ai-proxy/provider/retry.go
  plugins/wasm-go/extensions/ai-proxy/provider/spark.go
  plugins/wasm-go/extensions/ai-proxy/util/http.go
Owners: @cr7258, @CH3CHO, @rinfx

feat: retry failed request (#1590)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/main.go
  plugins/wasm-go/extensions/ai-proxy/provider/claude.go
  plugins/wasm-go/extensions/ai-proxy/provider/context.go
  plugins/wasm-go/extensions/ai-proxy/provider/deepl.go
  plugins/wasm-go/extensions/ai-proxy/provider/failover.go
  plugins/wasm-go/extensions/ai-proxy/provider/gemini.go
  plugins/wasm-go/extensions/ai-proxy/provider/hunyuan.go
  plugins/wasm-go/extensions/ai-proxy/provider/minimax.go
  plugins/wasm-go/extensions/ai-proxy/provider/provider.go
  plugins/wasm-go/extensions/ai-proxy/provider/qwen.go
  plugins/wasm-go/extensions/ai-proxy/provider/request_helper.go
  plugins/wasm-go/extensions/ai-proxy/provider/retry.go
  plugins/wasm-go/extensions/ai-proxy/provider/spark.go
  plugins/wasm-go/extensions/ai-proxy/util/http.go
Owners: @cr7258, @CH3CHO, @rinfx

optimize ai cache
  plugins/wasm-go/extensions/ai-cache/main.go
  plugins/wasm-go/extensions/ai-cache/util.go
Owners: @johnlanni, @CH3CHO, @rinfx

CODEOWNERS:

/api @johnlanni @CH3CHO
/envoy @gengleilei @johnlanni
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @CH3CHO
/plugins @johnlanni @CH3CHO @rinfx
/plugins/wasm-go/extensions/ai-proxy @cr7258 @CH3CHO @rinfx
/plugins/wasm-rust @007gzs @jizhuozhi
/registry @NameHaibinZhang @2456868764 @johnlanni
/test @Xunzhuo @2456868764 @CH3CHO
/tools @johnlanni @Xunzhuo @2456868764
