Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @CH3CHO, @gengleilei, @SpecialYang, @rinfx, @erasernoob, @wydream, @007gzs, @jizhuozhi, @Erica177, @2456868764, @Xunzhuo

CODEOWNERS:

/api @johnlanni @CH3CHO
/envoy @gengleilei @johnlanni
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @CH3CHO
/plugins @johnlanni @CH3CHO @rinfx @erasernoob
/plugins/wasm-go/extensions/ai-proxy @rinfx @wydream @johnlanni
/plugins/wasm-rust @007gzs @jizhuozhi
/registry @Erica177 @2456868764 @johnlanni
/test @Xunzhuo @2456868764 @CH3CHO
/tools @johnlanni @Xunzhuo @2456868764

build: fix the hgctl mod dep
  hgctl/go.mod
Owners: none

feat: implement the basic cmd structure of mcp
  hgctl/pkg/agent/mcp.go
  hgctl/pkg/root.go
Owners: none

fix ToolSecurity field
  registry/mcp_model.go
Owners: @Erica177, @2456868764, @johnlanni

feat: add kode client
  hgctl/pkg/agent/kode.go
  hgctl/pkg/agent/mcp.go
Owners: none

doc: Update the description of azureServiceUrl in ai-proxy README files
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/README_EN.md
Owners: @rinfx, @wydream, @johnlanni

remove rebuild logic in ai-proxy&ai-statistics
  plugins/wasm-go/extensions/ai-proxy/main.go
  plugins/wasm-go/extensions/ai-statistics/main.go
Owners: @rinfx, @wydream, @johnlanni, @CH3CHO, @erasernoob

remove rebuild logic in ai-proxy&ai-statistics
  plugins/wasm-go/extensions/ai-proxy/main.go
  plugins/wasm-go/extensions/ai-statistics/main.go
Owners: @rinfx, @wydream, @johnlanni, @CH3CHO, @erasernoob

remove rebuild logic in ai-proxy&ai-statistics
  plugins/wasm-go/extensions/ai-proxy/main.go
  plugins/wasm-go/extensions/ai-statistics/main.go
Owners: @rinfx, @wydream, @johnlanni, @CH3CHO, @erasernoob

fix: fix stdin stdout stderr stream typo
  hgctl/pkg/agent/kode.go
  hgctl/pkg/agent/mcp.go
Owners: none

add vector mapping
  plugins/golang-filter/go.mod
  plugins/golang-filter/go.sum
  plugins/golang-filter/mcp-server/servers/rag/README.md
  plugins/golang-filter/mcp-server/servers/rag/config/config.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/dashscope.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/openai.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/provider.go
  plugins/golang-filter/mcp-server/servers/rag/llm/openai.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client_test.go
  plugins/golang-filter/mcp-server/servers/rag/server.go
  plugins/golang-filter/mcp-server/servers/rag/server_test.go
  plugins/golang-filter/mcp-server/servers/rag/vectordb/mapper.go
  plugins/golang-filter/mcp-server/servers/rag/vectordb/milvus.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

feat: Add traffic-editor Wasm plugin
  plugins/wasm-go/extensions/traffic-editor/README.md
  plugins/wasm-go/extensions/traffic-editor/README_EN.md
  plugins/wasm-go/extensions/traffic-editor/VERSION
  plugins/wasm-go/extensions/traffic-editor/config.go
  plugins/wasm-go/extensions/traffic-editor/docker-compose.yaml
  plugins/wasm-go/extensions/traffic-editor/go.mod
  plugins/wasm-go/extensions/traffic-editor/http.go
  plugins/wasm-go/extensions/traffic-editor/main.go
  plugins/wasm-go/extensions/traffic-editor/main_test.go
  plugins/wasm-go/extensions/traffic-editor/pkg/command.go
  plugins/wasm-go/extensions/traffic-editor/pkg/command_test.go
  plugins/wasm-go/extensions/traffic-editor/pkg/condition.go
  plugins/wasm-go/extensions/traffic-editor/pkg/condition_test.go
  plugins/wasm-go/extensions/traffic-editor/pkg/context.go
  plugins/wasm-go/extensions/traffic-editor/pkg/context_test.go
  plugins/wasm-go/extensions/traffic-editor/pkg/mock_test.go
  plugins/wasm-go/extensions/traffic-editor/pkg/ref.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

Update go module files
  plugins/wasm-go/extensions/traffic-editor/go.mod
  plugins/wasm-go/extensions/traffic-editor/go.sum
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix: Eliminate compatibility risk of matching all domains for an MCP server
  pkg/ingress/kube/annotations/mcpserver.go
Owners: @SpecialYang, @johnlanni, @CH3CHO

feat: add ai_route and ai_provider mcp tool
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/ai_provider.go
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/ai_route.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix: fix some schema error
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/service.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix: fix some schema error
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/mcp_server.go
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/service.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix: fix some prompt error
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/mcp_server.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix: Supplement the schema to help LLM understand better
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/ai_route.go
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/mcp_server.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

feat: add one required params protocol
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/service.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix: fix some prompt error
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/ai_route.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

feat: add istiod/envoy debug api
  plugins/golang-filter/mcp-server/servers/higress/higress-ops/.keep
  plugins/golang-filter/mcp-server/servers/higress/higress-ops/client.go
  plugins/golang-filter/mcp-server/servers/higress/higress-ops/server.go
  plugins/golang-filter/mcp-server/servers/higress/higress-ops/tools/client.go
  plugins/golang-filter/mcp-server/servers/higress/higress-ops/tools/envoy.go
  plugins/golang-filter/mcp-server/servers/higress/higress-ops/tools/istiod.go
  plugins/golang-filter/mcp-server/servers/higress/higress-ops/tools/utils.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix: add schema for tool
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/route.go
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/service.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix: fix some prompt error
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/mcp_server.go
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/service.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

feat: add istiod/envoy debug api
  plugins/golang-filter/mcp-server/servers/higress/higress-ops/README.md
  plugins/golang-filter/mcp-server/servers/higress/higress-ops/README_en.md
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

feat: add mcp-server mcp tool
  plugins/golang-filter/mcp-server/servers/higress/client.go
  plugins/golang-filter/mcp-server/servers/higress/higress-api/README.md
  plugins/golang-filter/mcp-server/servers/higress/higress-api/README_en.md
  plugins/golang-filter/mcp-server/servers/higress/higress-api/server.go
  plugins/golang-filter/mcp-server/servers/higress/higress-api/tools/mcp_server.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

WIP
  plugins/golang-filter/mcp-server/config.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/server.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/migration.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/plugin_migration.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

Fix UT
  pkg/ingress/kube/annotations/mcpserver_test.go
Owners: @SpecialYang, @johnlanni, @CH3CHO

add: implement core migration logic and add LLM support.
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/server.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/llm_enhanced.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/migration.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/migration_test.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/openai_client.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/plugin_migration.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/plugin_migration_test.go
  plugins/golang-filter/mcp-server/servers/higress/nginx-migration/tools/test_cases.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

Update plugins/golang-filter/mcp-server/servers/rag/README.md
  plugins/golang-filter/mcp-server/servers/rag/README.md
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

add vectordb mapping (#2968)
  plugins/golang-filter/go.mod
  plugins/golang-filter/go.sum
  plugins/golang-filter/mcp-server/servers/rag/README.md
  plugins/golang-filter/mcp-server/servers/rag/config/config.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/dashscope.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/openai.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/provider.go
  plugins/golang-filter/mcp-server/servers/rag/llm/openai.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client_test.go
  plugins/golang-filter/mcp-server/servers/rag/server.go
  plugins/golang-filter/mcp-server/servers/rag/server_test.go
  plugins/golang-filter/mcp-server/servers/rag/vectordb/mapper.go
  plugins/golang-filter/mcp-server/servers/rag/vectordb/milvus.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

add vectordb mapping (#2968)
  plugins/golang-filter/go.mod
  plugins/golang-filter/go.sum
  plugins/golang-filter/mcp-server/servers/rag/README.md
  plugins/golang-filter/mcp-server/servers/rag/config/config.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/dashscope.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/openai.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/provider.go
  plugins/golang-filter/mcp-server/servers/rag/llm/openai.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client_test.go
  plugins/golang-filter/mcp-server/servers/rag/server.go
  plugins/golang-filter/mcp-server/servers/rag/server_test.go
  plugins/golang-filter/mcp-server/servers/rag/vectordb/mapper.go
  plugins/golang-filter/mcp-server/servers/rag/vectordb/milvus.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

add vectordb mapping (#2968)
  plugins/golang-filter/go.mod
  plugins/golang-filter/go.sum
  plugins/golang-filter/mcp-server/servers/rag/README.md
  plugins/golang-filter/mcp-server/servers/rag/config/config.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/dashscope.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/openai.go
  plugins/golang-filter/mcp-server/servers/rag/embedding/provider.go
  plugins/golang-filter/mcp-server/servers/rag/llm/openai.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client.go
  plugins/golang-filter/mcp-server/servers/rag/rag_client_test.go
  plugins/golang-filter/mcp-server/servers/rag/server.go
  plugins/golang-filter/mcp-server/servers/rag/server_test.go
  plugins/golang-filter/mcp-server/servers/rag/vectordb/mapper.go
  plugins/golang-filter/mcp-server/servers/rag/vectordb/milvus.go
Owners: @johnlanni, @CH3CHO, @rinfx, @erasernoob

fix: Eliminate compatibility risk of matching all domains for an MCP server (#2973)
  pkg/ingress/kube/annotations/mcpserver.go
  pkg/ingress/kube/annotations/mcpserver_test.go
Owners: @SpecialYang, @johnlanni, @CH3CHO

fix: Eliminate compatibility risk of matching all domains for an MCP server (#2973)
  pkg/ingress/kube/annotations/mcpserver.go
  pkg/ingress/kube/annotations/mcpserver_test.go
Owners: @SpecialYang, @johnlanni, @CH3CHO

fix: Eliminate compatibility risk of matching all domains for an MCP server (#2973)
  pkg/ingress/kube/annotations/mcpserver.go
  pkg/ingress/kube/annotations/mcpserver_test.go
Owners: @SpecialYang, @johnlanni, @CH3CHO

doc: Update the description of azureServiceUrl in ai-proxy README files (#2965)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/README_EN.md
Owners: @rinfx, @wydream, @johnlanni

doc: Update the description of azureServiceUrl in ai-proxy README files (#2965)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/README_EN.md
Owners: @rinfx, @wydream, @johnlanni

doc: Update the description of azureServiceUrl in ai-proxy README files (#2965)
  plugins/wasm-go/extensions/ai-proxy/README.md
  plugins/wasm-go/extensions/ai-proxy/README_EN.md
Owners: @rinfx, @wydream, @johnlanni

fix ToolSecurity field (#2952)
  registry/mcp_model.go
Owners: @Erica177, @2456868764, @johnlanni

fix ToolSecurity field (#2952)
  registry/mcp_model.go
Owners: @Erica177, @2456868764, @johnlanni
