Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @NameHaibinZhang, @Xunzhuo

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo

doc: add basic_auth plugin english readme (#221)
  plugins/wasm-cpp/extensions/basic_auth/README.md
  plugins/wasm-cpp/extensions/basic_auth/README_EN.md
Owners: @johnlanni

doc: add basic_auth plugin english readme (#221)
  plugins/wasm-cpp/extensions/basic_auth/README.md
  plugins/wasm-cpp/extensions/basic_auth/README_EN.md
Owners: @johnlanni

feature: support external authorization by annotation (#207)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/config/ingress_config_test.go
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/authz.go
  pkg/ingress/kube/annotations/authz_test.go
  test/ingress/conformance/tests/httproute-ext-authz.go
  test/ingress/conformance/tests/httproute-ext-authz.yaml
  test/ingress/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

e2e: add e2e test for default backend
  test/ingress/conformance/tests/httproute-default-backend.go
  test/ingress/conformance/tests/httproute-default-backend.yaml
  test/ingress/e2e_test.go
Owners: @Xunzhuo

Update BUG_REPORT.md
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
Owners: none

Update BUG_REPORT.md
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
Owners: none

Update issue templates
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none

Update issue templates
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: none

Delete BUG_REPORT.md
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
Owners: none

Delete BUG_REPORT.md
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
Owners: none

Update issue templates
  .github/ISSUE_TEMPLATE/non--crash-security--bug.md
Owners: none

Update issue templates
  .github/ISSUE_TEMPLATE/non--crash-security--bug.md
Owners: none

Create SECURITY.md
  SECURITY.md
Owners: none

Create SECURITY.md
  SECURITY.md
Owners: none

refactor registry & add direct service discovery through staticIP or DNS
  pkg/ingress/config/ingress_config.go
  registry/direct/watcher.go
  registry/memory/cache.go
  registry/nacos/v2/watcher.go
  registry/nacos/watcher.go
  registry/reconcile/reconcile.go
  registry/watcher.go
  registry/zookeeper/watcher.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @NameHaibinZhang

adjust create&update order
  registry/reconcile/reconcile.go
Owners: @NameHaibinZhang, @johnlanni

refactor registry & add direct service discovery through staticIP or DNS (#261)
  pkg/ingress/config/ingress_config.go
  registry/direct/watcher.go
  registry/memory/cache.go
  registry/nacos/v2/watcher.go
  registry/nacos/watcher.go
  registry/reconcile/reconcile.go
  registry/watcher.go
  registry/zookeeper/watcher.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @NameHaibinZhang

refactor registry & add direct service discovery through staticIP or DNS (#261)
  pkg/ingress/config/ingress_config.go
  registry/direct/watcher.go
  registry/memory/cache.go
  registry/nacos/v2/watcher.go
  registry/nacos/watcher.go
  registry/reconcile/reconcile.go
  registry/watcher.go
  registry/zookeeper/watcher.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @NameHaibinZhang

fix bug of port parsing in destination annotation
  pkg/ingress/kube/annotations/destination.go
  pkg/ingress/kube/annotations/destination_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

fix bug of port parsing in destination annotation (#262)
  pkg/ingress/kube/annotations/destination.go
  pkg/ingress/kube/annotations/destination_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

fix bug of port parsing in destination annotation (#262)
  pkg/ingress/kube/annotations/destination.go
  pkg/ingress/kube/annotations/destination_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

refactor: change the way to build envoyfilter with using httppb rather than full use gogotype (#207)
  pkg/ingress/config/ingress_config.go
  pkg/ingress/config/ingress_config_test.go
  pkg/ingress/kube/annotations/authz.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

refactor: authorizationReq and authorizationResp config use json string instead of singal field (#207)
  pkg/ingress/kube/annotations/authz.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

use first-party-jwt when k8s version below 1.21
  helm/core/templates/_helpers.tpl
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/deployment.yaml
Owners: none

update version
  VERSION
  helm/core/Chart.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

disable istio ingress controller mode
  helm/core/templates/configmap.yaml
Owners: none

adjust mesh config
  Makefile.core.mk
  helm/core/templates/configmap.yaml
Owners: none

Jwt policy compat (#266)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/core/templates/_helpers.tpl
  helm/core/templates/configmap.yaml
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

Jwt policy compat (#266)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/core/templates/_helpers.tpl
  helm/core/templates/configmap.yaml
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

reactor code
  pkg/ingress/kube/ingressv1/controller.go
  test/ingress/conformance/base/config4.json
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

go format
  pkg/ingress/kube/ingressv1/controller_test.go
  test/ingress/conformance/tests/httproute-canary-header.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix prefix bug
  pkg/ingress/kube/ingressv1/controller.go
  test/ingress/conformance/tests/httproute-enable-ignore-case.go
  test/ingress/conformance/tests/httproute-enable-ignore-case.yaml
  test/ingress/conformance/tests/httproute-match-path.go
  test/ingress/conformance/tests/httproute-match-path.yaml
  test/ingress/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix typo
  pkg/ingress/kube/ingressv1/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

fix
  pkg/ingress/kube/annotations/canary.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

fix canary bug if both prefix and exact exist and the path is same
  pkg/ingress/kube/ingressv1/controller.go
  test/ingress/conformance/tests/httproute-canary-header.go
  test/ingress/conformance/tests/httproute-canary-header.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix canary bug
  pkg/ingress/kube/ingressv1/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

reactor code and add test for httproute-match-path
  pkg/ingress/kube/annotations/canary.go
  pkg/ingress/kube/ingressv1/controller.go
  pkg/ingress/kube/ingressv1/controller_test.go
  test/ingress/conformance/tests/httproute-match-path.go
  test/ingress/conformance/tests/httproute-match-path.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

sync ingressv1 to ingressV1beta
  pkg/ingress/kube/ingress/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li

delete debug info
  test/ingress/conformance/base/config4.json
Owners: @Xunzhuo

clean up
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li
