Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo

feat: Add port parameters into the usage of get-higress.sh
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

fix reading content in secret
  registry/reconcile/reconcile.go
Owners: @NameHaibinZhang, @johnlanni

add mcpbridge code by gen
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/mcp_bridge.pb.go
  api/networking/v1/mcp_bridge.proto
  registry/consul/watcher.go
  registry/nacos/v2/watcher.go
  registry/reconcile/reconcile.go
Owners: @johnlanni, @NameHaibinZhang

feat: add command 'hgctl plugin build'
  pkg/cmd/hgctl/plugin/build/annotation.go
  pkg/cmd/hgctl/plugin/build/build.go
  pkg/cmd/hgctl/plugin/build/meta.go
  pkg/cmd/hgctl/plugin/build/schema.go
  pkg/cmd/hgctl/plugin/build/templates.go
  pkg/cmd/hgctl/plugin/build/usage.go
  pkg/cmd/hgctl/plugin/plugin.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: fix something
  go.mod
  go.sum
  pkg/cmd/hgctl/plugin/build/annotation.go
  pkg/cmd/hgctl/plugin/build/build.go
  pkg/cmd/hgctl/plugin/build/meta.go
  pkg/cmd/hgctl/plugin/build/schema.go
  pkg/cmd/hgctl/plugin/build/templates.go
  pkg/cmd/hgctl/plugin/build/usage.go
  pkg/cmd/hgctl/plugin/plugin.go
  pkg/cmd/hgctl/root.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: Add port parameters into the usage of get-higress.sh (#452)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

feat: Add port parameters into the usage of get-higress.sh (#452)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

feat: Add port parameters into the usage of get-higress.sh (#452)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

add cosnul registry e2e test
  Makefile.core.mk
  test/e2e/conformance/base/manifests.yaml
  test/e2e/conformance/tests/httproute-consul-demo.go
  test/e2e/conformance/tests/httproute-consul-demo.yaml
  test/e2e/e2e_test.go
Owners: @Xunzhuo

update go.mod
  plugins/wasm-go/extensions/waf/go.mod
Owners: @johnlanni

fix: hgctl plugin build: modify some error handle and cmd example format
  pkg/cmd/hgctl/plugin/build/build.go
  pkg/cmd/hgctl/plugin/build/meta.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add command 'hgctl plugin install'
  pkg/cmd/hgctl/kubernetes/dynamic-cli.go
  pkg/cmd/hgctl/kubernetes/wasmplugin.go
  pkg/cmd/hgctl/plugin/install/install.go
  pkg/cmd/hgctl/plugin/plugin.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: hgctl plugin install: add license header
  pkg/cmd/hgctl/kubernetes/dynamic-cli.go
  pkg/cmd/hgctl/kubernetes/wasmplugin.go
  pkg/cmd/hgctl/plugin/install/install.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add command 'hgctl plugin uninstall'
  pkg/cmd/hgctl/plugin/plugin.go
  pkg/cmd/hgctl/plugin/uninstall/uninstall.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add command 'hgctl plugin ls'
  pkg/cmd/hgctl/plugin/ls/ls.go
  pkg/cmd/hgctl/plugin/plugin.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

upgrade tinygo to 0.28.1
  plugins/wasm-go/go.mod
  plugins/wasm-go/go.sum
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
Owners: @johnlanni

update waf plugin to tinygo 0.28.1
  plugins/wasm-go/extensions/waf/go.mod
  plugins/wasm-go/extensions/waf/go.sum
  plugins/wasm-go/extensions/waf/init_tinygo.go
  plugins/wasm-go/extensions/waf/magefiles/go.mod
  plugins/wasm-go/extensions/waf/magefiles/go.sum
  plugins/wasm-go/extensions/waf/magefiles/loadtest.go
  plugins/wasm-go/extensions/waf/magefiles/magefile.go
Owners: @johnlanni

fix format and e2e test bug
  registry/nacos/v2/watcher.go
  test/e2e/conformance/base/manifests.yaml
  test/e2e/conformance/tests/httproute-consul-httpbin.go
  test/e2e/conformance/tests/httproute-consul-httpbin.yaml
  test/e2e/e2e_test.go
Owners: @NameHaibinZhang, @johnlanni, @Xunzhuo

fix: Fix the incorrect default metrics port shown in the usage
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

fix: Fix the incorrect default metrics port shown in the usage (#456)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

fix: Fix the incorrect default metrics port shown in the usage (#456)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

fix: Fix the incorrect default metrics port shown in the usage (#456)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

auto detect consul service protocol
  go.mod
  go.sum
  registry/consul/watcher.go
Owners: @NameHaibinZhang, @johnlanni

Feat registry consul (#445)
  Makefile.core.mk
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/mcp_bridge.pb.go
  api/networking/v1/mcp_bridge.proto
  go.mod
  go.sum
  pkg/ingress/config/ingress_config.go
  registry/auth_option.go
  registry/consul/watcher.go
  registry/nacos/v2/watcher.go
  registry/nacos/watcher.go
  registry/reconcile/reconcile.go
  test/e2e/conformance/base/manifests.yaml
  test/e2e/conformance/tests/httproute-consul-httpbin.go
  test/e2e/conformance/tests/httproute-consul-httpbin.yaml
  test/e2e/e2e_test.go
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

Feat registry consul (#445)
  Makefile.core.mk
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/mcp_bridge.pb.go
  api/networking/v1/mcp_bridge.proto
  go.mod
  go.sum
  pkg/ingress/config/ingress_config.go
  registry/auth_option.go
  registry/consul/watcher.go
  registry/nacos/v2/watcher.go
  registry/nacos/watcher.go
  registry/reconcile/reconcile.go
  test/e2e/conformance/base/manifests.yaml
  test/e2e/conformance/tests/httproute-consul-httpbin.go
  test/e2e/conformance/tests/httproute-consul-httpbin.yaml
  test/e2e/e2e_test.go
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

Feat registry consul (#445)
  Makefile.core.mk
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/mcp_bridge.pb.go
  api/networking/v1/mcp_bridge.proto
  go.mod
  go.sum
  pkg/ingress/config/ingress_config.go
  registry/auth_option.go
  registry/consul/watcher.go
  registry/nacos/v2/watcher.go
  registry/nacos/watcher.go
  registry/reconcile/reconcile.go
  test/e2e/conformance/base/manifests.yaml
  test/e2e/conformance/tests/httproute-consul-httpbin.go
  test/e2e/conformance/tests/httproute-consul-httpbin.yaml
  test/e2e/e2e_test.go
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

fix: support configuration domain suffix (#460)
  helm/core/templates/controller-deployment.yaml
  pkg/ingress/kube/util/util.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: support configuration domain suffix (#460)
  pkg/ingress/kube/util/util.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: set a global variable(#460)
  pkg/ingress/kube/util/util.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Update pkg/ingress/kube/util/util.go
  pkg/ingress/kube/util/util.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Update helm/core/templates/controller-deployment.yaml
  helm/core/templates/controller-deployment.yaml
Owners: none

feat: support eureka registry
  Makefile.core.mk
  go.mod
  go.sum
  registry/eureka/client/http_client.go
  registry/eureka/client/plan.go
  registry/eureka/client/struct.go
  registry/eureka/watcher.go
  registry/reconcile/reconcile.go
  test/e2e/conformance/base/manifests.yaml
  test/e2e/conformance/tests/httproute-eureka-registry.go
  test/e2e/conformance/tests/httproute-eureka-registry.yaml
  test/e2e/e2e_test.go
Owners: @NameHaibinZhang, @johnlanni, @Xunzhuo

fix: add licence header
  registry/eureka/client/http_client.go
  registry/eureka/client/plan.go
  registry/eureka/client/struct.go
  registry/eureka/watcher.go
Owners: @NameHaibinZhang, @johnlanni

update cicd
  plugins/wasm-go/Dockerfile
  plugins/wasm-go/Makefile
Owners: @johnlanni

update README
  plugins/wasm-go/README.md
Owners: @johnlanni

replace higress sdk to ../..
  plugins/wasm-go/extensions/chatgpt-proxy/go.mod
  plugins/wasm-go/extensions/gw-error-format/go.mod
Owners: @johnlanni

update wasm go sdk to tinygo 0.28.1 (#462)
  plugins/wasm-go/Dockerfile
  plugins/wasm-go/Makefile
  plugins/wasm-go/README.md
  plugins/wasm-go/extensions/chatgpt-proxy/go.mod
  plugins/wasm-go/extensions/gw-error-format/go.mod
  plugins/wasm-go/extensions/waf/go.mod
  plugins/wasm-go/extensions/waf/go.sum
  plugins/wasm-go/extensions/waf/init_tinygo.go
  plugins/wasm-go/extensions/waf/magefiles/go.mod
  plugins/wasm-go/extensions/waf/magefiles/go.sum
  plugins/wasm-go/extensions/waf/magefiles/loadtest.go
  plugins/wasm-go/extensions/waf/magefiles/magefile.go
  plugins/wasm-go/go.mod
  plugins/wasm-go/go.sum
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
Owners: @johnlanni

update wasm go sdk to tinygo 0.28.1 (#462)
  plugins/wasm-go/Dockerfile
  plugins/wasm-go/Makefile
  plugins/wasm-go/README.md
  plugins/wasm-go/extensions/chatgpt-proxy/go.mod
  plugins/wasm-go/extensions/gw-error-format/go.mod
  plugins/wasm-go/extensions/waf/go.mod
  plugins/wasm-go/extensions/waf/go.sum
  plugins/wasm-go/extensions/waf/init_tinygo.go
  plugins/wasm-go/extensions/waf/magefiles/go.mod
  plugins/wasm-go/extensions/waf/magefiles/go.sum
  plugins/wasm-go/extensions/waf/magefiles/loadtest.go
  plugins/wasm-go/extensions/waf/magefiles/magefile.go
  plugins/wasm-go/go.mod
  plugins/wasm-go/go.sum
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
Owners: @johnlanni

update wasm go sdk to tinygo 0.28.1 (#462)
  plugins/wasm-go/Dockerfile
  plugins/wasm-go/Makefile
  plugins/wasm-go/README.md
  plugins/wasm-go/extensions/chatgpt-proxy/go.mod
  plugins/wasm-go/extensions/gw-error-format/go.mod
  plugins/wasm-go/extensions/waf/go.mod
  plugins/wasm-go/extensions/waf/go.sum
  plugins/wasm-go/extensions/waf/init_tinygo.go
  plugins/wasm-go/extensions/waf/magefiles/go.mod
  plugins/wasm-go/extensions/waf/magefiles/go.sum
  plugins/wasm-go/extensions/waf/magefiles/loadtest.go
  plugins/wasm-go/extensions/waf/magefiles/magefile.go
  plugins/wasm-go/go.mod
  plugins/wasm-go/go.sum
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
Owners: @johnlanni

support configuration domain suffix (#460) (#463)
  helm/core/templates/controller-deployment.yaml
  pkg/ingress/kube/util/util.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo
