Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo

simply code style
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

opt(hgctl/dashboard): avoid printing error messages cannot open browser (#665)
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

opt(hgctl/dashboard): avoid printing error messages cannot open browser (#665)
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

opt(hgctl/dashboard): avoid printing error messages cannot open browser (#665)
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

# Add test cases for http2rpc
  Makefile.core.mk
  test/e2e/conformance/base/dubbo.yaml
  test/e2e/conformance/tests/httproute-http2rpc-0-create.yaml
  test/e2e/conformance/tests/httproute-http2rpc-1-update.yaml
  test/e2e/conformance/tests/httproute-http2rpc-2-delete.yaml
  test/e2e/conformance/tests/httproute-http2rpc.go
  test/e2e/conformance/utils/kubernetes/apply.go
  test/e2e/conformance/utils/suite/suite.go
Owners: @Xunzhuo

fix gateway name
  pkg/ingress/kube/common/tool.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

update UT&e2e test
  pkg/ingress/config/ingress_config_test.go
  pkg/ingress/config/kingress_config_test.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  pkg/ingress/kube/kingress/controller.go
  test/e2e/conformance/tests/httproute-hostname-same-namespace.go
  test/e2e/conformance/tests/httproute-hostname-same-namespace.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

update golang key rate limit
  plugins/wasm-go/extensions/key-rate-limit/README.md
  plugins/wasm-go/extensions/key-rate-limit/README_EN.md
  plugins/wasm-go/extensions/key-rate-limit/VERSION
  plugins/wasm-go/extensions/key-rate-limit/go.mod
  plugins/wasm-go/extensions/key-rate-limit/go.sum
  plugins/wasm-go/extensions/key-rate-limit/main.go
Owners: @johnlanni

fix: Remove -p/--console-password parameters from get-higress.sh since Higress Console now provides an admin initialization workflow.
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

Fix some compilation errors introduced by merging
  pkg/ingress/kube/annotations/retry_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: Fix envoy building process
  Makefile.core.mk
  tools/hack/build-envoy.patch
  tools/hack/build-envoy.sh
Owners: @johnlanni, @Xunzhuo

feature:update ip-rate-limit plugin code and readme feature:add ip-rate-limit plugin with go
  plugins/wasm-go/extensions/ip-rate-limit/main.go
  plugins/wasm-go/extensions/ip-rate-limit/readme.md
  plugins/wasm-go/go.mod
  plugins/wasm-go/go.sum
Owners: @johnlanni

Fix more compilation errors introduced by merging
  go.mod
  go.sum
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/annotations/canary.go
  pkg/ingress/kube/annotations/local_rate_limit.go
  pkg/ingress/kube/annotations/local_rate_limit_test.go
  pkg/ingress/kube/annotations/timeout.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: Remove -p/--console-password parameters from get-higress.sh (#675)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

fix: Remove -p/--console-password parameters from get-higress.sh (#675)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

fix: Remove -p/--console-password parameters from get-higress.sh (#675)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

Add test cases for http2rpc (#662)
  Makefile.core.mk
  test/e2e/conformance/base/dubbo.yaml
  test/e2e/conformance/tests/httproute-http2rpc-0-create.yaml
  test/e2e/conformance/tests/httproute-http2rpc-1-update.yaml
  test/e2e/conformance/tests/httproute-http2rpc-2-delete.yaml
  test/e2e/conformance/tests/httproute-http2rpc.go
  test/e2e/conformance/utils/kubernetes/apply.go
  test/e2e/conformance/utils/suite/suite.go
Owners: @Xunzhuo

Add test cases for http2rpc (#662)
  Makefile.core.mk
  test/e2e/conformance/base/dubbo.yaml
  test/e2e/conformance/tests/httproute-http2rpc-0-create.yaml
  test/e2e/conformance/tests/httproute-http2rpc-1-update.yaml
  test/e2e/conformance/tests/httproute-http2rpc-2-delete.yaml
  test/e2e/conformance/tests/httproute-http2rpc.go
  test/e2e/conformance/utils/kubernetes/apply.go
  test/e2e/conformance/utils/suite/suite.go
Owners: @Xunzhuo

Add test cases for http2rpc (#662)
  Makefile.core.mk
  test/e2e/conformance/base/dubbo.yaml
  test/e2e/conformance/tests/httproute-http2rpc-0-create.yaml
  test/e2e/conformance/tests/httproute-http2rpc-1-update.yaml
  test/e2e/conformance/tests/httproute-http2rpc-2-delete.yaml
  test/e2e/conformance/tests/httproute-http2rpc.go
  test/e2e/conformance/utils/kubernetes/apply.go
  test/e2e/conformance/utils/suite/suite.go
Owners: @Xunzhuo

opt: hgctl dashboard/completion optimize
  pkg/cmd/hgctl/completion.go
  pkg/cmd/hgctl/dashboard.go
  pkg/cmd/hgctl/root.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: Support Gateway API with Istio Gateway Controller
  go.mod
  go.sum
  pkg/bootstrap/server.go
  pkg/ingress/config/ingress_config.go
  pkg/ingress/config/kingress_config.go
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/common/controller.go
  pkg/ingress/kube/common/metrics.go
  pkg/ingress/kube/common/model.go
  pkg/ingress/kube/common/tool.go
  pkg/ingress/kube/configmap/controller.go
  pkg/ingress/kube/controller/model.go
  pkg/ingress/kube/gateway/controller.go
  pkg/ingress/kube/http2rpc/controller.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  pkg/ingress/kube/kingress/controller.go
  pkg/ingress/kube/mcpbridge/controller.go
  pkg/ingress/kube/secret/controller.go
  pkg/ingress/kube/util/util.go
  pkg/ingress/kube/wasmplugin/controller.go
  pkg/ingress/translation/translation.go
  pkg/kube/client.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

update en redame documentation
  plugins/wasm-go/extensions/key-auth/README.md
  plugins/wasm-go/extensions/key-auth/README_EN.md
  plugins/wasm-go/extensions/key-auth/main.go
Owners: @johnlanni

feat: add key-auth plugin (#586)
  plugins/wasm-go/extensions/key-auth/README.md
  plugins/wasm-go/extensions/key-auth/README_EN.md
  plugins/wasm-go/extensions/key-auth/VERSION
  plugins/wasm-go/extensions/key-auth/go.mod
  plugins/wasm-go/extensions/key-auth/go.sum
  plugins/wasm-go/extensions/key-auth/keyauth.yaml
  plugins/wasm-go/extensions/key-auth/main.go
  test/e2e/conformance/tests/go-wasm-key-auth.go
  test/e2e/conformance/tests/go-wasm-key-auth.yaml
Owners: @johnlanni, @Xunzhuo

feat: add key-auth plugin (#586)
  plugins/wasm-go/extensions/key-auth/README.md
  plugins/wasm-go/extensions/key-auth/README_EN.md
  plugins/wasm-go/extensions/key-auth/VERSION
  plugins/wasm-go/extensions/key-auth/go.mod
  plugins/wasm-go/extensions/key-auth/go.sum
  plugins/wasm-go/extensions/key-auth/keyauth.yaml
  plugins/wasm-go/extensions/key-auth/main.go
  test/e2e/conformance/tests/go-wasm-key-auth.go
  test/e2e/conformance/tests/go-wasm-key-auth.yaml
Owners: @johnlanni, @Xunzhuo

feat: add key-auth plugin (#586)
  plugins/wasm-go/extensions/key-auth/README.md
  plugins/wasm-go/extensions/key-auth/README_EN.md
  plugins/wasm-go/extensions/key-auth/VERSION
  plugins/wasm-go/extensions/key-auth/go.mod
  plugins/wasm-go/extensions/key-auth/go.sum
  plugins/wasm-go/extensions/key-auth/keyauth.yaml
  plugins/wasm-go/extensions/key-auth/main.go
  test/e2e/conformance/tests/go-wasm-key-auth.go
  test/e2e/conformance/tests/go-wasm-key-auth.yaml
Owners: @johnlanni, @Xunzhuo

some optimize
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/common/tool.go
  pkg/ingress/kube/kingress/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

update kingress gateway name
  pkg/ingress/config/kingress_config.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix
  pkg/ingress/config/ingress_config.go
  pkg/ingress/config/kingress_config.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add e2e test for without sni
  test/e2e/conformance/tests/httproute-https-without-sni.go
  test/e2e/conformance/tests/httproute-https-without-sni.yaml
Owners: @Xunzhuo

fix import and modify code
  pkg/cmd/hgctl/config_retriever.go
  pkg/cmd/hgctl/dashboard.go
  pkg/cmd/hgctl/kubernetes/port-forwarder.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix ci
  pkg/cmd/hgctl/config_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add global_auth param
  plugins/wasm-go/extensions/oauth/main.go
  test/e2e/conformance/tests/go-wasm-oauth-basic.yaml
  test/e2e/conformance/tests/go-wasm-oauth-empty-consumer.yaml
  test/e2e/conformance/tests/go-wasm-oauth-global-auth.go
  test/e2e/conformance/tests/go-wasm-oauth-global-auth.yaml
Owners: @johnlanni, @Xunzhuo

feature:add global or ip or header rate limiting plugin
  plugins/wasm-go/extensions/rate-limiting/main.go
  plugins/wasm-go/extensions/rate-limiting/readme.md
Owners: @johnlanni

refactor: unify image customization methods
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
Owners: none

fix bug
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix ci
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

refactor: unify image customization methods (#687)
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
Owners: none

refactor: unify image customization methods (#687)
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
Owners: none

refactor: unify image customization methods (#687)
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/deployment.yaml
  helm/core/values.yaml
Owners: none

set MinContentLength default value
  pkg/ingress/kube/configmap/gzip.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo
