Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo

refactor: 'hgctl plugin test'
  pkg/cmd/hgctl/docker/compose.go
  pkg/cmd/hgctl/plugin/build/build.go
  pkg/cmd/hgctl/plugin/option/option.go
  pkg/cmd/hgctl/plugin/test/clean.go
  pkg/cmd/hgctl/plugin/test/create.go
  pkg/cmd/hgctl/plugin/test/ls.go
  pkg/cmd/hgctl/plugin/test/start.go
  pkg/cmd/hgctl/plugin/test/stop.go
  pkg/cmd/hgctl/plugin/test/templates.go
  pkg/cmd/hgctl/plugin/types/meta.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

refactor: 'hgctl plugin install/uninstall'
  go.mod
  go.sum
  pkg/cmd/hgctl/kubernetes/dynamic-cli.go
  pkg/cmd/hgctl/kubernetes/wasmplugin.go
  pkg/cmd/hgctl/plugin/build/build.go
  pkg/cmd/hgctl/plugin/config/create.go
  pkg/cmd/hgctl/plugin/config/edit.go
  pkg/cmd/hgctl/plugin/init/templates.go
  pkg/cmd/hgctl/plugin/install/asker.go
  pkg/cmd/hgctl/plugin/install/install.go
  pkg/cmd/hgctl/plugin/install/printer.go
  pkg/cmd/hgctl/plugin/ls/ls.go
  pkg/cmd/hgctl/plugin/option/option.go
  pkg/cmd/hgctl/plugin/option/template.go
  pkg/cmd/hgctl/plugin/test/clean.go
  pkg/cmd/hgctl/plugin/test/create.go
  pkg/cmd/hgctl/plugin/test/templates.go
  pkg/cmd/hgctl/plugin/types/meta.go
  pkg/cmd/hgctl/plugin/types/usage.go
  pkg/cmd/hgctl/plugin/uninstall/uninstall.go
  pkg/cmd/hgctl/plugin/utils/common.go
  pkg/cmd/hgctl/plugin/utils/debugger.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: Add oidc wasm plugins
  plugins/wasm-go/extensions/oidc/README.md
  plugins/wasm-go/extensions/oidc/go.mod
  plugins/wasm-go/extensions/oidc/go.sum
  plugins/wasm-go/extensions/oidc/main.go
  plugins/wasm-go/extensions/oidc/oc/Config.go
  plugins/wasm-go/extensions/oidc/oc/Process.go
  plugins/wasm-go/extensions/oidc/oc/encryption.go
  plugins/wasm-go/extensions/oidc/oc/exchange.go
  plugins/wasm-go/extensions/oidc/oc/jwks.go
  plugins/wasm-go/extensions/oidc/oc/verifer.go
Owners: @johnlanni

refactor: pre test version
  pkg/cmd/hgctl/plugin/build/build.go
  pkg/cmd/hgctl/plugin/build/templates.go
  pkg/cmd/hgctl/plugin/config/create.go
  pkg/cmd/hgctl/plugin/config/edit.go
  pkg/cmd/hgctl/plugin/config/templates.go
  pkg/cmd/hgctl/plugin/init/init.go
  pkg/cmd/hgctl/plugin/init/templates.go
  pkg/cmd/hgctl/plugin/install/asker.go
  pkg/cmd/hgctl/plugin/install/install.go
  pkg/cmd/hgctl/plugin/ls/ls.go
  pkg/cmd/hgctl/plugin/option/template.go
  pkg/cmd/hgctl/plugin/test/clean.go
  pkg/cmd/hgctl/plugin/test/create.go
  pkg/cmd/hgctl/plugin/test/templates.go
  pkg/cmd/hgctl/plugin/types/marshal.go
  pkg/cmd/hgctl/plugin/types/meta.go
  pkg/cmd/hgctl/plugin/types/schema.go
  pkg/cmd/hgctl/plugin/types/usage.go
  pkg/cmd/hgctl/plugin/uninstall/uninstall.go
  pkg/cmd/hgctl/plugin/utils/common.go
  pkg/cmd/hgctl/plugin/utils/orderedmap.go
  pkg/cmd/hgctl/plugin/utils/printer.go
  pkg/cmd/hgctl/plugin/utils/survey.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix a concurrency issue of mcprbidge reconcile
  pkg/ingress/config/ingress_config.go
  registry/reconcile/reconcile.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

fix: Fixed an issue that was not deserialized due to orderedmap
  pkg/cmd/hgctl/plugin/config/templates.go
  pkg/cmd/hgctl/plugin/init/init.go
  pkg/cmd/hgctl/plugin/init/templates.go
  pkg/cmd/hgctl/plugin/install/asker.go
  pkg/cmd/hgctl/plugin/install/install.go
  pkg/cmd/hgctl/plugin/option/template.go
  pkg/cmd/hgctl/plugin/test/start.go
  pkg/cmd/hgctl/plugin/types/marshal.go
  pkg/cmd/hgctl/plugin/types/meta.go
  pkg/cmd/hgctl/plugin/types/schema.go
  pkg/cmd/hgctl/plugin/types/usage.go
  pkg/cmd/hgctl/plugin/uninstall/uninstall.go
  pkg/cmd/hgctl/plugin/utils/orderedmap.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix bug
  pkg/ingress/config/ingress_config.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix a concurrency issue of mcprbidge reconcile (#511)
  pkg/ingress/config/ingress_config.go
  registry/reconcile/reconcile.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

fix a concurrency issue of mcprbidge reconcile (#511)
  pkg/ingress/config/ingress_config.go
  registry/reconcile/reconcile.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

fix a concurrency issue of mcprbidge reconcile (#511)
  pkg/ingress/config/ingress_config.go
  registry/reconcile/reconcile.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

fix: 'hgctl plugin buil': change tinygo cmd
  pkg/cmd/hgctl/plugin/build/templates.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: Implement basic-auth WASM plugin using the Go SDK
  plugins/wasm-go/extensions/basic-auth/README.md
  plugins/wasm-go/extensions/basic-auth/README_EN.md
  plugins/wasm-go/extensions/basic-auth/VERSION
  plugins/wasm-go/extensions/basic-auth/go.mod
  plugins/wasm-go/extensions/basic-auth/go.sum
  plugins/wasm-go/extensions/basic-auth/main.go
  test/e2e/conformance/tests/basic-auth.go
  test/e2e/conformance/tests/basic-auth.yaml
  test/e2e/e2e_test.go
Owners: @johnlanni, @Xunzhuo

fix: Fix the image display in the E2E test README.md
  test/README.md
Owners: @Xunzhuo

feat: Add oidc wasm plugins
  plugins/wasm-go/extensions/oidc/go.mod
  plugins/wasm-go/extensions/oidc/go.sum
  plugins/wasm-go/extensions/oidc/main.go
  plugins/wasm-go/extensions/oidc/oc/Process.go
  plugins/wasm-go/extensions/oidc/oc/Provider.go
  plugins/wasm-go/extensions/oidc/oc/exchange.go
  plugins/wasm-go/extensions/oidc/oc/jwks.go
  plugins/wasm-go/extensions/oidc/oc/ocUtil.go
  test/e2e/conformance/tests/oidc.go
  test/e2e/conformance/tests/oidc.yaml
  test/e2e/e2e_test.go
Owners: @johnlanni, @Xunzhuo

Add License
  test/e2e/conformance/tests/oidc.yaml
Owners: @Xunzhuo

feat: Add wrapper.ParseOverrideConfigBy
  plugins/wasm-go/pkg/matcher/rule_matcher.go
  plugins/wasm-go/pkg/matcher/rule_matcher_test.go
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
  test/e2e/conformance/tests/cpp-basic-auth.go
  test/e2e/conformance/tests/cpp-basic-auth.yaml
Owners: @johnlanni, @Xunzhuo

fix: go basic-auth
  plugins/wasm-go/extensions/basic-auth/go.mod
  plugins/wasm-go/extensions/basic-auth/go.sum
  plugins/wasm-go/extensions/basic-auth/main.go
  test/e2e/conformance/tests/cpp-basic-auth.go
  test/e2e/conformance/tests/cpp-basic-auth.yaml
  test/e2e/e2e_test.go
Owners: @johnlanni, @Xunzhuo

fix: parseOverrideConfig is always nil
  plugins/wasm-go/extensions/basic-auth/go.mod
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
Owners: @johnlanni

feat: add request block regular matching and modify block_ Urls are exact matches
  plugins/wasm-go/extensions/request-block/VERSION
  plugins/wasm-go/extensions/request-block/main.go
  test/e2e/conformance/tests/request-block.go
  test/e2e/conformance/tests/request-block.yaml
Owners: @johnlanni, @Xunzhuo

feat: add request block regular matching and modify block_ Urls are exact matches
  test/e2e/conformance/tests/request-block.yaml
Owners: @Xunzhuo

feat: add request block regular matching and modify block_ Urls are exact matches
  plugins/wasm-go/extensions/request-block/main.go
  test/e2e/conformance/tests/request-block.go
  test/e2e/conformance/tests/request-block.yaml
Owners: @johnlanni, @Xunzhuo

feat: Add update function to get-higress.sh
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

KnativeIngress
  go.mod
  go.sum
  helm/core/templates/controller-clusterrole.yaml
  pkg/bootstrap/server.go
  pkg/config/constants/constants.go
  pkg/ingress/config/kingress_config.go
  pkg/ingress/config/kingress_config_test.go
  pkg/ingress/kube/common/controller.go
  pkg/ingress/kube/kingress/controller.go
  pkg/ingress/kube/kingress/controller_test.go
  pkg/ingress/kube/kingress/resources/doc.go
  pkg/ingress/kube/kingress/resources/virtual_service.go
  pkg/ingress/kube/kingress/resources/virtual_service_test.go
  pkg/ingress/kube/kingress/status.go
  pkg/ingress/translation/translation.go
  pkg/kube/client.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

request size limit plugin
  plugins/wasm-go/extensions/request-size-limit/README.md
  plugins/wasm-go/extensions/request-size-limit/go.mod
  plugins/wasm-go/extensions/request-size-limit/go.sum
  plugins/wasm-go/extensions/request-size-limit/main.go
Owners: @johnlanni

add VERSION
  plugins/wasm-go/extensions/request-size-limit/VERSION
Owners: @johnlanni

feat: Add update function to get-higress.sh (#523)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

feat: Add update function to get-higress.sh (#523)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

feat: Add update function to get-higress.sh (#523)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

Update pkg/ingress/kube/kingress/status.go
  pkg/ingress/kube/kingress/status.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: Implement basic-auth WASM plugin using the Go SDK (#515)
  plugins/wasm-go/extensions/basic-auth/README.md
  plugins/wasm-go/extensions/basic-auth/README_EN.md
  plugins/wasm-go/extensions/basic-auth/VERSION
  plugins/wasm-go/extensions/basic-auth/go.mod
  plugins/wasm-go/extensions/basic-auth/go.sum
  plugins/wasm-go/extensions/basic-auth/main.go
  plugins/wasm-go/pkg/matcher/rule_matcher.go
  plugins/wasm-go/pkg/matcher/rule_matcher_test.go
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
  test/e2e/conformance/tests/basic-auth.go
  test/e2e/conformance/tests/basic-auth.yaml
  test/e2e/conformance/tests/cpp-basic-auth.go
  test/e2e/conformance/tests/cpp-basic-auth.yaml
  test/e2e/e2e_test.go
Owners: @johnlanni, @Xunzhuo

feat: Implement basic-auth WASM plugin using the Go SDK (#515)
  plugins/wasm-go/extensions/basic-auth/README.md
  plugins/wasm-go/extensions/basic-auth/README_EN.md
  plugins/wasm-go/extensions/basic-auth/VERSION
  plugins/wasm-go/extensions/basic-auth/go.mod
  plugins/wasm-go/extensions/basic-auth/go.sum
  plugins/wasm-go/extensions/basic-auth/main.go
  plugins/wasm-go/pkg/matcher/rule_matcher.go
  plugins/wasm-go/pkg/matcher/rule_matcher_test.go
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
  test/e2e/conformance/tests/basic-auth.go
  test/e2e/conformance/tests/basic-auth.yaml
  test/e2e/conformance/tests/cpp-basic-auth.go
  test/e2e/conformance/tests/cpp-basic-auth.yaml
  test/e2e/e2e_test.go
Owners: @johnlanni, @Xunzhuo

feat: Implement basic-auth WASM plugin using the Go SDK (#515)
  plugins/wasm-go/extensions/basic-auth/README.md
  plugins/wasm-go/extensions/basic-auth/README_EN.md
  plugins/wasm-go/extensions/basic-auth/VERSION
  plugins/wasm-go/extensions/basic-auth/go.mod
  plugins/wasm-go/extensions/basic-auth/go.sum
  plugins/wasm-go/extensions/basic-auth/main.go
  plugins/wasm-go/pkg/matcher/rule_matcher.go
  plugins/wasm-go/pkg/matcher/rule_matcher_test.go
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
  test/e2e/conformance/tests/basic-auth.go
  test/e2e/conformance/tests/basic-auth.yaml
  test/e2e/conformance/tests/cpp-basic-auth.go
  test/e2e/conformance/tests/cpp-basic-auth.yaml
  test/e2e/e2e_test.go
Owners: @johnlanni, @Xunzhuo

fix namespace missing in helm chart
  helm/core/templates/controller-deployment.yaml
  helm/core/templates/controller-service.yaml
Owners: none

Update kingress_config.go
  pkg/ingress/config/kingress_config.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix nacos connection leakage and weight setting for nacos service
  registry/nacos/v2/watcher.go
  registry/nacos/watcher.go
Owners: @NameHaibinZhang, @johnlanni

fix nacos connection leakage and weight setting for nacos service
  registry/nacos/v2/watcher.go
  registry/nacos/watcher.go
Owners: @NameHaibinZhang, @johnlanni

Fix the issue of instances not being filtered when the weight is set to 0
  registry/nacos/v2/watcher.go
  registry/nacos/watcher.go
Owners: @NameHaibinZhang, @johnlanni

add interupte logs for go-waf
  plugins/wasm-go/extensions/waf/wasmplugin/plugin.go
  plugins/wasm-go/extensions/waf/wasmplugin/utils.go
Owners: @johnlanni

optimize log of waf plugin
  plugins/wasm-go/extensions/waf/local/envoy-config.yaml
  plugins/wasm-go/extensions/waf/wasmplugin/logger.go
  plugins/wasm-go/extensions/waf/wasmplugin/plugin.go
  plugins/wasm-go/extensions/waf/wasmplugin/utils.go
Owners: @johnlanni

feat: Implement basic Gateway API support
  go.mod
  go.sum
  pkg/bootstrap/server.go
  pkg/ingress/config/ingress_config.go
  pkg/ingress/kube/common/controller.go
  pkg/ingress/kube/gateway/controller.go
  pkg/ingress/kube/util/util.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo
