Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

rel: Release version 1.3.2 (#719)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

add more type for envoy assertion
  test/e2e/conformance/tests/configmap-gzip.go
  test/e2e/conformance/tests/configmap-gzip.yaml
  test/e2e/conformance/tests/configmap-tracing.go
  test/e2e/conformance/tests/configmap-tracing.yaml
  test/e2e/conformance/utils/envoy/envoy.go
  test/e2e/conformance/utils/envoy/envoy_test.go
  test/e2e/conformance/utils/kubernetes/apply.go
Owners: @Xunzhuo

merge two test case
  test/e2e/conformance/tests/configmap-gzip.go
Owners: @Xunzhuo

try run ci again
  test/e2e/conformance/tests/configmap-gzip.go
Owners: @Xunzhuo

Fix an outdated build script
  tools/hack/build-istio-pilot.sh
Owners: @johnlanni, @Xunzhuo

try run ci again
  test/e2e/conformance/utils/envoy/envoy_test.go
Owners: @Xunzhuo

feat: add sni-misdirect plugin for go
  plugins/wasm-go/extensions/sni-misdirect/VERSION
  plugins/wasm-go/extensions/sni-misdirect/go.mod
  plugins/wasm-go/extensions/sni-misdirect/go.sum
  plugins/wasm-go/extensions/sni-misdirect/main.go
  test/e2e/conformance/tests/go-wasm-sni-misdirect.go
  test/e2e/conformance/tests/go-wasm-sni-misdirect.yaml
Owners: @johnlanni, @Xunzhuo

Update Makefile.core.mk
  Makefile.core.mk
Owners: none

Update Makefile.core.mk
  Makefile.core.mk
Owners: none

Update Makefile.core.mk
  Makefile.core.mk
Owners: none

http2rpc supports treating the entire body as a method parameter
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  api/networking/v1/http_2_rpc_deepcopy.gen.go
  api/networking/v1/http_2_rpc_json.gen.go
  pkg/ingress/config/ingress_config.go
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo

http2rpc supports treating the entire body as a method parameter (#722)
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  api/networking/v1/http_2_rpc_deepcopy.gen.go
  api/networking/v1/http_2_rpc_json.gen.go
  pkg/ingress/config/ingress_config.go
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo

http2rpc supports treating the entire body as a method parameter (#722)
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  api/networking/v1/http_2_rpc_deepcopy.gen.go
  api/networking/v1/http_2_rpc_json.gen.go
  pkg/ingress/config/ingress_config.go
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo

http2rpc supports treating the entire body as a method parameter (#722)
  api/kubernetes/customresourcedefinitions.gen.yaml
  api/networking/v1/http_2_rpc.pb.go
  api/networking/v1/http_2_rpc.proto
  api/networking/v1/http_2_rpc_deepcopy.gen.go
  api/networking/v1/http_2_rpc_json.gen.go
  pkg/ingress/config/ingress_config.go
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo

fix bug with envoy assertion
  test/e2e/conformance/tests/configmap-gzip.go
  test/e2e/conformance/tests/configmap-gzip.yaml
  test/e2e/conformance/utils/envoy/envoy.go
  test/e2e/conformance/utils/envoy/envoy_test.go
  test/e2e/conformance/utils/kubernetes/apply.go
  test/e2e/conformance/utils/kubernetes/helpers.go
Owners: @Xunzhuo

remove makefile for envoy-test
  Makefile.core.mk
Owners: none

remove some sample in envoy_test
  test/e2e/conformance/utils/envoy/envoy_test.go
Owners: @Xunzhuo

opt Makefile.core.mk
  Makefile.core.mk
Owners: none

set success times three
  test/e2e/conformance/tests/configmap-gzip.go
  test/e2e/conformance/utils/envoy/envoy.go
  test/e2e/conformance/utils/kubernetes/helpers.go
Owners: @Xunzhuo

try run ci again
  test/e2e/conformance/utils/envoy/envoy.go
Owners: @Xunzhuo

feat: add sni-misdirect plugin for go
  plugins/wasm-go/extensions/sni-misdirect/main.go
Owners: @johnlanni

move config files and remove flag
  cmd/hgctl/config/gateway_config.go
  cmd/hgctl/config/gateway_config_test.go
  cmd/hgctl/config/testdata/config/input/in.all.json
  cmd/hgctl/config/testdata/config/output/out.all.json
  cmd/hgctl/config/testdata/config/output/out.all.yaml
  cmd/hgctl/config/testdata/config/output/out.bootstrap.json
  cmd/hgctl/config/testdata/config/output/out.bootstrap.yaml
  cmd/hgctl/config/testdata/config/output/out.cluster.json
  cmd/hgctl/config/testdata/config/output/out.cluster.yaml
  cmd/hgctl/config/testdata/config/output/out.endpoints.json
  cmd/hgctl/config/testdata/config/output/out.endpoints.yaml
  cmd/hgctl/config/testdata/config/output/out.listener.json
  cmd/hgctl/config/testdata/config/output/out.listener.yaml
  cmd/hgctl/config/testdata/config/output/out.route.json
  cmd/hgctl/config/testdata/config/output/out.route.yaml
  pkg/cmd/hgctl/config_bootstrap.go
  pkg/cmd/hgctl/config_cluster.go
  pkg/cmd/hgctl/config_cmd.go
  pkg/cmd/hgctl/config_endpoint.go
  pkg/cmd/hgctl/config_listener.go
  pkg/cmd/hgctl/config_route.go
  test/e2e/conformance/tests/configmap-gzip.go
  test/e2e/conformance/utils/envoy/envoy.go
  test/e2e/conformance/utils/suite/features.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

update .licenserc.yaml
  .licenserc.yaml
Owners: none

opt import
  test/e2e/conformance/utils/envoy/envoy.go
Owners: @Xunzhuo

fix disableOnEtagHeader can't work in configmap gzip envoyfiler
  pkg/ingress/kube/configmap/gzip.go
  pkg/ingress/kube/configmap/gzip_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: e2e test support http body check
  test/e2e/conformance/base/manifests.yaml
  test/e2e/conformance/tests/go-wasm-request-block.go
  test/e2e/conformance/tests/go-wasm-request-block.yaml
  test/e2e/conformance/tests/go-wasm-transformer.go
  test/e2e/conformance/tests/go-wasm-transformer.yaml
  test/e2e/conformance/utils/http/http.go
  test/e2e/conformance/utils/roundtripper/roundtripper.go
Owners: @Xunzhuo

fix: disable unnecessary http method precheck
  test/e2e/conformance/utils/http/http.go
Owners: @Xunzhuo

refactor: remove unnecessary "type" field in yaml
  test/e2e/conformance/tests/go-wasm-transformer.yaml
Owners: @Xunzhuo

refactor: remove non-explanatory code comment
  plugins/wasm-go/extensions/transformer/main.go
Owners: @johnlanni

refactor: optimize type of p.paramType
  plugins/wasm-go/extensions/transformer/main.go
Owners: @johnlanni

fix: conditions for not allowing map more specific
  plugins/wasm-go/extensions/transformer/main.go
Owners: @johnlanni

fix: onHttpReq/RespBody get h&q from ctx
  plugins/wasm-go/extensions/transformer/main.go
Owners: @johnlanni

test: add more testcases for map kvt
  test/e2e/conformance/tests/go-wasm-transformer.go
  test/e2e/conformance/tests/go-wasm-transformer.yaml
Owners: @Xunzhuo

test: make some case more arbitary
  test/e2e/conformance/tests/go-wasm-transformer.go
  test/e2e/conformance/tests/go-wasm-transformer.yaml
Owners: @Xunzhuo

fix disableOnEtagHeader can't work in configmap gzip envoyfiler (#731)
  pkg/ingress/kube/configmap/gzip.go
  pkg/ingress/kube/configmap/gzip_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix disableOnEtagHeader can't work in configmap gzip envoyfiler (#731)
  pkg/ingress/kube/configmap/gzip.go
  pkg/ingress/kube/configmap/gzip_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix disableOnEtagHeader can't work in configmap gzip envoyfiler (#731)
  pkg/ingress/kube/configmap/gzip.go
  pkg/ingress/kube/configmap/gzip_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add sni-misdirect plugin for go (#720)
  plugins/wasm-go/extensions/sni-misdirect/VERSION
  plugins/wasm-go/extensions/sni-misdirect/go.mod
  plugins/wasm-go/extensions/sni-misdirect/go.sum
  plugins/wasm-go/extensions/sni-misdirect/main.go
  test/e2e/conformance/tests/go-wasm-sni-misdirect.go
  test/e2e/conformance/tests/go-wasm-sni-misdirect.yaml
Owners: @johnlanni, @Xunzhuo

feat: add sni-misdirect plugin for go (#720)
  plugins/wasm-go/extensions/sni-misdirect/VERSION
  plugins/wasm-go/extensions/sni-misdirect/go.mod
  plugins/wasm-go/extensions/sni-misdirect/go.sum
  plugins/wasm-go/extensions/sni-misdirect/main.go
  test/e2e/conformance/tests/go-wasm-sni-misdirect.go
  test/e2e/conformance/tests/go-wasm-sni-misdirect.yaml
Owners: @johnlanni, @Xunzhuo

feat: add sni-misdirect plugin for go (#720)
  plugins/wasm-go/extensions/sni-misdirect/VERSION
  plugins/wasm-go/extensions/sni-misdirect/go.mod
  plugins/wasm-go/extensions/sni-misdirect/go.sum
  plugins/wasm-go/extensions/sni-misdirect/main.go
  test/e2e/conformance/tests/go-wasm-sni-misdirect.go
  test/e2e/conformance/tests/go-wasm-sni-misdirect.yaml
Owners: @johnlanni, @Xunzhuo

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo
