Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo

bug: shorthand `l` repeated (#702)
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

bug: shorthand `l` repeated (#702)
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

convert to json
  plugins/wasm-go/extensions/request-validation/VERSION
  plugins/wasm-go/extensions/request-validation/go.mod
  plugins/wasm-go/extensions/request-validation/main.go
  plugins/wasm-go/extensions/request-validation/validation/array_validation.go
  plugins/wasm-go/extensions/request-validation/validation/enum_validation.go
  plugins/wasm-go/extensions/request-validation/validation/int_range_validation.go
  plugins/wasm-go/extensions/request-validation/validation/regex_validation.go
  plugins/wasm-go/extensions/request-validation/validation/string_length_validation.go
Owners: @johnlanni

optimize http2dubbo transcoder filter
  envoy/1.20/patches/envoy/20231218-dubbo-optimize.patch
Owners: @gengleilei, @johnlanni, @Lynskylate

change patch file name
  envoy/1.20/patches/envoy/20231218-dubbo-optimize.patch
Owners: @gengleilei, @johnlanni, @Lynskylate

add configmap gzip e2e test
  test/e2e/conformance/tests/configmap-gzip.go
  test/e2e/conformance/tests/configmap-gzip.yaml
  test/e2e/conformance/utils/kubernetes/helpers.go
Owners: @Xunzhuo

feat: add gzip global setting in configmap (#660)
  pkg/ingress/kube/configmap/config.go
  pkg/ingress/kube/configmap/controller.go
  pkg/ingress/kube/configmap/gzip.go
  pkg/ingress/kube/configmap/gzip_test.go
  pkg/ingress/kube/configmap/tracing.go
  test/e2e/conformance/tests/configmap-gzip.go
  test/e2e/conformance/tests/configmap-gzip.yaml
  test/e2e/conformance/utils/kubernetes/helpers.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add gzip global setting in configmap (#660)
  pkg/ingress/kube/configmap/config.go
  pkg/ingress/kube/configmap/controller.go
  pkg/ingress/kube/configmap/gzip.go
  pkg/ingress/kube/configmap/gzip_test.go
  pkg/ingress/kube/configmap/tracing.go
  test/e2e/conformance/tests/configmap-gzip.go
  test/e2e/conformance/tests/configmap-gzip.yaml
  test/e2e/conformance/utils/kubernetes/helpers.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add gzip global setting in configmap (#660)
  pkg/ingress/kube/configmap/config.go
  pkg/ingress/kube/configmap/controller.go
  pkg/ingress/kube/configmap/gzip.go
  pkg/ingress/kube/configmap/gzip_test.go
  pkg/ingress/kube/configmap/tracing.go
  test/e2e/conformance/tests/configmap-gzip.go
  test/e2e/conformance/tests/configmap-gzip.yaml
  test/e2e/conformance/utils/kubernetes/helpers.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

update dubbo_tcp connection pool
  envoy/1.20/patches/envoy/20231218-dubbo-optimize.patch
Owners: @gengleilei, @johnlanni, @Lynskylate

feat: add e2e test for envoy filter
  Makefile.core.mk
  go.mod
  go.sum
  pkg/cmd/hgctl/config_bootstrap.go
  pkg/cmd/hgctl/config_cluster.go
  pkg/cmd/hgctl/config_cmd.go
  pkg/cmd/hgctl/config_endpoint.go
  pkg/cmd/hgctl/config_listener.go
  pkg/cmd/hgctl/config_route.go
  pkg/config/gateway_config.go
  pkg/config/gateway_config_test.go
  pkg/config/testdata/config/input/in.all.json
  pkg/config/testdata/config/output/out.all.json
  pkg/config/testdata/config/output/out.all.yaml
  pkg/config/testdata/config/output/out.bootstrap.json
  pkg/config/testdata/config/output/out.bootstrap.yaml
  pkg/config/testdata/config/output/out.cluster.json
  pkg/config/testdata/config/output/out.cluster.yaml
  pkg/config/testdata/config/output/out.endpoints.json
  pkg/config/testdata/config/output/out.endpoints.yaml
  pkg/config/testdata/config/output/out.listener.json
  pkg/config/testdata/config/output/out.listener.yaml
  pkg/config/testdata/config/output/out.route.json
  pkg/config/testdata/config/output/out.route.yaml
  test/e2e/conformance/tests/configmap-tracing.go
  test/e2e/conformance/tests/configmap-tracing.yaml
  test/e2e/conformance/utils/envoy/envoy.go
  test/e2e/conformance/utils/flags/flags.go
  test/e2e/conformance/utils/suite/features.go
  test/e2e/conformance/utils/suite/suite.go
  test/e2e/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

add license for yaml file and remove unused file
  pkg/cmd/hgctl/testdata/config/input/in.all.json
  pkg/cmd/hgctl/testdata/config/output/out.all.json
  pkg/cmd/hgctl/testdata/config/output/out.all.yaml
  pkg/cmd/hgctl/testdata/config/output/out.bootstrap.json
  pkg/cmd/hgctl/testdata/config/output/out.bootstrap.yaml
  pkg/cmd/hgctl/testdata/config/output/out.cluster.json
  pkg/cmd/hgctl/testdata/config/output/out.cluster.yaml
  pkg/cmd/hgctl/testdata/config/output/out.endpoints.json
  pkg/cmd/hgctl/testdata/config/output/out.endpoints.yaml
  pkg/cmd/hgctl/testdata/config/output/out.listener.json
  pkg/cmd/hgctl/testdata/config/output/out.listener.yaml
  pkg/cmd/hgctl/testdata/config/output/out.route.json
  pkg/cmd/hgctl/testdata/config/output/out.route.yaml
  pkg/config/testdata/config/input/in.all.json
  pkg/config/testdata/config/output/out.all.yaml
  pkg/config/testdata/config/output/out.bootstrap.yaml
  pkg/config/testdata/config/output/out.cluster.yaml
  pkg/config/testdata/config/output/out.endpoints.yaml
  pkg/config/testdata/config/output/out.listener.yaml
  pkg/config/testdata/config/output/out.route.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix import
  pkg/cmd/hgctl/config_bootstrap.go
  pkg/cmd/hgctl/config_cluster.go
  pkg/cmd/hgctl/config_cmd.go
  pkg/cmd/hgctl/config_endpoint.go
  pkg/cmd/hgctl/config_listener.go
  pkg/cmd/hgctl/config_route.go
  pkg/config/gateway_config.go
  test/e2e/conformance/tests/configmap-tracing.go
  test/e2e/conformance/utils/envoy/envoy.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

optimize http2dubbo filter of envoy (#704)
  envoy/1.20/patches/envoy/20231218-dubbo-optimize.patch
Owners: @gengleilei, @johnlanni, @Lynskylate

optimize http2dubbo filter of envoy (#704)
  envoy/1.20/patches/envoy/20231218-dubbo-optimize.patch
Owners: @gengleilei, @johnlanni, @Lynskylate

optimize http2dubbo filter of envoy (#704)
  envoy/1.20/patches/envoy/20231218-dubbo-optimize.patch
Owners: @gengleilei, @johnlanni, @Lynskylate

add license ignore
  .licenserc.yaml
  pkg/config/testdata/config/input/in.all.json
  pkg/config/testdata/config/output/out.all.yaml
  pkg/config/testdata/config/output/out.bootstrap.yaml
  pkg/config/testdata/config/output/out.cluster.yaml
  pkg/config/testdata/config/output/out.endpoints.yaml
  pkg/config/testdata/config/output/out.listener.yaml
  pkg/config/testdata/config/output/out.route.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

ignore binary body in plugins
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
  plugins/wasm-go/pkg/wrapper/request_wrapper.go
Owners: @johnlanni

Compatible with nginx.ingress.kubernetes.io/canary-by-header-pattern annotation (#693)
  pkg/ingress/kube/annotations/canary.go
  test/e2e/conformance/tests/httproute-canary-header.go
  test/e2e/conformance/tests/httproute-canary-header.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Compatible with nginx.ingress.kubernetes.io/canary-by-header-pattern annotation (#693)
  pkg/ingress/kube/annotations/canary.go
  test/e2e/conformance/tests/httproute-canary-header.go
  test/e2e/conformance/tests/httproute-canary-header.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Compatible with nginx.ingress.kubernetes.io/canary-by-header-pattern annotation (#693)
  pkg/ingress/kube/annotations/canary.go
  test/e2e/conformance/tests/httproute-canary-header.go
  test/e2e/conformance/tests/httproute-canary-header.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

ignore binary body in plugins (#711)
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
  plugins/wasm-go/pkg/wrapper/request_wrapper.go
Owners: @johnlanni

ignore binary body in plugins (#711)
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
  plugins/wasm-go/pkg/wrapper/request_wrapper.go
Owners: @johnlanni

ignore binary body in plugins (#711)
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
  plugins/wasm-go/pkg/wrapper/request_wrapper.go
Owners: @johnlanni

fix: mapSource bug
  plugins/wasm-go/extensions/transformer/main.go
  plugins/wasm-go/extensions/transformer/utils.go
Owners: @johnlanni

add: transformer e2e test
  test/e2e/conformance/tests/go-wasm-transformer.go
  test/e2e/conformance/tests/go-wasm-transformer.yaml
Owners: @Xunzhuo

fix eureka service discovery not work in standalone mode
  registry/eureka/watcher.go
Owners: @NameHaibinZhang, @johnlanni

support empty config without custom config func
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
Owners: @johnlanni

support empty config with custom config func (#718)
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
Owners: @johnlanni

support empty config with custom config func (#718)
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
Owners: @johnlanni

support empty config with custom config func (#718)
  plugins/wasm-go/pkg/wrapper/plugin_wrapper.go
Owners: @johnlanni

fix eureka service discovery not work in standalone mode (#714)
  registry/eureka/watcher.go
Owners: @NameHaibinZhang, @johnlanni

fix eureka service discovery not work in standalone mode (#714)
  registry/eureka/watcher.go
Owners: @NameHaibinZhang, @johnlanni

fix eureka service discovery not work in standalone mode (#714)
  registry/eureka/watcher.go
Owners: @NameHaibinZhang, @johnlanni

rel: Release version 1.3.2
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

rel: Release version 1.3.2 (#719)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

rel: Release version 1.3.2 (#719)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none
