Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

AI proxy plugin (#420)
  plugins/wasm-go/extensions/chatgpt-proxy/README.md
  plugins/wasm-go/extensions/chatgpt-proxy/go.mod
  plugins/wasm-go/extensions/chatgpt-proxy/go.sum
  plugins/wasm-go/extensions/chatgpt-proxy/main.go
  plugins/wasm-go/extensions/chatgpt-proxy/main.wasm
Owners: @johnlanni

AI proxy plugin (#420)
  plugins/wasm-go/extensions/chatgpt-proxy/README.md
  plugins/wasm-go/extensions/chatgpt-proxy/go.mod
  plugins/wasm-go/extensions/chatgpt-proxy/go.sum
  plugins/wasm-go/extensions/chatgpt-proxy/main.go
  plugins/wasm-go/extensions/chatgpt-proxy/main.wasm
Owners: @johnlanni

AI proxy plugin (#420)
  plugins/wasm-go/extensions/chatgpt-proxy/README.md
  plugins/wasm-go/extensions/chatgpt-proxy/go.mod
  plugins/wasm-go/extensions/chatgpt-proxy/go.sum
  plugins/wasm-go/extensions/chatgpt-proxy/main.go
  plugins/wasm-go/extensions/chatgpt-proxy/main.wasm
Owners: @johnlanni

Release 1.1 (#412)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
  pkg/ingress/kube/ingress/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Release 1.1 (#412)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
  pkg/ingress/kube/ingress/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Release 1.1 (#412)
  Makefile.core.mk
  VERSION
  helm/core/Chart.yaml
  helm/core/values.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
  pkg/ingress/kube/ingress/controller.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: Add a GitHub action to deploy standalone packages to OSS
  .github/workflows/deploy-standalone-to-oss.yaml
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

feat: Add a GitHub action to deploy standalone packages to OSS (#421)
  .github/workflows/deploy-standalone-to-oss.yaml
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

feat: Add a GitHub action to deploy standalone packages to OSS (#421)
  .github/workflows/deploy-standalone-to-oss.yaml
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

feat: Add a GitHub action to deploy standalone packages to OSS (#421)
  .github/workflows/deploy-standalone-to-oss.yaml
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

feat: add higress base image
  Makefile.core.mk
  docker/Dockerfile.base
Owners: none

fix: Remove two debug logs
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

fix: Remove two debug logs (#424)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

fix: Remove two debug logs (#424)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

fix: Remove two debug logs (#424)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

fix: Fix the incompatibility issue with Windows using pipeline
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

fix: Fix the incompatibility issue with Windows using pipeline (#426)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

fix: Fix the incompatibility issue with Windows using pipeline (#426)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

fix: Fix the incompatibility issue with Windows using pipeline (#426)
  tools/get-higress.sh
Owners: @johnlanni, @Xunzhuo

update console version
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

update console version (#427)
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

update console version (#427)
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

update console version (#427)
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

Update README_EN.md
  README_EN.md
Owners: none

Update README_EN.md
  README_EN.md
Owners: none

Update README_EN.md
  README_EN.md
Owners: none

Update README_EN.md
  README_EN.md
Owners: none

Update README_EN.md
  README_EN.md
Owners: none

Update README_EN.md
  README_EN.md
Owners: none

Update wasm.pb.go
  api/extensions/v1alpha1/wasm.pb.go
Owners: @johnlanni

Fix
  api/extensions/v1alpha1/wasm.proto
Owners: @johnlanni

Update values.yaml
  helm/core/values.yaml
Owners: none

Update values.yaml (#432)
  helm/core/values.yaml
Owners: none

Update values.yaml (#432)
  helm/core/values.yaml
Owners: none

Update values.yaml (#432)
  helm/core/values.yaml
Owners: none

Update wasm.pb.go (#430)
  api/extensions/v1alpha1/wasm.pb.go
  api/extensions/v1alpha1/wasm.proto
Owners: @johnlanni

Update wasm.pb.go (#430)
  api/extensions/v1alpha1/wasm.pb.go
  api/extensions/v1alpha1/wasm.proto
Owners: @johnlanni

Update wasm.pb.go (#430)
  api/extensions/v1alpha1/wasm.pb.go
  api/extensions/v1alpha1/wasm.proto
Owners: @johnlanni

enable PILOT_FILTER_GATEWAY_CLUSTER_CONFIG
  helm/core/templates/controller-deployment.yaml
Owners: none

feat: add chatgpt-azure-director
  plugins/wasm-go/extensions/chatgpt-azure-director/README.md
  plugins/wasm-go/extensions/chatgpt-azure-director/envoy.yaml
  plugins/wasm-go/extensions/chatgpt-azure-director/go.mod
  plugins/wasm-go/extensions/chatgpt-azure-director/go.sum
  plugins/wasm-go/extensions/chatgpt-azure-director/main.go
Owners: @johnlanni

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo
