Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo

update max_age default value in readme
  plugins/wasm-go/extensions/cors/README.md
Owners: @johnlanni

Return raw origin header in the request when allow_origins is *
  plugins/wasm-go/extensions/cors/config/cors_config.go
  plugins/wasm-go/extensions/cors/config/cors_config_test.go
Owners: @johnlanni

Return all raw http methods when allow_methods is *
  plugins/wasm-go/extensions/cors/config/cors_config.go
  plugins/wasm-go/extensions/cors/config/cors_config_test.go
Owners: @johnlanni

fix: Fix e2e 'request header control' and add some testcases
  test/ingress/conformance/tests/httproute-request-header-control.go
  test/ingress/conformance/tests/httproute-request-header-control.yaml
  test/ingress/e2e_test.go
Owners: @Xunzhuo

update defaultMaxAge to 86400 seconds
  plugins/wasm-go/extensions/cors/README.md
  plugins/wasm-go/extensions/cors/config/cors_config.go
Owners: @johnlanni

fix: Fix e2e 'request header control' and add some testcases (#352)
  test/ingress/conformance/tests/httproute-request-header-control.go
  test/ingress/conformance/tests/httproute-request-header-control.yaml
  test/ingress/e2e_test.go
Owners: @Xunzhuo

fix: Fix e2e 'request header control' and add some testcases (#352)
  test/ingress/conformance/tests/httproute-request-header-control.go
  test/ingress/conformance/tests/httproute-request-header-control.yaml
  test/ingress/e2e_test.go
Owners: @Xunzhuo

Plugin cors (#349)
  plugins/wasm-go/extensions/cors/README.md
  plugins/wasm-go/extensions/cors/VERSION
  plugins/wasm-go/extensions/cors/config/cors_config.go
  plugins/wasm-go/extensions/cors/config/cors_config_test.go
  plugins/wasm-go/extensions/cors/cors.yaml
  plugins/wasm-go/extensions/cors/envoy.yaml
  plugins/wasm-go/extensions/cors/go.mod
  plugins/wasm-go/extensions/cors/go.sum
  plugins/wasm-go/extensions/cors/main.go
Owners: @johnlanni

Plugin cors (#349)
  plugins/wasm-go/extensions/cors/README.md
  plugins/wasm-go/extensions/cors/VERSION
  plugins/wasm-go/extensions/cors/config/cors_config.go
  plugins/wasm-go/extensions/cors/config/cors_config_test.go
  plugins/wasm-go/extensions/cors/cors.yaml
  plugins/wasm-go/extensions/cors/envoy.yaml
  plugins/wasm-go/extensions/cors/go.mod
  plugins/wasm-go/extensions/cors/go.sum
  plugins/wasm-go/extensions/cors/main.go
Owners: @johnlanni

ci: enable building files caching
  .github/workflows/build-and-test.yaml
Owners: none

fix: e2e refers (#345)
  test/ingress/conformance/tests/httproute-force-redirect-https.go
  test/ingress/conformance/tests/httproute-redirect-as-https.go
Owners: @Xunzhuo

fix: e2e refers (#345)
  test/ingress/conformance/tests/httproute-force-redirect-https.go
  test/ingress/conformance/tests/httproute-redirect-as-https.go
Owners: @Xunzhuo

feat: Add e2e testcases for 'auth-tls-secret' and 'ssl-cipher'
  test/ingress/conformance/tests/httproute-downstream-encryption.go
  test/ingress/conformance/tests/httproute-downstream-encryption.yaml
  test/ingress/conformance/utils/cert/cert.go
  test/ingress/conformance/utils/config/timeout.go
  test/ingress/conformance/utils/http/http.go
  test/ingress/conformance/utils/kubernetes/cert.go
  test/ingress/conformance/utils/roundtripper/roundtripper.go
  test/ingress/e2e_test.go
Owners: @Xunzhuo

fix: Add license header
  test/ingress/conformance/utils/cert/cert.go
Owners: @Xunzhuo

feat: Add e2e testcases for 'auth-tls-secret' and 'ssl-cipher' (#354)
  test/ingress/conformance/tests/httproute-downstream-encryption.go
  test/ingress/conformance/tests/httproute-downstream-encryption.yaml
  test/ingress/conformance/utils/cert/cert.go
  test/ingress/conformance/utils/config/timeout.go
  test/ingress/conformance/utils/http/http.go
  test/ingress/conformance/utils/kubernetes/cert.go
  test/ingress/conformance/utils/roundtripper/roundtripper.go
  test/ingress/e2e_test.go
Owners: @Xunzhuo

feat: Add e2e testcases for 'auth-tls-secret' and 'ssl-cipher' (#354)
  test/ingress/conformance/tests/httproute-downstream-encryption.go
  test/ingress/conformance/tests/httproute-downstream-encryption.yaml
  test/ingress/conformance/utils/cert/cert.go
  test/ingress/conformance/utils/config/timeout.go
  test/ingress/conformance/utils/http/http.go
  test/ingress/conformance/utils/kubernetes/cert.go
  test/ingress/conformance/utils/roundtripper/roundtripper.go
  test/ingress/e2e_test.go
Owners: @Xunzhuo

feat: Add e2e testcases for 'auth-tls-secret' and 'ssl-cipher' (#354)
  test/ingress/conformance/tests/httproute-downstream-encryption.go
  test/ingress/conformance/tests/httproute-downstream-encryption.yaml
  test/ingress/conformance/utils/cert/cert.go
  test/ingress/conformance/utils/config/timeout.go
  test/ingress/conformance/utils/http/http.go
  test/ingress/conformance/utils/kubernetes/cert.go
  test/ingress/conformance/utils/roundtripper/roundtripper.go
  test/ingress/e2e_test.go
Owners: @Xunzhuo

add comments
  pkg/ingress/kube/common/model.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

support full path regex
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/rewrite.go
  pkg/ingress/kube/common/model.go
  pkg/ingress/kube/common/tool_test.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  test/ingress/conformance/tests/httproute-rewrite-path.go
  test/ingress/conformance/tests/httproute-rewrite-path.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix unit test
  pkg/ingress/kube/common/tool_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix e2e
  test/ingress/conformance/tests/httproute-full-path-regex.go
  test/ingress/conformance/tests/httproute-full-path-regex.yaml
  test/ingress/e2e_test.go
Owners: @Xunzhuo

resolve conflict
  test/ingress/conformance/tests/httproute-canary-weight.go
  test/ingress/conformance/tests/httproute-canary-weight.yaml
  test/ingress/conformance/utils/http/http.go
Owners: @Xunzhuo

trigger ci
  test/ingress/conformance/utils/http/http.go
Owners: @Xunzhuo

fix
  test/ingress/conformance/utils/http/http.go
Owners: @Xunzhuo

add rateDeviation
  test/ingress/conformance/tests/httproute-canary-weight.go
  test/ingress/conformance/utils/http/http.go
Owners: @Xunzhuo

fix
  test/ingress/conformance/tests/httproute-canary-weight.go
  test/ingress/conformance/utils/http/http.go
Owners: @Xunzhuo

fix: add a blank line
  test/ingress/conformance/tests/httproute-canary-weight.yaml
Owners: @Xunzhuo

fix
  test/ingress/conformance/tests/httproute-canary-weight.go
  test/ingress/conformance/utils/http/http.go
Owners: @Xunzhuo

change variable name: strictRegex => FullPathRegex
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/common/model.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  test/ingress/conformance/tests/httproute-full-path-regex.go
  test/ingress/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

ci: enable building files caching (#323)
  .github/workflows/build-and-test.yaml
Owners: none

ci: enable building files caching (#323)
  .github/workflows/build-and-test.yaml
Owners: none

ci: enable building files caching (#323)
  .github/workflows/build-and-test.yaml
Owners: none

feat: support full path regex annotation (#286)
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/rewrite.go
  pkg/ingress/kube/common/model.go
  pkg/ingress/kube/common/tool_test.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  test/ingress/conformance/tests/httproute-full-path-regex.go
  test/ingress/conformance/tests/httproute-full-path-regex.yaml
  test/ingress/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: support full path regex annotation (#286)
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/rewrite.go
  pkg/ingress/kube/common/model.go
  pkg/ingress/kube/common/tool_test.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  test/ingress/conformance/tests/httproute-full-path-regex.go
  test/ingress/conformance/tests/httproute-full-path-regex.yaml
  test/ingress/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: support full path regex annotation (#286)
  pkg/ingress/kube/annotations/annotations.go
  pkg/ingress/kube/annotations/rewrite.go
  pkg/ingress/kube/common/model.go
  pkg/ingress/kube/common/tool_test.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingressv1/controller.go
  test/ingress/conformance/tests/httproute-full-path-regex.go
  test/ingress/conformance/tests/httproute-full-path-regex.yaml
  test/ingress/e2e_test.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

fix: Fix some compatibility issues related to older versions of K8s
  helm/core/.helmignore
  helm/core/crds/customresourcedefinitions.gen_lt1.16.yaml
  istio/1.12/patches/istio/20230603-unwatch-webhook.patch
  pkg/ingress/kube/ingress/status.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

update local test
  plugins/wasm-go/extensions/waf/build/Dockerfile
  plugins/wasm-go/extensions/waf/build/app.py
  plugins/wasm-go/extensions/waf/build/docker-compose.yaml
  plugins/wasm-go/extensions/waf/build/envoy-config.yaml
Owners: @johnlanni

fix a typo
  helm/core/crds/customresourcedefinitions.gen_lt1.16.yaml
Owners: none

feat: add wasm-rust sdk with `say-hello` simple extension
  .gitignore
  plugins/wasm-rust/.dockerignore
  plugins/wasm-rust/Cargo.lock
  plugins/wasm-rust/Cargo.toml
  plugins/wasm-rust/Dockerfile
  plugins/wasm-rust/Makefile
  plugins/wasm-rust/README.md
  plugins/wasm-rust/extensions/say-hello/Cargo.lock
  plugins/wasm-rust/extensions/say-hello/Cargo.toml
  plugins/wasm-rust/extensions/say-hello/docker-compose.yaml
  plugins/wasm-rust/extensions/say-hello/envoy.yaml
  plugins/wasm-rust/extensions/say-hello/src/lib.rs
  plugins/wasm-rust/src/error.rs
  plugins/wasm-rust/src/internal.rs
  plugins/wasm-rust/src/lib.rs
  plugins/wasm-rust/src/log.rs
  plugins/wasm-rust/src/rule_matcher.rs
Owners: @johnlanni

fix: Remove unused ingressClassLister field from statusSyncer structs
  pkg/ingress/kube/ingress/status.go
  pkg/ingress/kube/ingressv1/status.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo
