Repository alibaba/higress, changes with the owners that CODEOWNERS names for each.
All owners: @johnlanni, @gengleilei, @Lynskylate, @SpecialYang, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

feat: support KnativeIngress (#524)
  go.mod
  go.sum
  helm/core/templates/controller-clusterrole.yaml
  pkg/bootstrap/server.go
  pkg/config/constants/constants.go
  pkg/ingress/config/kingress_config.go
  pkg/ingress/config/kingress_config_test.go
  pkg/ingress/kube/common/controller.go
  pkg/ingress/kube/kingress/controller.go
  pkg/ingress/kube/kingress/controller_test.go
  pkg/ingress/kube/kingress/resources/doc.go
  pkg/ingress/kube/kingress/resources/virtual_service.go
  pkg/ingress/kube/kingress/resources/virtual_service_test.go
  pkg/ingress/kube/kingress/status.go
  pkg/ingress/translation/translation.go
  pkg/kube/client.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: support KnativeIngress (#524)
  go.mod
  go.sum
  helm/core/templates/controller-clusterrole.yaml
  pkg/bootstrap/server.go
  pkg/config/constants/constants.go
  pkg/ingress/config/kingress_config.go
  pkg/ingress/config/kingress_config_test.go
  pkg/ingress/kube/common/controller.go
  pkg/ingress/kube/kingress/controller.go
  pkg/ingress/kube/kingress/controller_test.go
  pkg/ingress/kube/kingress/resources/doc.go
  pkg/ingress/kube/kingress/resources/virtual_service.go
  pkg/ingress/kube/kingress/resources/virtual_service_test.go
  pkg/ingress/kube/kingress/status.go
  pkg/ingress/translation/translation.go
  pkg/kube/client.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: support KnativeIngress (#524)
  go.mod
  go.sum
  helm/core/templates/controller-clusterrole.yaml
  pkg/bootstrap/server.go
  pkg/config/constants/constants.go
  pkg/ingress/config/kingress_config.go
  pkg/ingress/config/kingress_config_test.go
  pkg/ingress/kube/common/controller.go
  pkg/ingress/kube/kingress/controller.go
  pkg/ingress/kube/kingress/controller_test.go
  pkg/ingress/kube/kingress/resources/doc.go
  pkg/ingress/kube/kingress/resources/virtual_service.go
  pkg/ingress/kube/kingress/resources/virtual_service_test.go
  pkg/ingress/kube/kingress/status.go
  pkg/ingress/translation/translation.go
  pkg/kube/client.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

update
  pkg/cmd/hgctl/dashboard.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add hgctl dashboard support (#552)
  pkg/cmd/hgctl/configRetriever.go
  pkg/cmd/hgctl/config_test.go
  pkg/cmd/hgctl/dashboard.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/kubernetes/port-forwarder.go
  pkg/cmd/hgctl/root.go
  pkg/cmd/hgctl/uninstall.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add hgctl dashboard support (#552)
  pkg/cmd/hgctl/configRetriever.go
  pkg/cmd/hgctl/config_test.go
  pkg/cmd/hgctl/dashboard.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/kubernetes/port-forwarder.go
  pkg/cmd/hgctl/root.go
  pkg/cmd/hgctl/uninstall.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add hgctl dashboard support (#552)
  pkg/cmd/hgctl/configRetriever.go
  pkg/cmd/hgctl/config_test.go
  pkg/cmd/hgctl/dashboard.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/kubernetes/port-forwarder.go
  pkg/cmd/hgctl/root.go
  pkg/cmd/hgctl/uninstall.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add hgctl manifest support
  pkg/cmd/hgctl/config_bootstrap.go
  pkg/cmd/hgctl/config_cluster.go
  pkg/cmd/hgctl/config_cmd.go
  pkg/cmd/hgctl/config_endpoint.go
  pkg/cmd/hgctl/config_listener.go
  pkg/cmd/hgctl/config_retriever.go
  pkg/cmd/hgctl/config_route.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/component.go
  pkg/cmd/hgctl/installer/higress.go
  pkg/cmd/hgctl/installer/installer.go
  pkg/cmd/hgctl/installer/istio.go
  pkg/cmd/hgctl/manifest.go
  pkg/cmd/hgctl/profile_dump.go
  pkg/cmd/hgctl/profile_list.go
  pkg/cmd/hgctl/root.go
  pkg/cmd/hgctl/uninstall.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: Use higress as the default gateway class for Gateway API integration
  Makefile.core.mk
  istio/1.12/patches/istio/20230922-gateway-class.patch
Owners: @SpecialYang, @johnlanni

feat: Use higress as the default gateway class for Gateway API integation (#555)
  Makefile.core.mk
  istio/1.12/patches/istio/20230922-gateway-class.patch
Owners: @SpecialYang, @johnlanni

feat: Use higress as the default gateway class for Gateway API integation (#555)
  Makefile.core.mk
  istio/1.12/patches/istio/20230922-gateway-class.patch
Owners: @SpecialYang, @johnlanni

feat: Use higress as the default gateway class for Gateway API integation (#555)
  Makefile.core.mk
  istio/1.12/patches/istio/20230922-gateway-class.patch
Owners: @SpecialYang, @johnlanni

feat: add hgctl manifest support (#554)
  pkg/cmd/hgctl/config_bootstrap.go
  pkg/cmd/hgctl/config_cluster.go
  pkg/cmd/hgctl/config_cmd.go
  pkg/cmd/hgctl/config_endpoint.go
  pkg/cmd/hgctl/config_listener.go
  pkg/cmd/hgctl/config_retriever.go
  pkg/cmd/hgctl/config_route.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/component.go
  pkg/cmd/hgctl/installer/higress.go
  pkg/cmd/hgctl/installer/installer.go
  pkg/cmd/hgctl/installer/istio.go
  pkg/cmd/hgctl/manifest.go
  pkg/cmd/hgctl/profile_dump.go
  pkg/cmd/hgctl/profile_list.go
  pkg/cmd/hgctl/root.go
  pkg/cmd/hgctl/uninstall.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add hgctl manifest support (#554)
  pkg/cmd/hgctl/config_bootstrap.go
  pkg/cmd/hgctl/config_cluster.go
  pkg/cmd/hgctl/config_cmd.go
  pkg/cmd/hgctl/config_endpoint.go
  pkg/cmd/hgctl/config_listener.go
  pkg/cmd/hgctl/config_retriever.go
  pkg/cmd/hgctl/config_route.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/component.go
  pkg/cmd/hgctl/installer/higress.go
  pkg/cmd/hgctl/installer/installer.go
  pkg/cmd/hgctl/installer/istio.go
  pkg/cmd/hgctl/manifest.go
  pkg/cmd/hgctl/profile_dump.go
  pkg/cmd/hgctl/profile_list.go
  pkg/cmd/hgctl/root.go
  pkg/cmd/hgctl/uninstall.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

feat: add hgctl manifest support (#554)
  pkg/cmd/hgctl/config_bootstrap.go
  pkg/cmd/hgctl/config_cluster.go
  pkg/cmd/hgctl/config_cmd.go
  pkg/cmd/hgctl/config_endpoint.go
  pkg/cmd/hgctl/config_listener.go
  pkg/cmd/hgctl/config_retriever.go
  pkg/cmd/hgctl/config_route.go
  pkg/cmd/hgctl/install.go
  pkg/cmd/hgctl/installer/component.go
  pkg/cmd/hgctl/installer/higress.go
  pkg/cmd/hgctl/installer/installer.go
  pkg/cmd/hgctl/installer/istio.go
  pkg/cmd/hgctl/manifest.go
  pkg/cmd/hgctl/profile_dump.go
  pkg/cmd/hgctl/profile_list.go
  pkg/cmd/hgctl/root.go
  pkg/cmd/hgctl/uninstall.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Update VERSION
  VERSION
Owners: none

Update VERSION
  VERSION
Owners: none

Update VERSION
  VERSION
Owners: none

rel: Release version 1.2.0
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

update istio&envoy image tag
  Makefile.core.mk
Owners: none

Update README.md
  plugins/wasm-go/extensions/request-block/README.md
Owners: @johnlanni

change repo for images used by ci
  Makefile.core.mk
Owners: none

rel: Release version 1.2.0 (#556)
  Makefile.core.mk
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

rel: Release version 1.2.0 (#556)
  Makefile.core.mk
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

rel: Release version 1.2.0 (#556)
  Makefile.core.mk
  helm/core/Chart.yaml
  helm/higress/Chart.lock
  helm/higress/Chart.yaml
Owners: none

feat: Upgrade istio to 1.18 and envoy to 1.26
  .gitmodules
  tools/hack/prebuild.sh
Owners: @johnlanni, @Xunzhuo

Move submodules to the external folder
  .gitignore
  .gitmodules
  tools/hack/prebuild.sh
Owners: @johnlanni, @Xunzhuo

Remove unnecessary replace statements in go.mod
  go.mod
Owners: none

Run "go mod tidy"
  go.mod
  go.sum
Owners: none

Fix panics after starting up
  api/extensions/v1alpha1/wasm.pb.go
  pkg/bootstrap/server.go
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo

Fix the MCP cache syncing issue
  pkg/bootstrap/server.go
  pkg/ingress/mcp/generator.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Run "go mod tidy"
  go.mod
  go.sum
Owners: none

fix reconcile of mcpbridge
  Makefile.core.mk
  pkg/ingress/config/ingress_config.go
  pkg/ingress/config/kingress_config.go
  pkg/ingress/kube/controller/model.go
  registry/reconcile/reconcile.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

fix reconcile of mcpbridge (#559)
  Makefile.core.mk
  pkg/ingress/config/ingress_config.go
  pkg/ingress/config/kingress_config.go
  pkg/ingress/kube/controller/model.go
  registry/reconcile/reconcile.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

fix reconcile of mcpbridge (#559)
  Makefile.core.mk
  pkg/ingress/config/ingress_config.go
  pkg/ingress/config/kingress_config.go
  pkg/ingress/kube/controller/model.go
  registry/reconcile/reconcile.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

fix reconcile of mcpbridge (#559)
  Makefile.core.mk
  pkg/ingress/config/ingress_config.go
  pkg/ingress/config/kingress_config.go
  pkg/ingress/kube/controller/model.go
  registry/reconcile/reconcile.go
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo, @NameHaibinZhang

update source for images used when building wasm-go plugins
  tools/hack/build-wasm-plugins.sh
Owners: @johnlanni, @Xunzhuo

update higress version to latest in profiles for installation
  pkg/cmd/hgctl/manifests/profiles/_all.yaml
  pkg/cmd/hgctl/manifests/profiles/k8s.yaml
  pkg/cmd/hgctl/manifests/profiles/local-k8s.yaml
Owners: @SpecialYang, @johnlanni, @Charlie17Li, @Xunzhuo

Fix compilation errors
  api/extensions/v1alpha1/wasm.pb.go
  api/extensions/v1alpha1/wasm.proto
  pkg/bootstrap/server.go
  pkg/ingress/config/ingress_config.go
  pkg/ingress/config/kingress_config.go
  pkg/ingress/kube/annotations/auth_test.go
  pkg/ingress/kube/annotations/default_backend.go
  pkg/ingress/kube/annotations/default_backend_test.go
  pkg/ingress/kube/annotations/downstreamtls.go
  pkg/ingress/kube/annotations/downstreamtls_test.go
  pkg/ingress/kube/annotations/util.go
  pkg/ingress/kube/annotations/util_test.go
  pkg/ingress/kube/configmap/controller.go
  pkg/ingress/kube/controller/model.go
  pkg/ingress/kube/http2rpc/controller.go
  pkg/ingress/kube/ingress/controller.go
  pkg/ingress/kube/ingress/controller_test.go
  pkg/ingress/kube/ingress/status.go
  pkg/ingress/kube/ingressv1/controller.go
  pkg/ingress/kube/ingressv1/status.go
  pkg/ingress/kube/kingress/controller.go
  pkg/ingress/kube/kingress/controller_test.go
  pkg/ingress/kube/kingress/status.go
  pkg/ingress/kube/mcpbridge/controller.go
  pkg/ingress/kube/secret/controller.go
  pkg/ingress/kube/secret/controller_test.go
  pkg/ingress/kube/util/util.go
  pkg/ingress/kube/util/util_test.go
  pkg/ingress/kube/wasmplugin/controller.go
Owners: @johnlanni, @SpecialYang, @Charlie17Li, @Xunzhuo

feat: add request block regular matching and modify block_ Urls are e… (#517)
  plugins/wasm-go/extensions/request-block/README.md
  plugins/wasm-go/extensions/request-block/VERSION
  plugins/wasm-go/extensions/request-block/main.go
  test/e2e/conformance/tests/go-wasm-request-block.go
  test/e2e/conformance/tests/go-wasm-request-block.yaml
Owners: @johnlanni, @Xunzhuo

CODEOWNERS:

/api @johnlanni 
/envoy @gengleilei @johnlanni @Lynskylate
/istio @SpecialYang @johnlanni
/pkg @SpecialYang @johnlanni @Charlie17Li @Xunzhuo
/plugins @johnlanni
/registry @NameHaibinZhang @johnlanni
/test @Xunzhuo
/tools @johnlanni @Xunzhuo
